.container{ padding-top: 15px;}

.btn { border-radius: 25px; margin-left: 15px; margin-top: 15px;}

mat-form-field {width: 195px;}

.barraTitulo { font-size: 25px; text-align: center; background: rgba(22, 106, 216, 0.828); color: white; border-radius: 10px; padding-top: 10px; padding-bottom: 6px; }

.empleadoR-tooltip { background: #276bc3;}

.titulo { position: relative; float: left; font-size: 25px; font-weight: bold; text-align: center; color: rgb(0, 0, 0);}

.subtitulo { font-weight: bold; padding-left: 5px; padding-top: 25px; padding-bottom: 25px; text-align: justify;}
