<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <mat-card class="example-card mat-elevation-z8">
        <mat-toolbar style="background: white;">
            <span>Añadir Empleado</span>
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="nuevoEmpleadoForm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Cédula</mat-label>
                                <input matInput placeholder="Ingrese cedula de identidad" maxlength="10"
                                    [formControl]="cedula" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Ej: " type="text" [formControl]="nombre" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Apellido</mat-label>
                                <input matInput placeholder="Ej: " type="text" [formControl]="apellido" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Domicilio</mat-label>
                                <input matInput placeholder="Ingrese dirección de domicilio" type="text"
                                    [formControl]="domicilio" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Ingrese número telefónico" type="number"
                                    [formControl]="telefono" maxlength="10" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Correo Electrónico</mat-label>
                                <input matInput type="text" placeholder="ejemplo@mail.com" [formControl]="email" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Correo Electrónico Alternativo</mat-label>
                                <input matInput type="text" placeholder="ejemplo2@mail.com"
                                    [formControl]="correoAlternativo" required>
                            </mat-form-field>
                        </div>
    
                        <div class="col-sm">
                            <mat-form-field>
                                <input matInput type="date" placeholder="Selecciona fecha" [formControl]="fecha" required>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Estado Civil</mat-label>
                                <mat-select [formControl]="estadoCivil">
                                    <mat-option [value]="1">Soltero/a</mat-option>
                                    <mat-option [value]="2">Unión de Hecho</mat-option>
                                    <mat-option [value]="3">Casado/a</mat-option>
                                    <mat-option [value]="4">Divorciado/a</mat-option>
                                    <mat-option [value]="5">Viudo/a</mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Genero</mat-label>
                                <mat-select [formControl]="genero">
                                    <mat-option [value]="1">Masculino</mat-option>
                                    <mat-option [value]="2">Femenino</mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Estado</mat-label>
                                <mat-select [formControl]="genero">
                                    <mat-option [value]="1">Activo</mat-option>
                                    <mat-option [value]="2">Inactivo</mat-option>
                                </mat-select>
                            </mat-form-field>
    
                        </div>
    
                        <div class="col-sm">
                            <br>
                            <mat-form-field>
                                <mat-label>Seleccione Rol...</mat-label>
                                <mat-select [formControl]="">
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Usuario</mat-label>
                                <input matInput placeholder="Ej: " type="text" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Ej: " type="password" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="date" placeholder="Fecha Vencimiento" required>
                            </mat-form-field>
                            <section class="example-section">
                                <mat-radio-group aria-label="Select an option" required>
                                    <label>Estado</label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <mat-radio-button value="true">Activo</mat-radio-button>
                                                <mat-radio-button value="false">No</mat-radio-button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </section>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <input type="submit" class="btn btn-primary" (click)="insertarEmpleado(nuevoEmpleadoForm.value)"
                style="margin-left: 15px;" value="Grabar">
            <input type="submit" class="btn btn-danger" (click)="limpliarCampos()" style="margin-left: 15px;"
                value="Cancelar">
        </mat-card-actions>
    </mat-card>

    
</div>