.btn { margin-left: 15px; border-radius: 25px;}
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
#feriado { color:rgb(66, 0, 128); font-size: 18px;}
.registrarF-tooltip { background-color : rgb(66, 0, 128); }
.barraTituloR { 
    font-size: 18px; 
    text-align: center; 
    background: rgb(66, 0, 128) ; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
}