<mat-icon id="movilidad">open_with</mat-icon>
<div class="barraTituloR">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Registra Nuevo Feriado</span>
</div>
<br>
<!-- Formulario Completo -->
<form [formGroup]="FeriadosForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Descripción feriado" [formControl]="descripcionF"
                    (keypress)="IngresarSoloLetras($event)" required>
                    <mat-icon id="feriado" matSuffix matTooltipClass="registrarF-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar nombre del nuevo feriado">help_outline</mat-icon>
                <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeErrorNombreRequerido()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput type="date" placeholder="Seleccionar fecha" [formControl]="fechaF" required>
                <mat-icon id="feriado" matSuffix matTooltipClass="registrarF-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar fecha del feriado">event</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha Recuperación</mat-label>
                <input matInput type="date" placeholder="Selecionar fecha" [formControl]="fechaRecuperacionF">
                <mat-icon id="feriado" matSuffix matTooltipClass="registrarF-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar fecha de recuperación para el feriado, si es recuperable">date_range</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
<mat-card-actions style="text-align: center">
    <input type="submit" class="btn btn-sm" [disabled]="!FeriadosForm.valid"
        (click)="InsertarFeriado(FeriadosForm.value)" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroFeriado()" value="Salir">
</mat-card-actions>