<mat-icon>open_with</mat-icon>
<h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="text-align: center">Añadir Feriado</h5>
<!-- Formulario Completo -->
<form [formGroup]="FeriadosForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Descripción feriado" [formControl]="descripcionF"
                    (keypress)="IngresarSoloLetras($event)" required>
                <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeErrorNombreRequerido()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput type="date" placeholder="Seleccionar fecha" [formControl]="fechaF" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha Recuperación</mat-label>
                <input matInput type="date" placeholder="Selecionar fecha" [formControl]="fechaRecuperacionF">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
<mat-card-actions style="text-align: center">
    <input type="submit" class="btn btn-primary btn-sm" [disabled]="!FeriadosForm.valid"
        (click)="InsertarFeriado(FeriadosForm.value)" value="Guardar">
    <input type="submit" class="btn btn-danger btn-sm" (click)="CerrarVentanaRegistroFeriado()" value="Salir">
</mat-card-actions>