<div class="container" *ngFor="let e of datosEmpresa" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>{{e.nombre.toUpperCase()}}</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <br>
                <div class="row">
                    <div class="col" id="verticalLine">
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">LOGO EMPRESA</label>
                        </div>
                        <br>
                        <div class="btn-contenedor">
                            <figure class="text-center">
                                <img *ngIf="!imagen_default" src="../../../../../assets/imagenes/photo.png"
                                    alt="logo_default" srcset="" id="style_logo">
                                <img *ngIf="imagen_default" src="{{logo}}" alt="logo_empresa" srcset="" id="style_logo">
                                <br>
                                <a (click)="EditarLogo()" matSuffix matTooltipPosition="right"
                                    matTooltip="Editar logo de la empresa">
                                    <mat-icon id="logo">add_a_photo</mat-icon>
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col" id="verticalLine">
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">INFORMACIÓN GENERAL</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">RUC:</label>
                            <label>{{e.ruc}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Dirección:</label>
                            <label>{{e.direccion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Teléfono:</label>
                            <label>{{e.telefono}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Correo:</label>
                            <label>{{e.correo}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Representante:</label>
                            <label>{{e.representante}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Tipo de Empresa:</label>
                            <label>{{e.tipo_empresa}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Establecimientos:</label>
                            <label>{{e.establecimiento}}</label>
                        </div>
                        <div *ngIf="e.num_partida != null && e.num_partida != ''"
                            class="caja1 d-flex justify-content-start">
                            <label id="datosF">Num. Partida Presupuestaria:</label>
                        </div>
                        <div class="caja1 d-flex justify-content-around">
                            <label style="font-size: 11px;">{{e.num_partida}}</label>
                        </div>
                        <div style="text-align: right;">
                            <i id="editarF" (click)="EditarDatosEmpresa(e)" matSuffix matTooltipClass="color-tooltip"
                                matTooltipPosition="right" matTooltip="Modificar datos de este registro"
                                class="fas fa-edit">
                                <p>Editar</p>
                            </i>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" id="verticalLine">
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">MODIFICAR AUTORIZACIONES</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start" *ngIf="!conCambios">
                            <label id="datosF">Hasta:</label>
                            <label>{{e.dias_cambio}} días antes de la fecha</label>
                        </div>
                        <div class="caja1 d-flex justify-content-around text-center" *ngIf="!cambiosTodos">
                            <label>Puede realizar cambios en solicitudes autorizadas</label>
                        </div>
                        <div class="caja1 d-flex justify-content-around text-center" *ngIf="!sinCambios">
                            <label>No realizar cambios en solicitudes autorizadas</label>
                        </div>
                        <br>
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">NIVEL DE SEGURIDAD</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Doble seguridad:</label>
                            <label *ngIf="e.seg_ninguna === true">Ninguna</label>
                            <label *ngIf="e.seg_frase === true">Usar una Frase</label>
                            <label *ngIf="e.seg_contrasena === true">Usar Contraseña</label>
                        </div>
                        <div class="d-flex justify-content-around text-center">
                            <button mat-button type="submit" class="btn btn-sm"
                                (click)="AbrirVentanaSeguridad(e)">Seguridad</button>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col" id="verticalLine">
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">CONFIGURACIÓN EMAIL</label>
                        </div>
                        <div class="d-flex justify-content-around text-center">
                            <button mat-button type="submit" class="btn btn-sm"
                                (click)="ConfigurarCorreoElectronico(e)">Email Empresa</button>
                        </div>
                        <br>
                        <div class="d-flex justify-content-around text-center">
                            <label id="datosF">COLORES EMPRESA</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Color Principal:</label>
                            <input type="color" value="{{e.color_p}}" matSuffix matTooltipClass="enrol-tooltip"
                                matTooltip="Seleccionar color principal" disabled>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Color Secundario:</label>
                            <input type="color" value="{{e.color_s}}" matSuffix matTooltipClass="enrol-tooltip"
                                matTooltip="Seleccionar color principal" disabled>
                        </div>
                        <div class="d-flex justify-content-around text-center">
                            <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaColores()">Colores
                                Empresa</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container" style="padding-bottom: 50px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resulSucursales">
                        <div class="w-100 bd-highlight">
                            <h5>LISTA DE
                                {{nombre_establecimiento.toUpperCase()}}</h5>
                        </div>
                        <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                            <button type="submit" class="btn btn-outline-light btn-sm" style="margin-top: -3px;"
                                (click)="AbrirVentanaRegistrarSucursal()">Crear {{e.establecimiento}}</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">{{nombre_establecimiento | titlecase}}</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ds of datosSucursales | paginate:tamanio_pagina:numero_pagina">
                                    <td>{{ds.nombre}}</td>
                                    <td>{{ds.descripcion}}</td>
                                    <td>
                                        <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                                            matTooltip="Ver datos generales de este establecimiento"
                                            class="fa fa-building" id="ver" [routerLink]="['/vistaSucursales/', ds.id]">
                                            <p>Departamento</p>
                                        </i>
                                        <i id="editarI" (click)="AbrirVentanaEditarSucursal(ds)" matSuffix
                                            matTooltipClass="color-tooltip" matTooltipPosition="right"
                                            matTooltip="Modificar datos de este registro" class="fas fa-edit">
                                            <p>Editar</p>
                                        </i>
                                        <i class="far fa-trash-alt" (click)="ConfirmarDelete(ds)"
                                            style="color:red; margin-left: 15px;" id="iprocesoL" matSuffix
                                            matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                                            matTooltip="Eliminar registro">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [length]="datosSucursales.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="estilo" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>