<div class="container" *ngFor="let e of datosEmpresa" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>DATOS GENERALES</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col">
                        <label id="datosF" class="col-sm col-form-label text-center" style="margin: auto auto">{{e.nombre.toUpperCase()}}</label>
                    </div>
                    <div class="col">
                        <div class="btn-contenedor">
                            <figure>
                                <img *ngIf="!imagen_default" src="../../../../../assets/imagenes/photo.png" alt="logo_default" srcset="" id="style_logo">
                                <img *ngIf="imagen_default" src="{{logo}}" alt="logo_empresa" srcset="" id="style_logo">
                                <a (click)="EditarLogo()" matSuffix matTooltipPosition="right"
                                    matTooltip="Editar logo de la empresa">
                                    <mat-icon id="logo">add_a_photo</mat-icon>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" id="verticalLine">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">RUC:</label>
                            <label>{{e.ruc}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Dirección:</label>
                            <label>{{e.direccion}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Teléfono:</label>
                            <label>{{e.telefono}}</label>
                        </div>
                    </div>
                    <div class="col" id="verticalLine">
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Correo:</label>
                            <label>{{e.correo}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Representante:</label>
                            <label>{{e.representante}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Tipo de Empresa:</label>
                            <label>{{e.tipo_empresa}}</label>
                        </div>
                        <div class="caja1 d-flex justify-content-start">
                            <label id="datosF">Establecimientos:</label>
                            <label>{{e.establecimiento}}</label>
                        </div>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="editarF" (click)="EditarDatosEmpresa(e)" matSuffix matTooltipClass="color-tooltip"
                        matTooltipPosition="right" matTooltip="Modificar datos de este registro" class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
                <div style="text-align: center;">
                    <button mat-button type="submit" class="btn btn-sm"
                        (click)="AbrirVentanaColores()">Seleccionar colores</button>
                </div>
            </div>
            <hr>
            <div class="container" style="padding-bottom: 50px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div class="d-flex bd-highlight" id="resulSucursales">
                        <div class="w-100 bd-highlight">
                            <h5>LISTA DE
                                {{e.establecimiento.toUpperCase()}}</h5>
                        </div>
                        <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                            <button type="submit" class="btn btn-outline-light btn-sm" style="margin-top: -3px;"
                                (click)="AbrirVentanaRegistrarSucursal()">Crear {{e.establecimiento}}</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">{{e.establecimiento}}</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ds of datosSucursales | paginate:tamanio_pagina:numero_pagina">
                                    <td>{{ds.nombre}}</td>
                                    <td>{{ds.descripcion}}</td>
                                    <td>
                                        <i id="editarI" (click)="AbrirVentanaEditarSucursal(ds)" matSuffix
                                            matTooltipClass="color-tooltip" matTooltipPosition="right"
                                            matTooltip="Modificar datos de este registro" class="fas fa-edit">
                                            <p>Editar</p>
                                        </i>
                                        <i class="far fa-trash-alt" (click)="ConfirmarDelete(ds)"
                                            style="color:red; margin-left: 15px;" id="iprocesoL" matSuffix
                                            matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                                            matTooltip="Eliminar registro">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [length]="datosSucursales.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="estilo" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
                <br>
                <input type="submit" class="btn btn-sm" [routerLink]="['/empresa/']" value="Ir a la Lista de Empresa">
            </div>
        </mat-card-content>
    </mat-card>
</div>