#botones { background-color: rgb(80,87,97); color: white; margin: 10px 10px 10px 10px;}

#ayuda_fec {color: black}

.example-card { max-width: 100%; margin-bottom: 50px;}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-icon {
  cursor: pointer;
}

.i-pdf { color: red; font-size: 30px; }

.i-print { color: rgb(0, 0, 0); font-size: 30px; }

.i-download { color: rgb(0, 102, 255); font-size: 30px; }

.i-help { color: rgb(100, 100, 100); font-size: 30px; }

#charts_permisos_macro { width: 1050px; height: 450px;}

.scroll-box {
  overflow-y: scroll;
  height: 100%;
  overflow-x: scroll;
  width: 100%;
  padding: 1rem;
}