<br>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_vacaciones">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccion()" matSuffix
                matTooltipPosition="right" matTooltip="Autorizar a todos los empleados su Solicitud de Horas Extras"
                id="SelectCheck">library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitar" class="btn btn-primary" (click)="AutorizarVacacionesMultiple()"
                style="float: left; margin-left: 10px;">Autorizar</button>
            <span class="w-100 bd-highlight">
                Lista de todas las vacaciones solicitadas por empleados</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (change)="$event ? masterToggle() : null"
                                [checked]="selectionUno.hasValue() && isAllSelected()"
                                [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vacaciones | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUno.toggle(v) : null" [checked]="selectionUno.isSelected(v)"
                                [aria-label]="checkboxLabel(v)">
                            </mat-checkbox>
                        </td>
                        <td>{{v.nombre}} {{v.apellido}}</td>
                        <td>{{v.estado}}</td>
                        <td>{{v.fec_ingreso.split('T')[0]}}</td>
                        <td>{{v.fec_inicio.split('T')[0]}}</td>
                        <td>{{v.fec_final.split('T')[0]}}</td>
                        <td class="d-flex justify-content-center">
                            <i class="fas fa-edit" id="edit" style="margin-right: 20px;" (click)="EditarVacaciones(v.id)"
                            matSuffix matTooltipPosition="right" 
                            matTooltip="Modificar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                            <a *ngIf="auto_individual" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado del documentdo de autorazación"
                                [routerLink]="['/ver-vacacion',v.id]">
                                <p>Autorizar</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="vacaciones.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_autoriza">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultadosEmpre">Lista de todas las vacaciones solicitadas Autorizadas</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vacaciones_autorizadas | paginate:tamanio_pagina_auto:numero_pagina_auto">
                        <td>{{v.nombre}} {{v.apellido}}</td>
                        <td>{{v.estado}}</td>
                        <td>{{v.fec_ingreso.split('T')[0]}}</td>
                        <td>{{v.fec_inicio.split('T')[0]}}</td>
                        <td>{{v.fec_final.split('T')[0]}}</td>
                        <td class="d-flex justify-content-center">
                            <a class="fas fa-file-alt" style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix
                                matTooltipPosition="right" matTooltip="Cambiar el estado del documento de autorización"
                                [routerLink]="['/ver-vacacion',v.id]">
                                <p>Documento</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="vacaciones_autorizadas.length" [pageSize]="tamanio_pagina_auto"
            [pageSizeOptions]="pageSizeOptions_auto" id="pagina" (page)="ManejarPaginaAutorizadas($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>