.btn { margin-left: 15px; border-radius: 25px;}
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
.tituloComidaR { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(40, 155, 184); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
}
#iComidasR { color:rgb(40, 155, 184); font-size: 18px; }
.comidasR-tooltip { background-color : rgb(40, 155, 184); }