.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

/*.tituloR-tooltip { background: #4622aa; }*/

#itituloR { cursor: pointer; }

.tituloR { 
    font-size: 35px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    border-radius: 10px; 
}

table { width: 100%; font-size: 14px;}
  
.mat-form-field { font-size: 14px; width: 100%;}