.btn { border-radius: 25px; margin-left: 15px; }
td { padding-top: 10px; text-align: center; }
.far { color:red; margin-right: 15px; }
#departamento { font-size: 12px; }
#iciudadL { color:coral; font-size: 18px; }
.ciudadL-tooltip { background-color : coral; }
.tituloCiudadesL { 
    font-size: 20px; 
    text-align: center; 
    background: coral; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px;
}
#resulCiudad { 
    font-size: 17px; 
    text-align: center; 
    background: coral; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }