.barraTitulo { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.btn { margin-bottom: 10px; background-color: rgb(80,87,97); color: white; }
 
#datosF { font-weight: bold; font-size: 15px; padding-right: 5px; }

#verticalLine { border-left: 1px solid rgb(52,65,84); }

.caja1 {padding: 0px 10px 0px 10px; width: 250px; }

#edit { color:green; cursor: pointer; font-size: 15px; text-align: center; margin-right: 20px; }

#cancel { color:red; cursor: pointer; font-size: 15px; text-align: center; margin-right: 20px; }

p { font-size: x-small; }
