<br>
<div class="container" style="padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="barraTitulo d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <h5>Periodo de Vacaciones</h5>
            </div>
        </div>
        <div *ngFor="let p of peridoVacaciones" style="padding-top: 15px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 10px;">
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Descripción:</label>
                    <label>{{p.descripcion}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Inicio de Periodo:</label>
                    <label>{{p.fec_inicio.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fin de Periodo:</label>
                    <label>{{p.fec_final.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Horas de Vacaciones:</label>
                    <label>{{p.horas_vacaciones}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Minutos de Vacaciones:</label>
                    <label>{{p.min_vacaciones}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Vacaciones usadas:</label>
                    <label *ngIf="p.estado == 1">Sí</label>
                    <label *ngIf="p.estado == 2">No</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Días por Antiguedad:</label>
                    <label>{{p.dia_antiguedad}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Días de Vacaciones:</label>
                    <label>{{p.dia_vacacion}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Días Perdidos:</label>
                    <label>{{p.dia_perdido}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                </div>
                <div class="caja1 d-flex justify-content-start">
                </div>
                <div class="caja1 d-flex justify-content-start">
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="barraTitulo d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <h5>Solicitar Vacaciones</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                <button type="submit" class="btn btn-outline-light btn-sm"
                    (click)="AbrirVentanaVacaciones()">Añadir</button>
            </div>
        </div>
        <div *ngFor="let v of vacaciones | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="d-flex flex-wrap justify-content-between" style="margin-bottom: 10px;">
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Codigo:</label>
                    <label>{{v.id}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha de Inicio:</label>
                    <label>{{v.fec_inicio.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha Final:</label>
                    <label>{{v.fec_final.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha de Ingreso:</label>
                    <label>{{v.fec_ingreso.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Días Laborables:</label>
                    <label>{{v.dia_laborable}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Días Libres:</label>
                    <label>{{v.dia_libre}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Legalizado:</label>
                    <label *ngIf="v.legalizado == true">Sí</label>
                    <label *ngIf="v.legalizado == false">No</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Estado:</label>
                    <label>{{v.estado}}</label>
                </div>
            </div>
            <div class="float-right" *ngIf="v.estado === 'Solicitado'">
                <i class="fas fa-edit" id="edit" (click)="EditarVacaciones(v)" matSuffix matTooltipPosition="right"
                     matTooltip="Modificar los datos generales de este registro">
                    <p>Editar</p>
                </i>
                <i class="fas fa-backspace" id="cancel" (click)="CancelarVacaciones(v)" matSuffix
                    matTooltipPosition="right" 
                    matTooltip="Cancelar solicitud de vacaciones">
                    <p>Cancelar</p>
                </i>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator [length]="vacaciones.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>