<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="barraTituloSuc">
        <span>SUCURSALES</span>
    </div>
    <mat-card class="example-card mat-elevation-z9">
        <h5 style="text-align: center;">Criterios de Búsqueda</h5>
        <mat-card-content>
            <form [formGroup]="BuscarSucursalForm">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput name="filtroNombreSuc" placeholder="Nombre de la Sucursal"
                            [formControl]="buscarNombre" [(ngModel)]="filtroNombreSuc">
                        <mat-error *ngIf="buscarNombre.invalid">Indispensable ingresar dos letras</mat-error>
                        <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                            matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por su nombre">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Empresa</mat-label>
                        <input matInput name="filtroEmpresaSuc" placeholder="Nombre de su Empresa"
                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarEmpresa"
                            [(ngModel)]="filtroEmpresaSuc">
                        <mat-error *ngIf="buscarEmpresa.invalid">Indispensable ingresar dos letras</mat-error>
                        <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                            matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por Empresa">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <input matInput name="filtroCiudadSuc" placeholder="Ciudad de la Sucursal"
                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad"
                            [(ngModel)]="filtroCiudadSuc">
                        <mat-error *ngIf="buscarCiudad.invalid">Indispensable ingresar dos letras</mat-error>
                        <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                            matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por su ciudad">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
            <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarSucursal()">Crear
                nueva Sucursal</button>
            <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampoBuscar()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultadosSuc">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Id</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of sucursales | sucCiudad: filtroCiudadSuc | sucNombre: filtroNombreSuc | sucEmpresa: filtroEmpresaSuc | paginate:tamanio_pagina:numero_pagina">
                        <td>{{s.id}}</td>
                        <td>{{s.nomempresa}}</td>
                        <td>{{s.nombre}}</td>
                        <td>{{s.descripcion}}</td>
                        <td class="d-flex justify-content-center">
                            <i id="editar" class="fas fa-edit" (click)="AbrirVentanaEditar(s)" matSuffix matTooltipPosition="right"
                                matTooltipClass="departamento-tooltip"
                                matTooltip="Modificar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                            <i id="eliminar" class="far fa-trash-alt"  matSuffix
                                matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                                matTooltip="Eliminar este registro">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="sucursales.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Sucursales en formato PDF">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Sucursales en formato EXCEL">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Sucursales en formato CSV">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Sucursales en formato XML">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>