.barraTituloSuc { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resultadosSuc { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#permisoSuc { cursor: pointer; }

mat-form-field { padding: 10px 15px 0px 15px;}

.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }

p { font-size: x-small; }

td { padding-top: 10px; text-align: center;  }

#editar { color:green; cursor: pointer; margin-left: 20px; }

#eliminar { color:red; cursor: pointer; margin-left: 20px; }

table { width: 100%; font-size: 14px; }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#pdf { color:red; font-size: 20px; text-align: center; margin-left: 15px; }

#excel { color:green; font-size: 20px; text-align: center; margin-left: 15px; }

#csv { color:blue; font-size: 20px; text-align: center; margin-left: 15px; }

#xml { color:orangered; font-size: 20px; text-align: center; margin-left: 15px; cursor: pointer; }