<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="barraTituloSuc">
        <span>ESTABLECIMIENTOS</span>
    </div>
    <mat-card class="example-card mat-elevation-z9">
        <div class="d-flex flex-wrap justify-content-center">
            <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarSucursal()">Crear
                nuevo Establecimiento</button>
            <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampoBuscar()" matSuffix
                matTooltipPosition="right"
                matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">Cancelar</button>
        </div>
    </mat-card>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultadosSuc">RESULTADO DE BÚSQUEDA</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Id</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Establecimiento</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="buscarNombre"
                                    [(ngModel)]="filtroNombreSuc">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" (keypress)="IngresarSoloLetras($event)"
                                    [formControl]="buscarCiudad" [(ngModel)]="filtroCiudadSuc">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipClass="color-tooltipSuc"
                                matTooltipPosition="right"
                                matTooltip="Búsqueda de establecimientos de acuerdo a la columna de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let s of sucursales | sucCiudad: filtroCiudadSuc | sucNombre: filtroNombreSuc | paginate:tamanio_pagina:numero_pagina">
                        <td>{{s.id}}</td>
                        <td>{{s.nomempresa}}</td>
                        <td>{{s.nombre}}</td>
                        <td>{{s.descripcion}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipPosition="right" matTooltip="Ver datos generales de este registro."
                                class="fa fa-building" id="ver" [routerLink]="['/vistaSucursales/', s.id]">
                                <p>Departamento</p>
                            </i>

                            <i id="t-editar" class="fas fa-edit" (click)="AbrirVentanaEditar(s)" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales de este registro.">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(s)" id="t-eliminar" class="far fa-trash-alt" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="sucursales.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Sucursales en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Sucursales en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Sucursales en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Sucursales en formato XML.">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>