<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="barraTituloSuc">
        <span>SUCURSALES</span>
    </div>
    <mat-card class="example-card mat-elevation-z9">
        <div class="row">
            <div class="col-sm">
                <br>
                <div style="text-align: center;">
                    <h5 style="text-align: right;">Criterios de Búsqueda</h5>
                </div>
            </div>
            <div class="col-sm">
                <form [formGroup]="">
                    <mat-card-content>
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput name="filtroNombreSuc" placeholder="Nombre de la Sucursal"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarNombre"
                                    [(ngModel)]="filtroNombreSuc">
                                <mat-error *ngIf="buscarNombre.invalid">Indispensable ingresar dos letras</mat-error>
                                <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                                    matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por su nombre">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Empresa</mat-label>
                                <input matInput name="filtroEmpresaSuc" placeholder="Nombre de su Empresa"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarEmpresa"
                                    [(ngModel)]="filtroEmpresaSuc">
                                <mat-error *ngIf="buscarEmpresa.invalid">Indispensable ingresar dos letras</mat-error>
                                <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                                    matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por Empresa">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Ciudad</mat-label>
                                <input matInput name="filtroCiudadSuc" placeholder="Ciudad de la Sucursal"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarCiudad"
                                    [(ngModel)]="filtroCiudadSuc">
                                <mat-error *ngIf="buscarCiudad.invalid">Indispensable ingresar dos letras</mat-error>
                                <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc"
                                    matTooltipPosition="right" matTooltip="Busqueda de la Sucursal por su ciudad">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
            </div>
        </div>
        <mat-card-actions style="text-align: center">
            <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarSucursal()">Crear
                nueva Sucursal</button>
            <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampoBuscar()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resultadosSuc">Resultado de búsqueda</div>
    <table class=" mat-elevation-z8 table table-hover table-sm ">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id</th>
                <th scope="col">Empresa</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of sucursales | sucCiudad: filtroCiudadSuc | sucNombre: filtroNombreSuc | sucEmpresa: filtroEmpresaSuc">
                <td>{{s.id}}</td>
                <td>{{s.nomempresa}}</td>
                <td>{{s.nombre}}</td>
                <td>{{s.descripcion}}</td>
                <td>
                    <i class="far fa-trash-alt" style="color:red; margin-right: 15px;"></i>
                    <i class="fas fa-edit"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>