.barraTituloSuc { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
#resultadosSuc { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#permisoSuc { color: black; font-size: 18px; }
/*.color-tooltipSuc { background: rgba(233, 33, 33, 0.828); }*/
.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }
td { padding-top: 10px; text-align: center; }
.fas { color:green; margin-left: 25px; }