<mat-card-content>
<div>
    <p>Se le recuerda que al eliminar este registro automáticamente se eliminarán  <b>TODOS</b> los registro con los que guarde
        alguna relación. <b>Podría afectar al buen funcionamiento del sistema.</b> </p>
    <p id="mensaje">¿ESTÁ SEGURO DE ELIMINAR ESTE REGISTRO?</p>
</div>
</mat-card-content>
<div style="text-align: center;">
    <button id="aceptar" mat-button class="btn btn-primary btn-sm" (click)="confirmado()" cdkFocusInitial>Aceptar</button>
    <button mat-button id="cancelar" class="btn btn-sm" (click)="cerrarDialogo()">Cancelar</button>
</div>