<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-5" style="padding-bottom: 10px;">
            <app-rango-fechas></app-rango-fechas>
        </div>
        <div class="col-lg-7">
            <div id="titulo">
                <span>Opciones de Descarga</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                    <button mat-icon-button (click)="validacionReporte('open')">
                        <mat-icon class="i-pdf" matTooltipPosition="right"
                            matTooltip="Previsualizar reporte en el navegador en fomato PDF.">picture_as_pdf</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('print')">
                        <mat-icon class="i-print" matTooltipPosition="right"
                            matTooltip="Imprimir reporte en formato PDF.">
                            local_printshop</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('download')">
                        <mat-icon class="i-download" matTooltipPosition="right"
                            matTooltip="Descargar reporte en formato PDF.">cloud_download</mat-icon>
                    </button>
                    <button mat-icon-button (click)="validacionReporte('excel')">
                        <mat-icon class="fas fa-file-excel i-excel" matTooltipPosition="right"
                            matTooltip="Descargar reporte en formato EXCEL."></mat-icon>
                    </button>
                </div>
            </mat-card>
            <br>
            <app-criterios-busqueda [num_option]="3"></app-criterios-busqueda>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 50px; text-align: center;">
    <!-- TABLA PARA SUCURSALES -->
    <div *ngIf="bool.bool_suc" class="mat-elevation-z8" style="background: white;">
        <div id="titulo">Resultado Sucursales</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleSuc() : null"
                                [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                [aria-label]="checkboxLabelSuc()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionSuc.toggle(s) : null" [checked]="selectionSuc.isSelected(s)"
                                [aria-label]="checkboxLabelSuc(s)">
                            </mat-checkbox>
                        </td>
                        <td>{{s.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="sucursales.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
    <!-- TABLA PARA DEPARTAMENTOS -->
    <div *ngIf="bool.bool_dep" class="mat-elevation-z8" style="background: white;">
        <div id="titulo">Resultado Departamentos</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleDep() : null"
                                [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                [aria-label]="checkboxLabelDep()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let d of departamentos | emplNombre: filtroNombreDep | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionDep.toggle(d) : null" [checked]="selectionDep.isSelected(d)"
                                [aria-label]="checkboxLabelDep(d)">
                            </mat-checkbox>
                        </td>
                        <td>{{d.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="departamentos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
    <!-- TABLA PARA EMPLEADOS -->
    <div *ngIf="bool.bool_emp" class="mat-elevation-z8" style="background: white;">
        <div id="titulo">Resultado Empleados</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                [aria-label]="checkboxLabelEmp()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionEmp.toggle(e) : null" [checked]="selectionEmp.isSelected(e)"
                                [aria-label]="checkboxLabelEmp(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.cedula}}</td>
                        <td>{{e.codigo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>