<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="barraTituloReloj">
        <span>DISPOSITIVOS</span>
    </div>
    <div class="row">
        <div class="col">
            <mat-card class="example-card mat-elevation-z9">
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarRelojesForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Nombre</mat-label>
                                        <input matInput name="filtroNombreReloj" placeholder="Nombre reloj"
                                            [formControl]="nombreF" [(ngModel)]="filtroNombreReloj">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dipositivo por el nombre">
                                            help_outline</mat-icon>
                                        <mat-error id="nombre" *ngIf="nombreF.invalid">Indispensable ingresar más de dos
                                            letras
                                        </mat-error>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <mat-label>Empresa</mat-label>
                                        <input matInput name="filtroEmpresaReloj" placeholder="Nombre de Empresa"
                                            [formControl]="empresaF" [(ngModel)]="filtroEmpresaReloj">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dipositivo por el nombre de la Empresa en la que se encunetra">
                                            help_outline</mat-icon>
                                        <mat-error id="nombre" *ngIf="empresaF.invalid">Indispensable ingresar más de
                                            dos
                                            letras
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>IP</mat-label>
                                        <input matInput placeholder="Ingresar IP" [formControl]="ipF"
                                            name="filtroIpReloj" [(ngModel)]="filtroIpReloj"
                                            (keypress)="IngresarIp($event)">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dispositivo por la dirección IP">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <mat-label>Sucursal</mat-label>
                                        <input matInput name="filtroSucursalReloj" placeholder="Nombre de Sucursal"
                                            [formControl]="sucursalF" [(ngModel)]="filtroSucursalReloj">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dipositivo por el nombre de la Sucursal en la que se encuentra">
                                            help_outline</mat-icon>
                                        <mat-error id="nombre" *ngIf="sucursalF.invalid">Indispensable ingresar más de
                                            dos
                                            letras
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>Modelo</mat-label>
                                        <input matInput placeholder="Ingresar modelo" [formControl]="modeloF"
                                            name="filtroModeloReloj" [(ngModel)]="filtroModeloReloj">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dispositivo por el modelo">
                                            help_outline</mat-icon>
                                        <mat-error id="nombre" *ngIf="modeloF.invalid">Indispensable ingresar más de dos
                                            letras
                                        </mat-error>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <mat-label>Departamento</mat-label>
                                        <input matInput name="filtroDepartamentoReloj"
                                            placeholder="Nombre del Departamento" [formControl]="departamentoF"
                                            [(ngModel)]="filtroDepartamentoReloj">
                                        <mat-icon id="dispositivo" matSuffix matTooltipClass="reloj-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del dipositivo por el nombre del departamento en el que se encuentra">
                                            help_outline</mat-icon>
                                        <mat-error id="nombre" *ngIf="departamentoF.invalid">Indispensable ingresar más
                                            de dos letras
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarReloj()"
                        value="Crear nuevo Dispositivo">
                    <input type="submit" class="btn btn-sm" (click)="LimpiarCampos()" value="Cancelar">
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resultadosRelojes">Resultado de búsqueda</div>
    <mat-card class="mat-elevation-z8">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Código</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Dispositivo</th>
                    <th scope="col">IP</th>
                    <th scope="col">Puerto</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Tiene Funciones</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let reloj of relojes | filtrosNombres: filtroNombreReloj  | filtroSucursalR: filtroSucursalReloj | filtroModelo: filtroModeloReloj | filtroIp: filtroIpReloj | filtroDepartamentoR: filtroDepartamentoReloj | filtroEmpresaR: filtroEmpresaReloj | paginate:tamanio_pagina:numero_pagina">
                    <th style="padding-top: 10px; text-align: center;" scope="row">{{reloj.id}}</th>
                    <td>{{reloj.nomempresa}}</td>
                    <td>{{reloj.nomsucursal}}</td>
                    <td>{{reloj.nomciudad}}</td>
                    <td>{{reloj.nomdepar}}</td>
                    <td>{{reloj.nombre}}</td>
                    <td>{{reloj.ip}}</td>
                    <td>{{reloj.puerto}}</td>
                    <td>{{reloj.modelo}}</td>
                    <td>{{reloj.tien_funciones}}</td>
                    <td>
                        <i class="fas fa-edit" matSuffix matTooltipPosition="right"
                            matTooltipClass="departamento-tooltip"
                            matTooltip="Modificar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="relojes.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>