<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div class="barraTituloReloj">
                <span>DISPOSITIVOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarReloj()"
                        value="Crear nuevo Dispositivo">
                    <input type="submit" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos." value="Cancelar">
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div class="barraTituloReloj">
                <span>REGISTRO MULTIPLE DE DISPOSITIVOS</span>
            </div>
            <mat-card class="mat-elevation-z9 d-flex flex-wrap justify-content-center" id="carta1">
                <form method="post" enctype="multipart/form-data">
                    <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                        matTooltip="Presionar para seleccionar Plantilla con nombre Dispositivos.">Subir
                        Dispositivos</label>
                </form>
                <a mat-button type="submit" id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                    matTooltip="Dar click para ver o descargar el documento."
                    href="{{hipervinculo}}/plantillaD/documento/Dispositivos.xlsx">
                    <span class="material-icons">cloud_download</span> Descargar Plantilla Dispositivos
                </a>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultadosRelojes">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Código</th>
                        <th scope="col">Establecimiento</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Dispositivo</th>
                        <th scope="col">IP</th>
                        <th scope="col">Puerto</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">N° Acciones</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="sucursalF"
                                    [(ngModel)]="filtroSucursalReloj">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="departamentoF"
                                    [(ngModel)]="filtroDepartamentoReloj">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="nombreF"
                                    [(ngModel)]="filtroNombreReloj">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="ipF" [(ngModel)]="filtroIpReloj"
                                    (keypress)="IngresarIp($event)">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [formControl]="modeloF"
                                    [(ngModel)]="filtroModeloReloj">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda del dipositivo de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let reloj of relojes | filtrosNombres: filtroNombreReloj  | filtroSucursalR: filtroSucursalReloj | filtroModelo: filtroModeloReloj | filtroIp: filtroIpReloj | filtroDepartamentoR: filtroDepartamentoReloj | filtroEmpresaR: filtroEmpresaReloj | paginate:tamanio_pagina:numero_pagina">
                        <th style="padding-top: 10px; text-align: center;" scope="row">{{reloj.id}}</th>
                        <td>{{reloj.nomsucursal}}</td>
                        <td>{{reloj.nomciudad}}</td>
                        <td>{{reloj.nomdepar}}</td>
                        <td>{{reloj.nombre}}</td>
                        <td>{{reloj.ip}}</td>
                        <td>{{reloj.puerto}}</td>
                        <td>{{reloj.modelo}}</td>
                        <td>{{reloj.numero_accion}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipPosition="right" matTooltip="Ver datos generales de este registro."
                                class="fas fa-eye" id="t-ver" [routerLink]="['/verDispositivos/',reloj.id]">
                                <p>Ver</p>
                            </i>
                            <i class="fas fa-edit" id="t-editar" (click)="AbrirVentanaEditar(reloj)" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales de este registro.">
                                <p>Editar</p>
                            </i>
                            <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro."
                                class="far fa-trash-alt" id="t-eliminar" (click)="ConfirmarDelete(reloj)">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="relojes.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Dispositivos en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Dispositivos en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Dispositivos en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Dispositivos en formato XML.">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>