<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z9">
                <h4>DISPOSITIVOS</h4>
                <h5>Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarRelojesForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput name="filtroNombreReloj" placeholder="Nombre reloj"
                                    [formControl]="nombreF" [(ngModel)]="filtroNombreReloj">
                                <mat-icon id="dispositivo" matSuffix matTooltipClass="color-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda del dipositivo por el nombre">
                                    help_outline</mat-icon>
                                <mat-error id="nombre" *ngIf="nombreF.invalid">Indispensable ingresar más de dos letras
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>IP</mat-label>
                                <input matInput placeholder="Ingresar IP" [formControl]="ipF" name="filtroIpReloj"
                                    [(ngModel)]="filtroIpReloj" (keypress)="IngresarIp($event)">
                                <mat-icon id="dispositivo" matSuffix matTooltipClass="color-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda del dispositivo por la dirección IP">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Modelo</mat-label>
                                <input matInput placeholder="Ingresar modelo" [formControl]="modeloF"
                                    name="filtroModeloReloj" [(ngModel)]="filtroModeloReloj">
                                <mat-icon id="dispositivo" matSuffix matTooltipClass="color-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda del dispositivo por el modelo">
                                    help_outline</mat-icon>
                                <mat-error id="nombre" *ngIf="modeloF.invalid">Indispensable ingresar más de dos letras
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-danger btn-sm" (click)="LimpiarCampos()" value="Cancelar">
                    <input type="submit" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarReloj()"
                        value="Crear nuevo Dispositivo">
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <mat-toolbar>
        <span style="text-align: center;">Resultados de búsqueda</span>
    </mat-toolbar>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">IP</th>
                <th scope="col">Puerto</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Tiene Funciones</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let reloj of relojes | filtrosNombres: filtroNombreReloj  | filtroModelo: filtroModeloReloj | filtroIp: filtroIpReloj">
                <th style="padding-top: 10px; text-align: center;" scope="row">{{reloj.id}}</th>
                <td>{{reloj.nombre}}</td>
                <td>{{reloj.ip}}</td>
                <td>{{reloj.puerto}}</td>
                <td>{{reloj.marca}}</td>
                <td>{{reloj.modelo}}</td>
                <td>{{reloj.tien_funciones}}</td>
                <td>
                    <i class="fas fa-edit"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>