<mat-icon id="movilidad">open_with</mat-icon>
<div class="autorizarDepa">
    <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Autoridades Departamentos</h5>
</div>
<!-- Formulario Completo -->
<form [formGroup]="autorizarDepaForm">
    <mat-card-content>
        <div class="container" style="padding-top: 15px; text-align: center;">
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.</span>
            </div>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field>
                        <mat-label>Empleado</mat-label>
                        <input id="nomEmple" matInput placeholder="Empleado" [formControl]="nombreEmpleadoF"
                            readonly="readonly" required>
                        <mat-icon id="autorizar" matSuffix matTooltipClass="autorizar-tooltip"
                            matTooltipPosition="right" matTooltip="Nombre de identificación del empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="selEmpre">Seleccionar Empresa</mat-label>
                        <mat-icon id="autorizar" matSuffix matTooltipClass="autorizar-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de Empresas">help_outline</mat-icon>
                        <mat-select [formControl]="idEmpresaF" required>
                            <mat-option *ngFor="let empre of empresas" [value]="empre.id"
                                (click)="FiltrarSucursales(autorizarDepaForm.value)">
                                {{empre.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="selEmpre">Seleccionar Sucursal</mat-label>
                        <mat-icon id="autorizar" matSuffix matTooltipClass="autorizar-tooltip" matTooltipPosition="right"
                            matTooltip="Seleccionar una de las sucursales existentes en la empresa">
                            help_outline</mat-icon>
                        <mat-select [formControl]="idSucursal" required>
                            <mat-option *ngFor="let s of sucursales" [value]="s.id"
                                (click)="ObtenerDepartamentos(autorizarDepaForm.value)">{{s.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <mat-icon id="autorizar" matSuffix matTooltipClass="autorizar-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de departamentos existentes en la empresa">
                            help_outline</mat-icon>
                        <mat-select [formControl]="idDepartamento" required>
                            <mat-option *ngFor="let d of departamento" [value]="d.id">{{d.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <label style="margin-right: 110px;">Autoriza *</label>
                    <mat-icon id="autorizar" matSuffix matTooltipClass="autorizar-tooltip" matTooltipPosition="right"
                    matTooltip="Indicar si el empleado será quien autorice dentro del departamento seleccionado">
                    help_outline</mat-icon>
                    <section>
                        <mat-radio-group required aria-label="select an option" [formControl]="autorizarF" required
                            [value]="autorizarF.value">
                            <mat-radio-button class="example-match" value="true">Si</mat-radio-button>
                            <mat-radio-button class="example-match" value="false">No </mat-radio-button>
                        </mat-radio-group>
                    </section>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center;">
    <button type="submit" class="btn btn-sm" (click)="InsertarAutorizacion(autorizarDepaForm.value)"
        [disabled]="!autorizarDepaForm.valid">Guardar</button>
    <button type="submit" class="btn btn-sm" (click)="CerrarVentanaAutorizar()">Salir</button>
</div>