<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm" style="margin-bottom: 25px;">
            <div class="tituloHorarioL">
                <span>CONFIGURACIÓN DE CÓDIGO</span>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <div class="nota" style="text-align: center;">
                    <span>NOTA: Por favor indicar como desea generar el código de empleado.</span>
                </div>
                <form [formGroup]="configuracionForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <section class="example-section">
                                <mat-radio-group aria-label="Select an option" formControlName="seleccionForm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <mat-radio-button ngDefaultControl [(ngModel)]="automaticoF"
                                                    [checked]="automaticoF" [ngModelOptions]="{standalone: true}"
                                                    (click)="VerCampo()">Registro Automático
                                                </mat-radio-button>
                                            </div>
                                            <div class="col">
                                                <mat-radio-button ngDefaultControl [(ngModel)]="manualF"
                                                    [checked]="manualF" [ngModelOptions]="{standalone: true}"
                                                    (click)="QuitarCampo()">Registro Manual
                                                </mat-radio-button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </section>
                            <mat-form-field *ngIf="!HabilitarDescrip">
                                <mat-label id="letras">Código Automático desde:</mat-label>
                                <input matInput placeholder="1000" [formControl]="inicioF" [ngStyle]="estilo"
                                    maxlength="10" (keypress)="IngresarSoloNumeros($event)"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                <mat-icon id="iHorL" matSuffix matTooltipClass="horarioL-tooltip"
                                    matTooltipPosition="right"
                                    matTooltip="Indicar desde que valor se generará el código del empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions class="d-flex flex-wrap justify-content-center">
                    <button mat-button type="submit" class="btn btn-sm"
                        (click)="RegistrarConfiguracion(configuracionForm.value)">Guardar</button>
                    <button mat-button type="submit" class="btn btn-sm"
                        [routerLink]="['/home']">Cancelar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>