.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

.mat-radio-button ~ .mat-radio-button { margin-left: 30px; }

.tituloHorarioL { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
}

#iHorL { cursor: pointer; }



#letras { font-size: 14px; }