<div class="container" *ngFor="let h of datosHorario" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>DATOS GENERALES</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Nombre:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{h.nombre}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Min. de Almuerzo:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{h.min_almuerzo}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Horas de Trabajo:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{h.hora_trabajo}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Horario Nocturno:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label" >{{h.nocturno.toString() | i18nSelect: booleanMap}}</label>
                    </div>
                </div>
                <div class="row" *ngIf="h.nocturno === true">
                    <span  id="datosF" style="margin: 20px 20px; color: rgb(141, 141, 141);" >El horario nocturno se aplica en rango de 19:00 PM a 06:00 AM </span>
                </div>
                <div style="text-align: right;">
                    <a *ngIf="h.doc_nombre != null" class="fas fa-file-alt"
                        style="color:rgb(197, 95, 11); margin-left: 15px; text-align: center;" matSuffix
                        matTooltipPosition="right" matTooltip="Dar click para ver o descargar el documento"
                        href="{{hipervinculo}}/horario/documentos/{{h.documento}}" target="_blank">
                        <p>{{h.doc_nombre}}</p>
                    </a>
                    <i id="editarF" (click)="AbrirVentanaEditar(h)" matSuffix matTooltipClass="color-tooltip"
                        matTooltipPosition="right" matTooltip="Modificar datos de este registro" class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                    <mat-icon (click)="CalcularHorasTrabaja()" style="margin: 0px 10px; cursor: pointer;" 
                    matTooltip="Actuliza el numero de horas según el detalle horario">calculate</mat-icon>
                </div>
            </div>
            <hr>
            <div class="container" style="padding-bottom: 50px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div id="resulCiudades">DETALLES DE HORARIO</div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">Orden</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Minutos Espera</th>
                                    <th scope="col">Acción</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dh of datosDetalle | paginate:tamanio_pagina:numero_pagina">
                                    <td>{{dh.orden}}</td>
                                    <td>{{dh.hora}}</td>
                                    <td>{{dh.minu_espera}}</td>
                                    <td>{{dh.tipo_accion_show}}</td>
                                    <td>
                                        <i id="editarI" (click)="AbrirVentanaEditarDetalle(dh)" matSuffix
                                            matTooltipClass="color-tooltip" matTooltipPosition="right"
                                            matTooltip="Modificar datos de este registro" class="fas fa-edit">
                                            <p>Editar</p>
                                        </i>
                                        <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro"
                                            class="far fa-trash-alt" (click)="ConfirmarDelete(dh)"
                                            style="color:red; margin-left: 15px;">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [length]="datosDetalle.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            <input type="submit" class="btn btn-sm" [routerLink]="['/horario/']" value="Ir a la Lista de Horarios">
            <input type="submit" class="btn btn-sm" (click)="AbrirVentanaDetalles(h)" value="Registrar Detalle">
        </mat-card-content>
    </mat-card>
</div>