<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-lg">
            <div class="tituloEmpleados">
                <span>EMPLEADOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <!-- Formulario Completo -->
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form [formGroup]="">
                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Código</mat-label>
                                        <input matInput placeholder="Ej: " [(ngModel)]="filtroCodigo"
                                            [formControl]="codigo" (keypress)="IngresarSoloNumeros($event)">
                                        <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                            matTooltipClass="emple-tooltip"
                                            matTooltip="Búsqueda de empleado por el código">
                                            help_outline</mat-icon>

                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar CI o pasaporte</mat-label>
                                        <input matInput placeholder="Ej: " [(ngModel)]="filtroCedula" maxlength="10"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                        <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                                        </mat-error>
                                        <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                            matTooltipClass="emple-tooltip"
                                            matTooltip="Búsqueda de empleado por la cédula de identificación o pasaporte">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Nombres</mat-label>
                                        <input matInput placeholder="Ej: " [(ngModel)]="filtroNombre"
                                            [formControl]="nombre" type="text" (keypress)="IngresarSoloLetras($event)">
                                        <mat-error *ngIf="nombre.invalid">Indispensable ingresar dos letras
                                        </mat-error>
                                        <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                            matTooltipClass="emple-tooltip"
                                            matTooltip="Búsqueda de empleado por el nombre">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Apellidos</mat-label>
                                        <input matInput placeholder="Ej: " [(ngModel)]="filtroApellido"
                                            [formControl]="apellido" type="text"
                                            (keypress)="IngresarSoloLetras($event)">
                                        <mat-error *ngIf="apellido.invalid">Indispensable ingresar dos letras
                                        </mat-error>
                                        <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                            matTooltipClass="emple-tooltip"
                                            matTooltip="Búsqueda de empleado por el apellido">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <button mat-button type="button" class="btn btn-sm" [routerLink]="['/registrarEmpleado']">Crear
                        nuevo Empleado
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="limpiarCampos()">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div class="tituloEmpleados">
                <span>REGISTRO MULTIPLE DE EMPLEADOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <div class="container">
                    <form method="post" enctype="multipart/form-data">
                        <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label for="file" class="btn-2">Subir Empleados</label>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resulEmpleados">Resultado de búsqueda</div>
    <mat-card class="mat-elevation-z8">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Id </th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let e of empleado | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido | paginate:tamanio_pagina:numero_pagina">
                    <th style="padding-top: 10px; text-align: center;" scope="row">{{e.id}}</th>
                    <td style="padding-top: 10px;">{{e.nombre}}</td>
                    <td style="padding-top: 10px;">{{e.apellido}}</td>
                    <td style="padding-top: 10px;">{{e.cedula}}</td>
                    <td style="padding-top: 10px; text-align: center;">{{e.estado}}</td>
                    <td style="padding-top: 10px;">{{e.correo}}</td>
                    <td style="padding-top: 10px; text-align: center;">
                        <i matSuffix matTooltipClass="emple-tooltip" matTooltipPosition="right"
                            matTooltip="Ver datos generales de este empleado" class="fas fa-eye" id="ver"
                            [routerLink]="['/verEmpleado/',e.id]">
                            <p>Ver</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="empleado.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>