<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div class="barraTitulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: left;">
                                <h5>Solicitar Permiso</h5>
                            </div>
                            <div class="col" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-light btn-sm"
                                    (click)="AbrirVentanaPermiso()">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let pt of permisosTotales | paginate:tamanio_pagina:numero_pagina"
                        style="padding-top: 15px;">
                        <div class="row">
                            <div class="col-3">
                                <label id="datosF" class="col-sm col-form-label">N° Permiso:</label>
                                <label id="datosF" class="col-sm col-form-label">Tipo Permiso:</label>
                                <label id="datosF" class="col-sm col-form-label">Descripción:</label>
                                <label id="datosF" class="col-sm col-form-label">Documento:</label>
                            </div>
                            <div class="col-3">
                                <label class="col col-form-label">{{pt.num_permiso}}</label>
                                <label class="col col-form-label">{{pt.nom_permiso}}</label>
                                <label class="col col-form-label">{{pt.descripcion}}</label>
                                <a id="doc" class="fas fa-file-alt"
                                    style="color:rgb(11, 70, 197); text-align: center; margin-left: 20px" matSuffix
                                    matTooltipPosition="right" matTooltip="Dar click para descargar contrato de trabajo"
                                    href="http://localhost:3000/empleadoPermiso/documentos/{{pt.documento}}"
                                    target="_blank">
                                    <p>{{pt.docu_nombre}}</p>
                                </a>
                            </div>
                            <div class="col-3" id="verticalLine">
                                <label id="datosF" class="col-sm col-form-label">Fecha Salida:</label>
                                <label id="datosF" class="col-sm col-form-label">Fecha Ingreso:</label>
                                <label id="datosF" class="col-sm col-form-label">Estado:</label>
                            </div>
                            <div class="col-2">
                                <label class="col col-form-label">{{pt.fec_inicio.split("T")[0]}}</label>
                                <label class="col col-form-label">{{pt.fec_final.split("T")[0]}}</label>
                                <label class="col col-form-label">{{pt.estado}}</label>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex flex-wrap justify-content-around" *ngIf="pt.estado === 'Pendiente'">
                            <button class="btn btn-sm" type="submit" (click)="CancelarPermiso(pt)">Cancelar
                                Permiso</button>
                            <i class="fas fa-edit" id="edit" (click)="EditarPermiso(pt)" matSuffix
                                matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                                matTooltip="Modificar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <mat-paginator [length]="permisosTotales.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="estilo" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>