<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div class="barraTitulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>Autoridad</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let autoD of autorizacionesTotales" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Departamento de:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{autoD.nom_depar}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Autoriza:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label" *ngIf="autoD.estado == true">Si</label>
                                <label class="col col-form-label" *ngIf="autoD.estado == false">No</label>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div class="barraTitulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: left;">
                                <h5>Solicitar Permiso</h5>
                            </div>
                            <div class="col" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-light btn-sm"
                                    (click)="AbrirVentanaPermiso()">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let pt of permisosTotales" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">N° Permiso:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.num_permiso}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Tipo Permiso:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.nom_permiso}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Descripción:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.descripcion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha Salida:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.fec_inicio.split("T")[0]}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha Ingreso:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.fec_final.split("T")[0]}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Estado:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{pt.estado}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Documento:</label>
                            </div>
                            <div class="col">
                                <a id="doc" class="fas fa-file-alt" style="color:rgb(11, 70, 197); text-align: center; margin-left: 20px;"
                                    matSuffix matTooltipPosition="right"
                                    matTooltip="Dar click para descargar contrato de trabajo"
                                    href="http://192.168.0.192:3001/empleadoPermiso/documentos/{{pt.documento}}"
                                    target="_blank">
                                    <p>{{pt.docu_nombre}}</p>
                                </a>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>