<mat-card class="example-card mat-elevation-z8">
    <div class="barraTitulo">
        <h5>Editar Datos Vacuna</h5>
    </div>
    <!-- Formulario Completo -->
    <form [formGroup]="vacunaForm">
        <mat-card-content>
            <div class="container" style="padding-top: 15px; text-align: center;">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.</span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="separar_opciones">
                            <mat-checkbox [checked]="estado_1" (change)="VerFecha_1($event.checked)">
                                Primera dosis
                            </mat-checkbox>
                        </div>
                        <mat-form-field *ngIf="fecha_1">
                            <mat-label>Fecha de vacuna</mat-label>
                            <input matInput [matDatepicker]="picker1" placeholder="dd/mm/aaaa" [formControl]="fecha1F">
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Ingresar la fecha en la que recibio la primera dosis de la vacuna. Seleccionar fecha o escribir fecha con formato día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field *ngIf="fecha_1">
                            <mat-label>Vacuna</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar tipo de vacuna.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="vacuna_1F">
                                <mat-option *ngFor="let tv of tipoVacuna" [value]="tv.nombre"
                                    (click)="AbrirVentana(vacunaForm.value, 1)">
                                    {{tv.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="separar_opciones">
                            <mat-checkbox [checked]="estado_2" (change)="VerFecha_2($event.checked)">
                                Segunda dosis
                            </mat-checkbox>
                        </div>
                        <mat-form-field *ngIf="fecha_2">
                            <mat-label>Fecha de vacuna</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fecha2F">
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Ingresar la fecha en la que recibio la segunda dosis de la vacuna. Seleccionar fecha o escribir fecha con formato día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field *ngIf="fecha_2">
                            <mat-label>Vacuna</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar tipo de vacuna.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="vacuna_2F">
                                <mat-option *ngFor="let tv of tipoVacuna" [value]="tv.nombre"
                                    (click)="AbrirVentana(vacunaForm.value, 2)">
                                    {{tv.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="separar_opciones">
                            <mat-checkbox [checked]="estado_3" (change)="VerFecha_3($event.checked)">
                                Tercera dosis
                            </mat-checkbox>
                        </div>
                        <mat-form-field *ngIf="fecha_3">
                            <mat-label>Fecha de vacuna</mat-label>
                            <input matInput [matDatepicker]="picker3" placeholder="dd/mm/aaaa" [formControl]="fecha3F">
                            <mat-datepicker-toggle matSuffix [for]="picker3" id="i-cursor" matTooltipPosition="right"
                                matTooltip="Ingresar la fecha en la que recibio la tercera dosis de la vacuna. Seleccionar fecha o escribir fecha con formato día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker3></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field *ngIf="fecha_3">
                            <mat-label>Vacuna</mat-label>
                            <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                matTooltip="Seleccionar tipo de vacuna.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="vacuna_3F">
                                <mat-option *ngFor="let tv of tipoVacuna" [value]="tv.nombre"
                                    (click)="AbrirVentana(vacunaForm.value, 3)">
                                    {{tv.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div class="separar">
                                <form method="post" enctype="multipart/form-data">
                                    <input (change)="fileChange($event)" type="file" [formControl]="archivoF" id="file">
                                    <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" matSuffix
                                        matTooltipPosition="right"
                                        matTooltip="Subir certificado o carnet de vacunación contra la COVID 19.">Subir
                                        Carnet</label>
                                </form>
                            </div>
                            <div class="separar">
                                <input type="text" readonly id="nomDocumento" placeholder="Ningún archivo seleccionado."
                                    class="form-control" style="width: 210px;" [formControl]="certificadoF">
                            </div>
                            <div class="separar" *ngIf="HabilitarBtn">
                                <button class="btn btn-sm" type="submit" (click)="RetirarArchivo()">Quitar
                                    Documento</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <div style="text-align: center;">
        <button type="submit" class="btn" (click)="GuardarDatosSistema(vacunaForm.value)"
            [disabled]="!vacunaForm.valid">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right"
                matTooltip="Guardar datos registrados.">save</span>
        </button>
        <button type="submit" class="btn" (click)="LimpiarCampos()">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right"
                matTooltip="Borrar datos ingresados.">backspace</span>
        </button>
        <button type="submit" class="btn" (click)="CerrarRegistro()">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right"
                matTooltip="Cerrar ventana de registro de vacunación.">close</span>
        </button>
    </div>
</mat-card>