<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
  <div class="row">
    <div class="col-sm"style="text-align: center;">
      <span class="text-titulo">Estadísticas Generales</span>
    </div>
    <div class="col-sm" style="margin-top: 3px; text-align: center;">
      <span class="text-titulo-fecha">{{fecha}}</span>
    </div>
    <div class="col-sm d-flex justify-content-end">
      <button class="btn btn-primary btn-sm d-flex justify-content-center" (click)="RefrescarGraficas()">
        <mat-icon class="align-self-center" style="color: white; margin-right: 7px; font-size: 20px;" matTooltipPosition="right" 
          matTooltip="Presione aquí para actualizar los datos de las gráficas">cached</mat-icon>
        <span class="align-self-center">Actualizar</span>
      </button>
    </div>
  </div>
  <br>
  <div class="row">  
    <div class="d-flex justify-content-center flex-wrap">
      <button class="btn btn-lg d-flex justify-content-center boton-uno" (click)="MenuRapido(1)">
        <mat-icon class="icon-menu align-self-center">import_contacts</mat-icon>
        <span class="align-self-center">Reportes</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-dos" (click)="MenuRapido(2)">
        <mat-icon class="icon-menu align-self-center">work</mat-icon>
        <span class="align-self-center">Horas Extras</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-tre" (click)="MenuRapido(3)">
        <mat-icon class="icon-menu align-self-center">flight_takeoff</mat-icon>
        <span class="align-self-center">Vacaciones</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-cua" (click)="MenuRapido(4)">
        <mat-icon class="icon-menu align-self-center">pan_tool</mat-icon>
        <span class="align-self-center">Permisos</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-cin" (click)="MenuRapido(5)">
        <mat-icon class="icon-menu align-self-center">pending_actions</mat-icon>
        <span class="align-self-center">Atrasos</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-sei" (click)="MenuRapido(6)">
        <mat-icon class="icon-menu align-self-center">show_chart</mat-icon>
        <span class="align-self-center">Métricas</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Inasistencia</b></h4>
          <a mat-button [routerLink]="['/macro/inasistencia']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="inasistencia"></div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Horas Extras</b></h4>
          <a mat-button [routerLink]="['/macro/hora-extra']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="hora_extra"></div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Asistencia</b></h4>
          <a mat-button [routerLink]="['/macro/asistencia']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="asistencia"></div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Atrasos</b></h4>
          <a mat-button [routerLink]="['/macro/retrasos']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="retrasos"></div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Marcaciones</b></h4>
          <a mat-button [routerLink]="['/macro/marcaciones']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="marcaciones"></div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Tiempo jornada VS Horas extras</b></h4>
          <a mat-button [routerLink]="['/macro/tiempo-jornada-vs-hora-ext']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="tiempo_jornada"></div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Jornadas VS Horas Extras</b></h4>
          <a mat-button [routerLink]="['/macro/jornada-vs-hora-extra']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="jornada_hora_extra"></div>
      </mat-card>
    </div>
  </div>
</div>
