mat-form-field { width: 230px; }

img { width: 100%};

.pantalla { margin: auto;}

.btn_b { width: 190px; background-color: rgb(80,87,97); color: white; margin-left: 15px; }

.caja1 { text-align: right; font-size: 13px; margin-bottom: 15px; margin-right: 16px; margin-top: 5px;}

.verde {color: rgb(23, 173, 9); margin-left: 5px; font-size: 13px;}




