<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">    
                        <mat-card class="mat-elevation-z8">
                            <img src="../../../../../assets/imagenes/logo/logoAdmin.png"> <br><br>
                            <span>Confirmar nueva contraseña</span>
                            <form [formGroup]="cambiarContraseniaForm">
                                <mat-form-field>
                                    <mat-label>Nueva Contraseña</mat-label>
                                    <input matInput placeholder="máximo 10 caracteres" [type]="hide ? 'password' : 'text'"
                                    maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    formControlName="nPass" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide">
                                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                                        matTooltip="Ocultar o mostrar la contraseña ingresada">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>   
                                <br>
                                <mat-form-field>
                                    <mat-label>Confirmar Contraseña</mat-label>
                                    <input matInput placeholder="máximo 10 caracteres" [type]="hide ? 'password' : 'text'"
                                    maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    formControlName="cPass" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide">
                                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                                        matTooltip="Ocultar o mostrar la contraseña ingresada">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <br>
                                <div style="margin: auto;">
                                    <button type="submit" class="btn btn-lg btn-block" (onclick)="compararContrasenia(cambiarContraseniaForm.value)" 
                                    (click)="EnviarContraseniaConfirmacion(cambiarContraseniaForm.value)"
                                        [disabled]="!cambiarContraseniaForm.valid">Resetear Password</button>
                                </div>
                            </form>
                        </mat-card>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-footer></app-footer>

