mat-form-field { padding: 10px 15px 0px 15px;}

table { width: 100%; font-size: 14px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

#boton { background-color: rgb(80,87,97); color: white; margin-top: 10px;}

#limpiar { cursor: pointer; padding-top: 10px; margin-right: 20px;}

#opciones { margin-left: 40px; cursor: pointer;}