<div class="container" style="margin: 25px 0px 25px 0px; text-align: center;">
    <div style="padding-bottom: 20px;">
        <button class="btn btn-primary" (click)='AbrirSettings()'>configuración Firmas</button>
    </div>
    <div class="mat-elevation-z8" style="background: white;">
    <div id="titulo">REPORTE HORAS EXTRAS</div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Empleado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <mat-form-field id="t-inputs">
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                        </mat-form-field>
                    </td>
                    <td></td>
                </tr>
                <tr
                    *ngFor="let e of Lista_empleados | timbreEmpleado: filtroEmpleados | paginate:tamanio_pagina:numero_pagina">
                    <td>{{e.empleado}}</td>
                    <td class="d-flex justify-content-center">
                        <i id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                            matTooltip="Descargar reporte de Horas Extras en formato PDF."
                            (click)="ObtenerReporte(e.id, 'open')">
                            <p>PDF</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [length]="Lista_empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
        id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
    </mat-paginator>
</div>
</div>