<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div class="barraTitulo1">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>Información de vacacián</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let v of vacacion" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha de Inicio:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{v.fec_inicio.split("T")[0]}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha Final:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{v.fec_final.split("T")[0]}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha de Ingreso:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{v.fec_ingreso.split("T")[0]}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Días Laborables:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{v.dia_laborable}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Días Libres:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{v.dia_libre}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Legalizado:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label" *ngIf="v.legalizado == true">Sí</label>
                                <label class="col col-form-label" *ngIf="v.legalizado == false">No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Estado:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label"> {{v.estado}} </label>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col d-flex align-items-center justify-content-center" style="text-align: right;">
                                <i id="iconos"  *ngIf="!HabilitarAutorizacion" class="fas fa-plus-circle" style="color:rgb(58, 90, 231); margin-left: 15px;" (click)="AbrirAutorizaciones(v)"
                                    matTooltipPosition="right" matTooltip="Agrega más tipos de permisos de este departamento.">
                                    <p>Autorización</p>
                                </i>
                                <i *ngIf="HabilitarAutorizacion" class="fas fa-edit" style="color:green; margin-left: 15px;" matSuffix matTooltipPosition="right" (click)="AbrirVentanaEditar(v)"
                                    matTooltip="Cambiar el estado del permiso">
                                    <p>Estado</p>
                                </i>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div class="barraTitulo1">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>Informacion de la Autorización</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px;" *ngFor="let a of autorizacion">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Código autorización:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{a.id}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Estado:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{estado}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Orden:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{a.orden}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Departamento:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{departamento}}</label>
                            </div>
                        </div>                        
                        <div class="row" style="margin-top: 5px;">
                            <div class="col d-flex align-items-center justify-content-center" style="text-align: right;">
                                <i class="fas fa-edit" style="color:green; margin-left: 15px;" matSuffix matTooltipPosition="right" (click)="AbrirVentanaEditarAutorizacion(a)"
                                    matTooltip="Cambiar el estado del permiso">
                                    <p>Estado</p>
                                </i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>