<div class="d-flex bd-highlight titulo">
    <h5 class="w-100 bd-highlight align-self-center">Configuración de reporte Asistencia Consolidado</h5>
  </div>
  <section class="example-section">
      <span class="example-list-section">
        <mat-checkbox class="example-margin"
                      [checked]="allComplete"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)">
          <b>{{task.name}}</b>
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [(ngModel)]="subtask.completed"
                          (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
  </section>
  <div class="d-flex justify-content-around">
    <button class="btn btn-sm" (click)="GuardarConfiguracionAsistencia()">Guardar</button>
    <button class="btn btn-sm" (click)="dialogRef.close(false)">Cancelar</button>
  </div>