
<nav aria-label="breadcrumb">
    <a mat-buttom type="button" [routerLink]="['/archivos']"><mat-icon>west</mat-icon></a>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/archivos']">Carpetas</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{Dirname}}</li>
    </ol>
</nav>

<table class="table table-sm" style="background: white;">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descarga</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of archivos">
        <td *ngIf="a.extencion === 'pdf'"><mat-icon style="color: red;">picture_as_pdf</mat-icon></td>
        <td *ngIf="a.extencion === 'txt'"><mat-icon style="color: rgb(58, 58, 58);">text_snippet</mat-icon></td>
        <td *ngIf="a.extencion === 'docx' || a.extencion === 'xlsx'"><mat-icon style="color: rgb(0, 110, 255);">insert_drive_file</mat-icon></td>
        <td *ngIf="a.extencion === 'jpg' || a.extencion === 'jpeg' || a.extencion === 'png'"><mat-icon style="color: rgb(58, 160, 255);">photo</mat-icon></td>
        <td>{{a.file}}</td>
        <td>
            <a mat-buttom type="button" (click)="DescargarArchivo(a.file)" 
                href="http://186.71.19.82:3001/archivosCargados/download/files/{{Dirname}}/{{a.file}}">
                <mat-icon style="color: rgb(177, 177, 177);">cloud_download</mat-icon>
            </a>
        </td>
      </tr>
    </tbody>
  </table>