<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 5px;">
    <div class="row">
        <div class="col-lg" style="padding-bottom: 10px;">
            <app-rango-fechas></app-rango-fechas>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf='ver'>
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <span class="w-100 bd-highlight">
                LISTA DE REPORTES DE AUDITORIA</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">N°</th>
                        <th scope="col">Registro</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tipos | paginate:tamanio_pagina:numero_pagina">
                        <td>{{t.id}}</td>
                        <td>{{t.nombre}}</td>
                        <td class="d-flex justify-content-center">
                            <i (click)="PresentarReporte(1, t.value)" class="fas fa-file-pdf" matSuffix
                                matTooltipPosition="right" matTooltip="Descargar reporte de auditoria en formato PDF."
                                id="pdf">
                                <p>PDF</p>
                            </i>
                            <i (click)="PresentarReporte(2, t.value)" class="fas fa-file-excel" id="excel" matSuffix
                                matTooltipPosition="right"
                                matTooltip="Descargar reporte de auditoria en formato EXCEL.">
                                <p>EXCEL</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="tipos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>