<div class="d-flex bd-highlight barraTitulo">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">
        open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Editar Tipo Permiso</h5>
</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="primeroFormGroup">
        <form [formGroup]="primeroFormGroup">
            <ng-template matStepLabel>
                <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                    matTooltip="Sección 1: Información General">description
                </mat-icon>
            </ng-template>
            <div class="titulo_permisoR">
                <span>Información General</span>
            </div>
            <br>
            <div class="subtitulo_permisoR">
                <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente para continuar.</span>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <mat-form-field>
                    <mat-label>Seleccionar Tipo de Permiso</mat-label>
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Nombre del tipo de permiso no editable">
                        help_outline</mat-icon>
                    <mat-select formControlName="descripcionForm" [(ngModel)]="seleccionarPermiso" required [disabled]="true">
                        <mat-option *ngFor="let permiso of permisos" [value]="permiso.valor"
                            (click)="ActivarDesactivarNombre(primeroFormGroup.value)">
                            {{permiso.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!HabilitarDescrip">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="Ej: Descripcion del tipo de permiso"
                        formControlName="nombreForm" [ngStyle]="estilo" readonly="readonly">
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Nombre del tipo de permiso no editable">
                        help_outline</mat-icon>
                </mat-form-field>
                <mat-radio-group aria-label="Select an option" formControlName="almuIncluirForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">El permiso incluye Almuerzo *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso incluye almuerzo">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-form-field>
                    <mat-label>Solicitar permiso por:</mat-label>
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar si el permiso será por días o por horas y minutos">
                        help_outline</mat-icon>
                    <mat-select formControlName="diasHorasForm" [(ngModel)]="selectDiasHoras" required>
                        <mat-option *ngFor="let dh of diasHoras" [value]="dh.valor"
                            (click)="ActivarDiasHoras(primeroFormGroup.value)">
                            {{dh.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!HabilitarDias">
                    <mat-label>Días máximos de permiso</mat-label>
                    <input matInput placeholder="Ej: 3" (keypress)="IngresarSoloNumeros($event)"
                        formControlName="numDiaMaximoForm" [ngStyle]="estiloDias">
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar número de días máximos de permiso">
                        help_outline</mat-icon>
                </mat-form-field>
                <mat-form-field *ngIf="!HabilitarHoras">
                    <mat-label>Horas y minutos de permiso</mat-label>
                    <input matInput type="time" placeholder="Ej: 4" (keypress)="IngresarSoloNumeros($event)"
                        formControlName="numHoraMaximoForm" [ngStyle]="estiloHoras">
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar número de horas y minutos máximos de permiso">
                        help_outline</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label id="emple_solicitar">Empleado podrá solicitar</mat-label>
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar si el empleado puede solicitar permiso">
                        help_outline</mat-icon>
                    <mat-select formControlName="acceEmpleadoForm" [(ngModel)]="selectAccess" required>
                        <mat-option *ngFor="let sol of solicitudes" [value]="sol.valor">
                            {{sol.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Días para solicitar permiso</mat-label>
                    <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                        formControlName="numDiaIngresoForm" required>
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar números de días para solicitar permiso">
                        help_outline</mat-icon>
                </mat-form-field>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            <button (click)="CerrarVentanaEditarTipoPermiso()" class="btn btn-sm">Salir</button>
            <button matStepperNext class="btn btn-sm float-right">Siguiente</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="segundoFormGroup">
        <form [formGroup]="segundoFormGroup">
            <ng-template matStepLabel>
                <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                    matTooltip="Sección 2: Efectos del Permiso">description
                </mat-icon>
            </ng-template>
            <div class="titulo_permisoR">
                <span>Efectos del Permiso</span>
            </div>
            <br>
            <div class="subtitulo_permisoR">
                <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente para continuar.</span>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
                <mat-radio-group aria-label="Select an option" formControlName="vacaAfectaForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso afecta a vacaciones *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso afecta a vacaciones">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="anioAcumulaForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Acumular permisos en el año *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si los días o horas del permiso son acumulables en el año">
                            help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-form-field>
                    <mat-label id="selec">Seleccionar tipo descuento</mat-label>
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar si el permmiso tendrá descuento">help_outline</mat-icon>
                    <mat-select formControlName="tipoDescuentoForm" required>
                        <mat-option *ngFor="let d of descuentos" [value]="d.value">
                            {{d.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-radio-group aria-label="Select an option" formControlName="actualizarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Se podrá Actualizar permiso *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso podrá ser actualizado">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="eliminarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso podrá ser Eliminado *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso podrá ser eliminado">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            <button matStepperPrevious class="btn btn-sm">Atrás</button>
            <button (click)="CerrarVentanaEditarTipoPermiso()" class="btn btn-sm">Salir</button>
            <button matStepperNext class="btn btn-sm float-right">Siguiente</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="terceroFormGroup">
        <form [formGroup]="terceroFormGroup">
            <ng-template matStepLabel>
                <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                    matTooltip="Sección 3: Condiciones del Permiso">description
                </mat-icon>
            </ng-template>
            <div class="titulo_permisoR">
                <span>Condiciones del Permiso</span>
            </div>
            <br>
            <div class="subtitulo_permisoR">
                <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Guardar.</span>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
                <mat-radio-group aria-label="Select an option" formControlName="preautorizarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso debe ser Preautorizado *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso debe ser preautorizado">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="autorizarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso debe ser Autorizado *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso debe ser autorizado">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="legalizarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso debe ser Legalizado *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso debe ser legalizado">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="fecValidarForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Restrición por fecha *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso tendrá alguna restrición por la fecha">
                            help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" formControlName="geneJustificacionForm" required>
                    <label class="d-flex justify-content-start">
                        <span style="font-size: 12px;">Permiso requiere Justificación *</span>
                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right"
                            matTooltip="Seleccionar si el permiso debe ser justificacdo">help_outline
                        </mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button (click)="ActivarJustificacion()" [value]="true" id="si">Si
                        </mat-radio-button>
                        <mat-radio-button (click)="DesactivarJustificacion()" [value]="false" id="no">No
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-form-field *ngIf="!HabilitarJustifica">
                    <mat-label>Días para justificar</mat-label>
                    <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                        formControlName="numDiaJustificaForm" [ngStyle]="estiloJustifica" id="diasJustificar">
                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar el número de días que tendrá el empleado para justificar">
                        help_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <button matStepperPrevious class="btn btn-sm">Atrás</button>
                <input type="submit" class="btn btn-sm"
                    (click)="ModificarTipoPermiso(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value)"
                    value="Guardar">
                <button (click)="CerrarVentanaEditarTipoPermiso()" class="btn btn-sm float-right">Salir</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>