<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <mat-card class="example-card mat-elevation-z9" id="carta 1">
                <div class="barraTitulo">
                    <span>TIPO DE PERMISOS</span>
                </div>
                <br>
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarTipoPermisoForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <mat-form-field>
                                <mat-label>Nombre del permiso</mat-label>
                                <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right" matTooltip="Búsqueda del permiso por el nombre">
                                        help_outline</mat-icon>
                                <input matInput name="filtroDescripcion" placeholder="Ingresar nombre" minlength="2"
                                    [formControl]="nombreF" [(ngModel)]="filtroDescripcion">
                                <mat-error *ngIf="nombreF.invalid">Indispensable ingresar dos letras</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <button mat-button type="submit" class="btn btn-danger btn-sm" (click)="LimpiarCampos()">Cancelar</button>
                    <button mat-button class="btn btn-primary btn-sm" [routerLink]="['/tipoPermisos']">Crear nuevo Permiso</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resultados">Resultado de búsqueda</div>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id </th>
                <th scope="col">Descripción</th>
                <th scope="col">Autorización</th>
                <th scope="col">Legalización</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tp of tipoPermiso | filtroNombre: filtroDescripcion">
                <th style="padding-top: 10px; text-align: center;" scope="row">{{tp.id}}</th>
                <td style="padding-top: 10px;text-align: center;">{{tp.descripcion}}</td>
                <td style="padding-top: 10px;text-align: center;">{{tp.actualizar}}</td>
                <td style="padding-top: 10px;text-align: center;">{{tp.legalizar}}</td>
                <td style="padding-top: 10px;text-align: center;">
                    <i class="far fa-trash-alt" style="color:red; margin-right: 15px;"></i>
                    <i class="fas fa-edit" style="color:green;"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>