.btn { background-color: rgb(80,87,97); color: white; }

.button {margin: 5px 10px 5px 10px;}

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

#cont { font-size: 14px; }

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.tituloSucursalR{ 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px; 
}

#sucursalR { cursor: pointer; }

/*.sucursalR-tooltip { background-color : rgba(233, 33, 33, 0.828); }*/

#provSelec { font-size: 15px; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}