<div class="d-flex bd-highlight titulo">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Tipo de Vacuna</h5>
</div>
<form [formGroup]="vacunaForm">
    <div class="container" style="padding-top: 15px;">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="SINOVAC" [formControl]="nombreF" required>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Ingresar nombre de vacuna.">help_outline
                </mat-icon>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm" [disabled]="!vacunaForm.valid" (click)="GuardarTipoVacuna(vacunaForm.value)"
        value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentana()" value="Salir">
</div>