.btn { background-color: rgb(80,87,97); color: white; } 

td { padding-top: 10px; text-align: center; }

#TituloResultado { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 12px;}



h4 {
    font-weight: bold;
}

#accion { color: rgb(53, 95, 209); cursor: pointer; }