<br>
<div class="container" style="padding-bottom: 50px;">
    <mat-card class="mat-elevation-z8 d-flex flex-column align-self-center">
        <div id="resulProceso">Lista para asignar Catálogo Notificaciones</div>
        <table class="table table-hover table-responsive table-xl">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Empresa</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of datos | paginate:tamanio_pagina:numero_pagina">
                    <td>{{d.nom_emp}}</td>
                    <td>{{d.nom_suc}}</td>
                    <td>{{d.nom_depa}}</td>
                    <td>{{d.nivel}}</td>
                    <td class="d-flex justify-content-start">
                        <a [routerLink]="['/notificaciones/',d.sucursal,d.departamento,d.nivel]" class="fas fa-plus-circle" style="color:rgb(58, 90, 231); margin-left: 15px;" id="iprocesoL" 
                            matSuffix matTooltipPosition="right" matTooltip="Agregar catalogos notificaciones en cada departamento.">
                            <p>Agregar</p>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="datos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>

</div>