<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="tituloPermisoS">
            <span>Funciones que tendrá el Rol {{nombreRol}}</span>
        </div>
        <!-- Formulario Completo -->
        <mat-card-content>
            <div class="subtitulo">
               <!--   <span>
                  Seleccionar las funciones o acciones que puede realizar el rol {{nombreRol}} en un determinado
                    pantalla
                    por medio de los links y selecionando una etiqueta de descripcion de lo que realiza en ese página
                </span>-->
            </div>
            <form [formGroup]="nuevoRolPermisoForm">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Seleccionar Función</mat-label>
                                <mat-icon id="iselPermiso" matSuffix matTooltipClass="selPermiso-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Lista de funciones que se podrán realizar en el sistema">
                                help_outline</mat-icon>
                                <mat-select [formControl]="funcion" required>
                                    <mat-option *ngFor="let f of funciones" [value]="f.value">
                                        {{f.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="funcion.invalid">{{obtenerMensajeErrorFuncion()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Seleccionar Links</mat-label>
                                <mat-icon id="iselPermiso" matSuffix matTooltipClass="selPermiso-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Secciones del sistema a las que va a afectar la función seleccionada">
                                help_outline</mat-icon>
                                <mat-select [formControl]="link" matTooltipClass="selPermiso-tooltip"
                                    matTooltipPosition="right" matTooltip="El rol es el nivel " required>
                                    <mat-option *ngFor="let l of links" [value]="l.value">
                                        {{l.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="link.invalid">{{obtenerMensajeErrorLink()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label id="funcion">Seleccionar etiquetas</mat-label>
                                <mat-icon id="iselPermiso" matSuffix matTooltipClass="selPermiso-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Lista de nombres que referencian las funciones que se pueden realizar en el sistema">
                                help_outline</mat-icon>
                                <mat-select [formControl]="etiqueta" matTooltipClass="selPermiso-tooltip"
                                    matTooltipPosition="right" matTooltip="El rol es el nivel " required>
                                    <mat-option *ngFor="let e of etiquetas" [value]="e.value">
                                        {{e.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="etiqueta.invalid">{{obtenerMensajeErrorEtiqueta()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="container" style="text-align: center;">
                <button type="submit" class="btn btn-warning btn-sm" [routerLink]="['/roles']">Atrás</button>
                <input type="submit" class="btn btn-primary btn-sm" style="margin-left: 15px;"
                    [disabled]="!nuevoRolPermisoForm.valid" (click)="insertarRolPermiso(nuevoRolPermisoForm.value)"
                    value="Guardar">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-left: 15px;" (click)="limpliarCampos()"
                    value="Cancelar">
            </div>
        </mat-card-actions>
    </mat-card>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resulSelPermiso">Resultado de búsqueda</div>
    <table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id </th>
                <th scope="col">Funcion</th>
                <th scope="col">Link</th>
                <th scope="col">Etiqueta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of guardarRoles">
                <th style="padding-top: 10px; text-align: center;" scope="row">{{g.id}}</th>
                <td style="padding-top: 10px;">{{g.funcion}}</td>
                <td style="padding-top: 10px;">{{g.link}}</td>
                <td style="padding-top: 10px;">{{g.etiqueta}}</td>
            </tr>
        </tbody>
    </table>
</div>