<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Añadir Rol Permiso para {{nombreRol}}</mat-card-title>
        </mat-card-header>
        <!-- Formulario Completo -->
        <mat-card-content>
            <form [formGroup]="nuevoRolPermisoForm">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Ingresar funcion</mat-label>
                                <input matInput placeholder="Ej: Ver" [formControl]="funcion" (keypress)="soloLetras($event)" required>
                                <mat-error *ngIf="funcion.invalid">{{obtenerMensajeErrorFuncion()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Ingresar link</mat-label>
                                <input matInput placeholder="Ej: /home" [formControl]="link" (keypress)="soloLetras($event)" required>
                                <mat-error *ngIf="link.invalid">{{obtenerMensajeErrorLink()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label>Ingresar etiqueta</mat-label>
                                <input matInput placeholder="Ej: sirve para visualizar" [formControl]="etiqueta" (keypress)="soloLetras($event)" required>
                                <mat-error *ngIf="etiqueta.invalid">{{obtenerMensajeErrorEtiqueta()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="container" style="text-align: center;">
                <button type="submit" class="btn btn-warning btn-sm" [routerLink]="['/roles']">Atrás</button>
                <input type="submit" class="btn btn-primary btn-sm" style="margin-left: 15px;" [disabled]="!nuevoRolPermisoForm.valid"
                    (click)="insertarRolPermiso(nuevoRolPermisoForm.value)" value="Guardar">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-left: 15px;" (click)="limpliarCampos()"
                    value="Cancelar">
                </div>
        </mat-card-actions>
    </mat-card>

</div>

<div class="container  table-responsive" style="padding-bottom: 50px;">
    <mat-toolbar >
        <span style="text-align: center;">Resultado de búsqueda</span>
      </mat-toolbar>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id </th>
                <th scope="col">Funcion</th>
                <th scope="col">Link</th>
                <th scope="col">Etiqueta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of guardarRoles">
                <th style="padding-top: 10px; text-align: center;" scope="row">{{g.id}}</th>
                <td style="padding-top: 10px;">{{g.funcion}}</td>
                <td style="padding-top: 10px;">{{g.link}}</td>
                <td style="padding-top: 10px;">{{g.etiqueta}}</td>
            </tr>
        </tbody>
    </table>
</div>