<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z9">
                <div class="tituloDepartamentos">
                    <span id="negrita_dep">DEPARTAMENTOS</span>
                </div>
                <br>
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarDepartamentosForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <mat-form-field>
                                <mat-label>Departamento</mat-label>
                                <input matInput id="depNombre" name="filtroNombre" placeholder="Departamento"
                                    [formControl]="departamentoF" (keypress)="IngresarSoloLetras($event)"
                                    [(ngModel)]="filtroNombre">
                                <mat-icon id="color" matSuffix matTooltipPosition="right"
                                    matTooltipClass="departamento-tooltip" matTooltip="Búsqueda por Departamento">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="departamentoF.invalid">{{ObtenerMensajeDepartamentoLetras()}}
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Departamento Superior</mat-label>
                                <input matInput id="depPadre" name="filtroDeparPadre"
                                    placeholder="Departamento Superior" [formControl]="departamentoPadreF"
                                    (keypress)="IngresarSoloLetras($event)" [(ngModel)]="filtroDeparPadre">
                                <mat-icon id="color" matSuffix matTooltipPosition="right"
                                    matTooltipClass="departamento-tooltip"
                                    matTooltip="Búsqueda por Departamento Superior">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="departamentoPadreF.invalid">
                                    {{ObtenerMensajeDepartamentoPadreLetras()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-danger btn-sm" (click)="LimpiarCampos()" value="Cancelar">
                    <input type="submit" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarDepartamento()"
                        value="Crear nuevo Departamento">
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resulDepartamentos">Resultado de búsqueda</div>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Nivel</th>
                <th scope="col">Departamento Superior</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let departamento of departamentos | filtroDepartamento: filtroNombre | departamentoPadre: filtroDeparPadre">
                <td>{{departamento.nombre}}</td>
                <td>{{departamento.nivel}}</td>
                <td>{{departamento.departamento_padre}}</td>
                <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="fas fa-edit" (click)="AbrirVentanaEditarDepartamento(departamento)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>