.btn { margin-left: 15px; border-radius: 25px; } 
.fas { color:green; margin-left: 20px;  }
.far { color:red }
tr { text-align: center; }
td { padding-top: 10px; text-align: center; }
h4 { font-weight: bold; text-align: center; }
h5 { text-align: center; }
span { font-weight: bold; }
#color { color:green; }
.color-tooltip { background: rgb(23, 46, 177) ; }