.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

p { font-size: x-small; }

.fas { color:green; margin-left: 20px; cursor: pointer; }

.far { color:red; cursor: pointer; margin-left: 20px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

#negrita_dep { font-weight: bold; }

#color { cursor: pointer; }

/*.departamento-tooltip { background: rgb(122, 3, 106); }*/

.tituloDepartamentos { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resulDepartamentos { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table {width: 100%;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#pdf { color:red; font-size: 20px; text-align: center; margin-left: 20px; }

#excel { color:green; font-size: 20px; text-align: center; margin-left: 20px; }

#csv { color:blue; font-size: 20px; text-align: center; margin-left: 20px; }

#xml { color:orangered; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }