.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

.barraTituloCargoE { 
    text-align: center; 
    background: rgb(52,65,84);
    color: white; 
    padding-top: 14px; 
}

.alinear {margin-top: 5px; }

mat-form-field {width: 195px; }

#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}

#cargoE { cursor: pointer; }

#selEmpre { font-size: 14px; }

