<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloEnrolado_reloj">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Agregar a {{data.datosEnrolado.nombre}} a dispositivo</span>
</div>
<div style="text-align: center">
    <form [formGroup]="asignarRelojForm">
        <mat-card-content>
            <div class="container">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.</span>
                </div>
                <mat-form-field>
                    <mat-label id="selecDispositivo">Seleccionar Dispositivo</mat-label>
                    <mat-icon id="enrolado_reloj" matSuffix matTooltipClass="reloj-enrolado-tooltip" matTooltipPosition="right"
                        matTooltip="Lista de dispositivos existentes en la empresa">help_outline</mat-icon>
                    <mat-select [formControl]="dispositivoF" [(ngModel)]="seleccionarDispositivo" required>
                        <mat-option *ngFor="let d of dispositivos" [value]="d.id">
                            {{d.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!asignarRelojForm.valid"
            (click)="InsertarEnroladoReloj(asignarRelojForm.value, data.datosEnrolado.id)" value="Guardar">
        <input type="submit" class="btn btn-sm" (click)="CerrarVentanaAsignarReloj()" value="Salir">
    </mat-card-actions>
</div>