p { font-size: x-small; text-align: center; }

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

.barraTituloD { 
    font-size: 25px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#editarF { color:green; cursor: pointer; text-align: center; margin-left: 15px; }

#datosF { font-weight: bold; font-size: 18px; }

#verticalLine { border-left: 1px solid rgb(52,65,84); }