<mat-icon id="movilidad">open_with</mat-icon>
<div class="barraTituloC">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Asignar Ciudad a:</span>
</div>
<h4 style="text-align: center">{{data.feriado.descripcion}}</h4>
<br>
<div style="text-align: center">
    <form [formGroup]="asignarCiudadForm">
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Seleccionar Continente</mat-label>
                            <mat-icon id="feriado" matSuffix matTooltipClass="feriado-tooltip" matTooltipPosition="right"
                                    matTooltip="Lista de continentes">help_outline</mat-icon>
                            <mat-select [formControl]="nombreContinenteF" [(ngModel)]="seleccionarContinente" required>
                                <mat-option *ngFor="let c of continentes" [value]="c.continente"
                                    (click)="FiltrarPaises(asignarCiudadForm.value)">
                                    {{c.continente}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Seleccionar País</mat-label>
                            <mat-icon id="feriado" matSuffix matTooltipClass="feriado-tooltip" matTooltipPosition="right"
                                    matTooltip="Lista de países del continente seleccionado">help_outline</mat-icon>
                            <mat-select [formControl]="nombrePaisF" [(ngModel)]="seleccionarPaises" required>
                                <mat-option *ngFor="let pais of paises" [value]="pais.id"
                                    (click)="FiltrarProvincias(asignarCiudadForm.value)">
                                    {{pais.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label id="prov">Seleccionar Provincia</mat-label>
                            <mat-icon id="feriado" matSuffix matTooltipClass="feriado-tooltip" matTooltipPosition="right"
                                    matTooltip="Lista de provincias, departamentos o estados del país seleccionado">help_outline</mat-icon>
                            <mat-select [formControl]="idProvinciaF" [(ngModel)]="seleccionarProvincia" required>
                                <mat-option *ngFor="let pro of provincias" [value]="pro.nombre" (click)="FiltrarCiudades(asignarCiudadForm.value)">
                                    {{pro.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Seleccionar Ciudad</mat-label>
                            <mat-icon id="feriado" matSuffix matTooltipClass="feriado-tooltip" matTooltipPosition="right"
                                    matTooltip="Lista de ciudades de la provincia, departamento o estado seleccionado">help_outline</mat-icon>
                            <mat-select [formControl]="nombreCiudadF" [(ngModel)]="seleccionarCiudad" required>
                                <mat-option *ngFor="let ciudad of nombreCiudades" [value]="ciudad.id" (click)="SeleccionarCiudad(asignarCiudadForm.value)">
                                    {{ciudad.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!asignarCiudadForm.valid"
            (click)="InsertarFeriadoCiudad(asignarCiudadForm.value, data.feriado.id)" value="Guardar">
        <input type="submit" class="btn btn-sm" (click)="CerrarVentanaAsignarCiudad()" value="Salir">
    </mat-card-actions>
</div>