<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div class="barraTitulo">
                <span>TIPO DE PERMISOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center">
                    <button mat-button type="submit" class="btn btn-sm" [routerLink]="['/tipoPermisos']">Crear nuevo
                        Permiso
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Id </th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Incluye Almuerzo</th>
                        <th scope="col">Legalización</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" minlength="2" [formControl]="nombreF"
                                    [(ngModel)]="filtroDescripcion">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda del permiso por el nombre.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let tp of tipoPermiso | filtroNombre: filtroDescripcion | paginate:tamanio_pagina:numero_pagina">
                        <th style="padding-top: 10px; text-align: center;" scope="row">{{tp.id}}</th>
                        <td style="padding-top: 10px;text-align: center;">{{tp.descripcion}}</td>
                        <td style="padding-top: 10px;text-align: center;">{{tp.almu_incluir}}</td>
                        <td style="padding-top: 10px;text-align: center;">{{tp.legalizar}}</td>
                        <td style="padding-top: 10px;text-align: center;" class="d-flex justify-content-center">
                            <i matSuffix matTooltipPosition="right" matTooltip="Ver datos generales de este registro."
                                class="fas fa-eye" id="t-ver" [routerLink]="['/vistaPermiso/', tp.id]">
                                <p>Ver</p>
                            </i>
                            <i id="t-editar" class="fas fa-edit" matSuffix matTooltipPosition="right"
                                (click)="AbrirVentanaEditarTipoPermisos(tp)"
                                matTooltip="Modificar los datos generales de este registro.">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(tp)" id="t-eliminar" class="far fa-trash-alt" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="tipoPermiso.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Tipo de Permisos en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Tipo de Permisos en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Tipo de Permisos en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Tipo de Permisos en formato XML.">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>