<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm" style="margin-bottom: 25px;">
            <div class="tituloHorarioL">
                <span>FUNCIONES DEL SISTEMA</span>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1" *ngIf="HabilitarRegistro">
                <div class="nota" style="text-align: center;">
                    <span>NOTA: Por favor indicar las funciones que se van habilitar en el sistema.</span>
                </div>
                <form [formGroup]="configuracionForm">
                    <mat-card-content>
                        <div class="container" style="text-align: left">
                            <section class="example-section">
                                <mat-radio-group aria-label="Select an option" formControlName="seleccionForm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="hora_extraF"
                                                    [checked]="hora_extraF" [ngModelOptions]="{standalone: true}">Horas
                                                    Extras
                                                </mat-checkbox >
                                            </div>
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="accion_personalF"
                                                    [checked]="accion_personalF" [ngModelOptions]="{standalone: true}">
                                                    Acciones de Personal
                                                </mat-checkbox >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="alimentacionF"
                                                    [checked]="alimentacionF" [ngModelOptions]="{standalone: true}">
                                                    Alimentación
                                                </mat-checkbox >
                                            </div>
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="permisosF"
                                                    [checked]="permisosF" [ngModelOptions]="{standalone: true}">Permisos
                                                </mat-checkbox >
                                            </div>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </section>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <button mat-button type="submit" class="btn btn-sm" (click)="RegistrarFunciones()">Guardar</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card mat-elevation-z9" id="carta1" *ngIf="HabilitarActualizacion">
                <div class="nota" style="text-align: center;">
                    <span>NOTA: Por favor indicar las funciones que se van habilitar en el sistema.</span>
                </div>
                <form [formGroup]="configuracionForm">
                    <mat-card-content>
                        <div class="container" style="text-align: left">
                            <section class="example-section">
                           
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="hora_extra_1F"
                                                    [checked]="hora_extra_1F" [ngModelOptions]="{standalone: true}">
                                                    Horas
                                                    Extras
                                                </mat-checkbox >
                                            </div>
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="accion_personal_1F"
                                                    [checked]="accion_personal_1F"
                                                    [ngModelOptions]="{standalone: true}">
                                                    Acciones de Personal
                                                </mat-checkbox >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="alimentacion_1F"
                                                    [checked]="alimentacion_1F" [ngModelOptions]="{standalone: true}">
                                                    Alimentación
                                                </mat-checkbox >
                                            </div>
                                            <div class="col">
                                                <mat-checkbox  ngDefaultControl [(ngModel)]="permisos_1F"
                                                    [checked]="permisos_1F" [ngModelOptions]="{standalone: true}">
                                                    Permisos
                                                </mat-checkbox >
                                            </div>
                                        </div>
                                    </div>
                                
                            </section>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <button mat-button type="submit" class="btn btn-sm" (click)="ActualizarFunciones()">Guardar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>