#resultadosEmpre { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }

p { font-size: x-small; }

td { padding-top: 10px; text-align: center;  }

#enviar { color:green; margin-right: 15px; cursor: pointer; }

#recibir { color:rgb(0, 41, 128); margin-right: 15px; cursor: pointer; }

#eliminar { color:red; margin-right: 15px; cursor: pointer; }

table { width: 100%; font-size: 14px; }



#ver { color: indianred; }

#cerrar { cursor: pointer; margin-left: 15px; }

mat-expansion-panel-header { text-align: center; background: rgb(52,65,84); }

mat-panel-title { color: white; }

mat-form-field { padding: 10px 15px 0px 15px;}

#icono { color: white; }

.mat-expansion-panel-header.mat-expanded {
    background: rgb(52,65,84);
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgb(52,65,84);
}

#pdf { color:red; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }
