<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <mat-toolbar style="background: white;">
            <span>Añadir Tipo Permiso</span>
        </mat-toolbar>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="primeroFormGroup">
                <ng-template matStepLabel>Sección 1 </ng-template>
                    <form [formGroup]="primeroFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Descripción</mat-label>
                                    <textarea matInput placeholder="Ej: " formControlName="descripcionForm" required></textarea>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Seleccione Tipo Descuento</mat-label>
                                    <mat-select formControlName="tipoDescuentoForm">
                                        <mat-option *ngFor="let d of descuentos" [value]="d.value">
                                            {{d.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Número dia máximo</mat-label>
                                    <input matInput placeholder="Ej: " formControlName="numDiaMaximoForm" required>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Número Hora Máxima</mat-label>
                                    <input matInput placeholder="Ej: " formControlName="numHoraMaximoForm" required>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Número Dia Ingreso</mat-label>
                                    <input matInput placeholder="Ej: " formControlName="numDiaIngresoForm" required>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Acceso Empleado</mat-label>
                                    <input matInput placeholder="Ej: " formControlName="acceEmpleadoForm" required>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Número dia Justifica</mat-label>
                                    <input matInput placeholder="Ej: " formControlName="numDiaJustificaForm" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                    <div>
                        <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
                    </div>
            </mat-step>
            <mat-step [stepControl]="segundoFormGroup">
                <ng-template matStepLabel>Sección 2</ng-template>
                    <form [formGroup]="segundoFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="vacaAfectaForm" required>
                                        <label>Afecta Vacaciones</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="anioAcumulaForm" required>
                                        <label>Año acumula</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="correoForm" required>
                                        <label>Correo</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="geneJustificacionForm"
                                        required>
                                        <label>Año acumula</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="fecValidarForm" required>
                                        <label>Año acumula</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="actualizarForm" required>
                                        <label>Actualizar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="autorizarForm" required>
                                        <label>Autorizar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
                    <div>
                        <button mat-button matStepperPrevious class="btn btn-success">Atrás</button>
                        <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
                    </div>
            </mat-step>
            <mat-step [stepControl]="terceroFormGroup">
                <form [formGroup]="terceroFormGroup">
                    <ng-template matStepLabel>Sección 3</ng-template>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="crearForm" required>
                                        <label>Crear</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="eliminarForm" required>
                                        <label>Eliminar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="legalizarForm" required>
                                        <label>Legalizar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="noautorizarForm" required>
                                        <label>No Autorizar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col">
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="preautorizarForm" required>
                                        <label>Preautorizar</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="almuIncluirForm" required>
                                        <label>Incluir Almuerzo</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                        </div>
                    </div>
                   
                    <div>
                        <button mat-button matStepperPrevious class="btn btn-success">Atrás</button>
                        <input type="submit" class="btn btn-primary" (click)="insertarTipoPermiso(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value)"
                        [disabled]="!terceroFormGroup.valid" value="Grabar" style="margin: 0px;">
                        <button mat-button (click)="stepper.reset()" class="btn btn-danger" style="margin-left: 15px;">Cancelar</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>

</div>

