<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z8">
                <div style="text-align: center;">
                    <h5>Proceso - Criterios de Búsqueda</h5>
                </div>
                <!-- Formulario Completo -->
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form [formGroup]="">
                            <mat-form-field>
                                <mat-label>Ingresar Codigo</mat-label>
                                <input matInput placeholder="Ej: ">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Ingresar Nombre</mat-label>
                                <input matInput placeholder="Ej: ">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Ingresar Nivel</mat-label>
                                <input matInput placeholder="Ej: ">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Ingresar Proceso Padre</mat-label>
                                <input matInput placeholder="Ej: ">
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-success btn-sm" value="Buscar">
                    <input type="submit" class="btn btn-danger btn-sm" value="Cancelar">
                    <button type="button" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarProceso()">Nuevo Proceso</button>
                </div>
            </mat-card>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container  table-responsive" style="padding-bottom: 50px;">
    <mat-toolbar>
        <span style="text-align: center;">Resultado de búsqueda</span>
    </mat-toolbar>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id </th>
                <th scope="col">Nombre</th>
                <th scope="col">Nivel</th>
                <th scope="col">Proceso Padre</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proceso of procesos">
                <th style="padding-top: 10px; text-align: center;" scope="row">{{proceso.id}}</th>
                <td style="padding-top: 10px;text-align: center;">{{proceso.nombre}}</td>
                <td style="padding-top: 10px;text-align: center;">{{proceso.nivel}}</td>
                <td style="padding-top: 10px;text-align: center;">{{proceso.proc_padre}}</td>
                <td style="padding-top: 10px;text-align: center;">
                    <i class="far fa-trash-alt" style="color:red; margin-right: 15px;"></i> 
                    <i  class="fas fa-edit" style="color:green;" ></i> 
                </td>
            </tr>
        </tbody>
    </table>
</div>