<div class="d-flex bd-highlight tituloNotifica">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Registrar Autorización</h5>
</div>
<form [formGroup]="nuevaAutorizacionesForm">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón Guardar.</span>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Orden</mat-label>
                        <mat-icon id="notifica" matSuffix matTooltipClass="notifica-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de orden">
                            help_outline</mat-icon>
                        <mat-select [formControl]="orden" required>
                            <mat-option *ngFor="let o of ordenes" [value]="o.valor">
                                {{o.valor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Estados</mat-label>
                        <mat-icon id="notifica" matSuffix matTooltipClass="notifica-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de estados">
                            help_outline</mat-icon>
                        <mat-select [formControl]="estado" required>
                            <mat-option *ngFor="let e of estados" [value]="e.id">
                                {{e.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col" *ngIf="Habilitado">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <mat-icon id="notifica" matSuffix matTooltipClass="notifica-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de orden">
                            help_outline</mat-icon>
                        <mat-select [formControl]="idDepartamento">
                            <mat-option *ngFor="let d of departamentos" [value]="d.id_departamento">
                                {{d.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>

<div style="text-align: center;">
    <input type="submit" class="btn btn-sm" (click)="insertarAutorizacion(nuevaAutorizacionesForm.value)"
        [disabled]="!nuevaAutorizacionesForm.valid" value="Guardar">
    <input type="submit" (click)="dialogRef.close()" class="btn btn-sm" value="Salir" style="margin-left: 15px;">
</div>