.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

td { padding-top: 10px; text-align: center; }

#TituloResultado { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}



mat-icon { cursor: pointer;}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

#icono { color: white; }


#menu { color: green; font-size: 20px; text-align: center; cursor: pointer; }

p { font-size: x-small; }

mat-form-field { padding: 10px 15px 0px 15px;}