<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                            Críterios de Búsqueda Inmediata
                        </mat-panel-title>
                        <mat-icon id="icono" class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                            matTooltip="Dar clic para desplegar y contraer todos los campos de búsqueda. La búsqueda es inmediata para un dato en específico.">
                            search</mat-icon>
                    </mat-expansion-panel-header>
                    <form [formGroup]="">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label>Ingresar Código</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCodigo" [formControl]="codigo"
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    matTooltipClass="emple-tooltip" matTooltip="Búsqueda de empleado por el código">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Ingresar CI o pasaporte</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    matTooltipClass="emple-tooltip"
                                    matTooltip="Búsqueda de empleado por la cédula de identificación o pasaporte">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Ingresar Nombres</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroNombre" [formControl]="nombre"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="nombre.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    matTooltipClass="emple-tooltip" matTooltip="Búsqueda de empleado por el nombre">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Ingresar Apellidos</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroApellido" [formControl]="apellido"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="apellido.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    matTooltipClass="emple-tooltip" matTooltip="Búsqueda de empleado por el apellido">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="d-flex justify-content-around">
                        <button mat-button type="submit" class="btn btn-sm" id="boton"
                            (click)="LimpiarCampos()">Cancelar</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                            Críterios de Búsqueda
                        </mat-panel-title>
                        <mat-icon id="icono" class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                            matTooltip="Dar clic para desplegar y contraer todos los campos de búsqueda.">
                            search</mat-icon>
                    </mat-expansion-panel-header>
                    <form [formGroup]="busquedasForm">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field>
                                <mat-label id="selec">1.Establecimientos</mat-label>
                                <mat-icon id="cargoE" matSuffix matTooltipPosition="right"
                                    matTooltip="Muestra todos los empleados que pertenecen al establecimiento.">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="sucursalF">
                                    <mat-option *ngFor="let s of sucursales" [value]="s.id"
                                        (click)="FiltrarSucursal(busquedasForm.value)">{{s.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="selec">2.Regimen Laboral</mat-label>
                                <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip"
                                    matTooltipPosition="right"
                                    matTooltip="Indicar cuál es la cucursal en la que se encuntra el dispositivo">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="laboralF">
                                    <mat-option *ngFor="let r of regimen" [value]="r.id"
                                        (click)="FiltrarRegimen(busquedasForm.value)">{{r.descripcion}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="selec">3.Departamentos</mat-label>
                                <mat-icon id="cargoE" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuál es la cucursal en la que se encuntra el dispositivo">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="depaF">
                                    <mat-option *ngFor="let d of departamentos" [value]="d.id"
                                        (click)="FiltrarDepartamento(busquedasForm.value)">{{d.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="selec">4.Cargos</mat-label>
                                <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip"
                                    matTooltipPosition="right"
                                    matTooltip="Indicar cuál es la cucursal en la que se encuntra el dispositivo">
                                    help_outline</mat-icon>
                                <mat-select [formControl]="cargosF">
                                    <mat-option *ngFor="let c of cargos" [value]="c.id">{{c.cargo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="d-flex justify-content-around">
                        <button mat-button type="submit" class="btn btn-sm" id="boton"
                            (click)="VerificarBusquedas(busquedasForm.value)">Buscar</button>
                        <button mat-button type="submit" class="btn btn-sm" id="boton"
                            (click)="LimpiarBusquedas()">Cancelar</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<div class="container" style="margin: 25px 0px 25px 0px; text-align: center;">
    <!--  <mat-form-field style="width: 90%;">
        <mat-label>Escribe para Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>-->
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="TituloResultado">
            <mat-icon class="flex-shrink-1 bd-highlight" matSuffix matTooltipPosition="right"
                matTooltip="Crear planificación de servicio de alimentación de varios empleados" id="SelectCheck"
                (click)="HabilitarSeleccion()">
                library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitar" class="btn btn-primary" style="float: left; margin-left: 10px;"
                (click)="PlanificacionVarios()">Planificar</button>
            <span class="w-100 bd-highlight">
                Resultado de búsqueda</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (change)="$event ? masterToggle() : null"
                                [checked]="selectionUno.hasValue() && isAllSelected()"
                                [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Regimen Laboral</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of Lista_empleados | emplCargo: filtroCargo | regimen: filtroRegimen | departamento: filtroDepartamento | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido  | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUno.toggle(e) : null" [checked]="selectionUno.isSelected(e)"
                                [aria-label]="checkboxLabel(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}} {{e.apellido}}</td>
                        <td>{{e.departamento | titlecase}}</td>
                        <td>{{e.cargo}}</td>
                        <td>{{e.regimen | titlecase}}</td>
                        <td class="d-flex justify-content-center">
                            <mat-icon *ngIf="auto_individual" (click)="AbrirVentanaPlanificacion(e.id)" matSuffix
                                matTooltipPosition="right"
                                matTooltip="Registrar planificación servicio de alimentación"> restaurant_menu
                            </mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="Lista_empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>