<div class="d-flex justify-content-center">
    <div id="avatar" *ngIf="mostrarImagen; else showIniciales">
      <img src="{{urlImagen}}" alt="" id="avatarImagen">
    </div>
    <ng-template #showIniciales>
      <div id="avatar">
        <span class="iniciales d-flex align-items-center justify-content-center"
          style="margin-top: 8px;">{{iniciales}}</span>
      </div>
    </ng-template>
    
    <div class="d-flex flex-column bd-highlight" style="margin-left: 19px; margin-top: 3px;">
      <h3 class="bd-highlight">{{UserName}}</h3>
      <!-- <p class="bd-highlight" style="font-size: 13px; margin-top: -10px;">{{UserEmail}}</p> -->
    </div>
</div>