<!-- TABLA CON LISTA DE SOLICITUDES DE SERVICIO DE ALIMENTACIÓN PENDIENTES -->
<br>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_solicitados">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccion()" matSuffix
                matTooltipPosition="right"
                matTooltip="Autorizar a todos los empleados su solicitud de servicio de alimentación." id="SelectCheck">
                library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitar" class="btn btn-primary" (click)="AutorizarSolicitudMultiple()"
                style="float: left; margin-left: 10px;">Autorizar</button>
            <span class="w-100 bd-highlight">
                Lista de Servicios de Alimentación Solicitados</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (change)="$event ? masterToggle() : null"
                                [checked]="selectionUno.hasValue() && isAllSelected()"
                                [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Comida</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of solicitudes | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUno.toggle(e) : null" [checked]="selectionUno.isSelected(e)"
                                [aria-label]="checkboxLabel(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}} {{e.apellido}}</td>
                        <td>Solicitado</td>
                        <td>{{e.fec_comida.split('T')[0]}}</td>
                        <td>{{e.hora_inicio}}</td>
                        <td>{{e.hora_fin}}</td>
                        <td class="d-flex justify-content-center">
                            <i *ngIf="auto_individual" class="fas fa-edit" (click)="VentanaEditarPlanComida(e)"
                                matSuffix matTooltipPosition="right" 
                                matTooltip="Modificar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                            <a *ngIf="auto_individual" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado de la solicitud de servicio de alimentación."
                                (click)="AbrirAutorizaciones(e, 'individual')">
                                <p>Autorizar</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="solicitudes.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<!-- TABLA CON LISTA DE SOLICITUDES DE SERVICIO DE ALIMENTACIÓN AUTORIZADAS O NEGADAS -->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_autorizados">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccionEstado()" matSuffix
                matTooltipPosition="right"
                matTooltip="Autorizar a todos los empleados su solicitud de servicio de alimentación." id="SelectCheck">
                library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitar_Estado" class="btn btn-primary"
                (click)="AutorizarSolicitudMultipleEstado()" style="float: left; margin-left: 10px;">Autorizar</button>
            <span class="w-100 bd-highlight">
                Lista de Servicios de Alimentación Solicitados</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitar_Estado"
                                (change)="$event ? masterToggleEstado() : null"
                                [checked]="selectionUnoEstado.hasValue() && isAllSelectedEstado()"
                                [indeterminate]="selectionUnoEstado.hasValue() && !isAllSelectedEstado()"
                                [aria-label]="checkboxLabelEstado()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Comida</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Final</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of solicitudesAutorizados | paginate:tamanio_pagina_autorizado:numero_pagina_autorizado">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitar_Estado" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUnoEstado.toggle(e) : null"
                                [checked]="selectionUnoEstado.isSelected(e)" [aria-label]="checkboxLabelEstado(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}} {{e.apellido}}</td>
                        <td>{{e.aprobada}}</td>
                        <td>{{e.fec_comida.split('T')[0]}}</td>
                        <td>{{e.hora_inicio}}</td>
                        <td>{{e.hora_fin}}</td>
                        <td class="d-flex justify-content-center">
                            <i *ngIf="auto_individual_estado && e.aprobada === 'NEGADO'" class="fas fa-edit" (click)="VentanaEditarPlanComida(e)"
                            matSuffix matTooltipPosition="right" 
                            matTooltip="Modificar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                            <a *ngIf="auto_individual_estado" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado de la solicitud de servicio de alimentación."
                                (click)="AbrirAutorizaciones(e, 'individual')">
                                <p>Actualizar</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="solicitudesAutorizados.length" [pageSize]="tamanio_pagina_autorizado"
            [pageSizeOptions]="pageSizeOptions_autorizado" id="estilo" (page)="ManejarPaginaAutorizados($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<!-- TABLA CON LISTA DE SOLICITUDES DE SERVICIO DE ALIMENTACIÓN EXPIRADAS -->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_expirados">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <span class="w-100 bd-highlight">
                Lista de Servicios de Alimentación</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Comida</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of solicitudesExpiradas | paginate:tamanio_pagina_expirada:numero_pagina_expirada">
                        <td>{{e.nombre}} {{e.apellido}}</td>
                        <td>{{e.aprobada}}</td>
                        <td>{{e.fec_comida.split('T')[0]}}</td>
                        <td>{{e.hora_inicio}}</td>
                        <td>{{e.hora_fin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="solicitudesExpiradas.length" [pageSize]="tamanio_pagina_expirada"
            [pageSizeOptions]="pageSizeOptions_expirada" id="estilo" (page)="ManejarPaginaExpiradas($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>