mat-slider { width: 190px; }
#horaExtra { font-size: small; }
#codigoP { font-size: small; }
#tipoRecargo { font-size: small; }
.horaE-tooltip { background-color : chocolate; }
.horaS-tooltip { background-color : chocolate; font-size: 11px; border-radius: 25px;}
#iHora { color:chocolate; font-size: 18px; }
.example-section { display: flex; align-content: center; align-items: center; height: 60px; }
.btn { border-radius: 25px; margin-left: 15px; margin-top: 15px; }
#iconoG { margin-left: 15px; }
.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }
.example-margin { margin: 0 10px; }
.tituloExtra { 
  font-size: 20px; 
  text-align: center; 
  background: chocolate; 
  color: white; 
  border-radius: 10px; 
  padding-top: 10px;
  padding-bottom: 6px; 
}
