<div class="dark-overlay">
    <br><br>
    <div class="container" style="padding-bottom: 25px;">
        <br><br><br><br>
        <div class="mat-elevation-z8" style="background: white; text-align: center; border-radius: 1%;">
            <br>
            <img src="../../../../assets/imagenes/informacion.JPG"> <br><br>
            <div class="tituloHorarioL" *ngFor="let d of departamento">
                <span>AUTORIZAN EN EL DEPARTAMENTO DE {{d.nombre.toUpperCase()}}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Télefono</th>
                            <th scope="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of autorizan | paginate:tamanio_pagina:numero_pagina">
                            <td>{{a.nombre}}</td>
                            <td>{{a.apellido}}</td>
                            <td>{{a.depa_trabaja}}</td>
                            <td>{{a.cargo}}</td>
                            <td>{{a.telefono}}</td>
                            <td>{{a.correo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-paginator [length]="autorizan.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>