<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div class="tituloEmpleados">
                <span>REPORTE DE TICKETS CONSUMIDOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <h5 style="text-align: center">Período de Búsqueda</h5>
                <!-- FORMULARIO COMPLETO -->
                <mat-card-content>
                    <form [formGroup]="fechasForm">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Fecha Inicial</mat-label>
                                <input matInput [matDatepicker]="picker1" [formControl]="fechaInicialF" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1" matTooltipPosition="right"
                                    matTooltip="Fecha inicio de periodo.">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker1></mat-datepicker>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Fecha Final</mat-label>
                                <input matInput [matDatepicker]="picker2" [formControl]="fechaFinalF" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2" matTooltipPosition="right"
                                    matTooltip="Fecha fin de periodo.">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
                <div class="d-flex justify-content-around">
                    <button mat-button type="button" class="btn btn-sm" [disabled]=" !fechasForm.valid"
                        (click)="VerFechas(fechasForm.value, 'pdf')">
                        Obtener Reporte PDF
                    </button>
                    <button mat-button type="button" class="btn btn-sm" [disabled]=" !fechasForm.valid"
                        (click)="VerFechas(fechasForm.value, 'excel')">
                        Obtener Reporte EXCEL
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarFechas()">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>