.btn-sm { background-color: rgb(80,87,97); color: white; } 

mat-form-field { padding: 10px 15px 0px 15px;}

.tituloEmpleados { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}




