<div class="container" style="padding-top: 15px; padding-bottom: 30px;">
    <mat-card class="mat-elevation-z8">
        <div class="d-flex bd-highlight barraTitulo">
            <div class="w-100 bd-highlight">
                <h5>Asistencia</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" *ngIf="HabilitarBtn">
                <button type="submit" class="btn btn-outline-light btn-sm" style="margin-top: -3px;"
                    (click)="AbrirRegistrarMensaje()">Añadir</button>
            </div>
        </div>
        <br>
        <div class="d-flex flex-wrap justify-content-center" *ngFor="let c of cumple">
            <div class="caja">
                <label>Titulo:</label>
                <span>{{c.titulo}}</span>
                <i class="fas fa-edit" style="float: right;" (click)="EditarMensaje(c)" matSuffix matTooltipPosition="right"
                    matTooltip="Modificar el mensaje de felicitación">
                    <p>Editar</p>
                </i>
            </div>
            <div class="caja">
                <label>Mensaje:</label>
                <span>{{c.mensaje}} </span>
            </div>
            <div class="caja">
                <label>Imagen:</label><br>
                <img class="img-fluid rounded mx-auto d-block" src="{{API_URL}}/birthday/img/{{c.img}}" >
            </div>
        </div>
    </mat-card>
</div>
