<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8">
                <div class="barraTitulo">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <h5>Autoridad</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" *ngFor="let autoD of autorizacionesTotales" style="padding-top: 15px;">
                        <div class="d-flex flex-wrap justify-content-between" style="margin-bottom: 10px;">
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Departamento de:</label>
                                <label>{{autoD.nom_depar}}</label>
                            </div>
                            <div class="caja1 d-flex justify-content-start">
                                <label id="datosF">Autoriza:</label>
                                <label *ngIf="autoD.estado == true">Sí</label>
                                <label *ngIf="autoD.estado == false">No</label>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>