<div class="container" *ngFor="let dE of datosEnrolado" style="padding-top: 15px;">
    <div class="datosEnrolado">
        <span>DATOS GENERALES</span>
    </div>
    <mat-card class="example-card mat-elevation-z8">
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Nombre:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{dE.nombre}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Código:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{dE.codigo}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Contraseña:
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </label>
                        <br>
                        <input matInput [type]="!hide ? 'password' : 'text'" value={{dE.contrasenia}}
                            readonly="readonly">
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Estado:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{dE.activo}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Número de dedo</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{dE.finger}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="iconoEditar" (click)="AbrirVentanaEditar(dE)" matSuffix matTooltipClass="color-tooltip"
                        matTooltipPosition="right" matTooltip="Modificar dispositivo en el que esta enrolado el usuario"
                        class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<br>
<hr>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resulDis">DISPOSITIVOS EN LOS QUE ESTA ENROLADO EL USUARIO</div>
    <table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Usuario Enrolado</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">IP Dispositivo</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Departamento</th>
                <th scope="col">Empresa</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dr of datosDispositivos | paginate:tamanio_pagina:numero_pagina">
                <td>{{dr.nombre_enrolado}}</td>
                <td>{{dr.nombre_reloj}}</td>
                <td>{{dr.ip_reloj}}</td>
                <td>{{dr.nom_sucursal}}</td>
                <td>{{dr.nom_departamento}}</td>
                <td>{{dr.nom_empresa}}</td>
                <td>
                    <i (click)="AbrirVentanaEditarReloj(dr)" matSuffix matTooltipClass="color-tooltip"
                        matTooltipPosition="right" matTooltip="Modificar dispositivo en el que esta enrolado el usuario"
                        class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                    <i (click)="ConfirmarDeleteReloj(dr)" matSuffix matTooltipClass="enrolado-tooltip"
                        matTooltipPosition="right" matTooltip="Eliminar registro de empleado enrolado"
                        class="far fa-trash-alt">
                        <p>Eliminar</p>
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="datosDispositivos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
        id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
    </mat-paginator>
</div>
<input type="submit" class="btn btn-sm" [routerLink]="['/enrolados/']" value="Ir a la Lista de Usuarios Enrolados">
<input type="submit" class="btn btn-sm" *ngFor="let dE of datosEnrolado" (click)="AbrirVentanaAsignarReloj(dE)"
    value="Agregar enrolado a dispositivo">