<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Añadir Proceso</mat-card-title>
        </mat-card-header>

        <form [formGroup]="nuevoProcesoForm" (ngSubmit)="insertarProceso(nuevoProcesoForm.value)">
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>Nombre de proceso</mat-label>
                        <input matInput placeholder="Ej: Emergencia" [formControl]="nombre" required>
                        <mat-error *ngIf="nombre.invalid">{{obtenerMensajeErrorNombre()}}</mat-error>
                        <br>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Proceso Padre</mat-label>
                        <mat-select [formControl]="procesoPadre">
                            <mat-option *ngFor="let proceso of procesos" [value]="proceso.nombre">
                                {{proceso.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>

                        <mat-label>Nivel</mat-label>
                        <mat-select [formControl]="nivel">
                            <mat-option *ngFor="let n of niveles" [value]="n.nombre">
                                {{n.valor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <input type="submit" class="btn btn-primary" style="margin-left: 15px;"
                    [disabled]="!nuevoProcesoForm.valid" value="Grabar">
                <input type="submit" class="btn btn-danger" style="margin-left: 15px;"
                    (click)="cancelarRegistroProceso()" value="Cancelar">
            </mat-card-actions>
        </form>

    </mat-card>

</div>