.btn-sm { background-color: rgb(80,87,97); color: white; } 

p { font-size: x-small; }

#pdf { color:red; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#excel { color:green; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#csv { color:blue; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#xml { color:orangered; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#ver { color: indianred; cursor: pointer; }

#iemple { cursor: pointer; }

.fa-file-excel {font-size: 20px;}

.fa-file-code {font-size: 20px;}

mat-form-field { padding: 10px 15px 0px 15px;}

.tituloEmpleados { 
    font-size: 15px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resulEmpleados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }



#descargar:hover { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 58px; 
    background-color: rgb(0, 76, 255);
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}

#descargar { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: #93a3c7; 
    overflow: hidden;
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label.btn-2 {
    background-color: #93a3c7;
    overflow: hidden;
}

[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    margin-left: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

[type="file"] + label.btn-2:hover {
    background-color: rgb(0, 76, 255)
}

[type="file"] + label.btn-2:hover::before {
    right: 80%
}

mat-expansion-panel-header { text-align: center; background: rgb(52,65,84); }

mat-panel-title { color: white; }

#icono { color: white; }

.mat-expansion-panel-header.mat-expanded {
    background: rgb(52,65,84);
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgb(52,65,84);
}
