<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-6">
            <app-rango-fechas></app-rango-fechas>
        </div>
        <div class="col-lg-6">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title>
                        Opciones Reporte timbres Horario Abierto
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br>
                    <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                        <button mat-icon-button (click)="validacionReporte('open')">
                            <mat-icon class="i-pdf" matTooltipPosition="right" matTooltip="Previsualizar pdf del reporte en el navegador">picture_as_pdf</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('print')">
                            <mat-icon class="i-print" matTooltipPosition="right" matTooltip="Imprimir pdf del reporte.">local_printshop</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('download')">
                            <mat-icon class="i-download" matTooltipPosition="right" matTooltip="Descargar en formato pdf el reporte">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('excel')">
                            <mat-icon class="fas fa-file-excel i-excel" matTooltipPosition="right" matTooltip="Descargar en formato EXCEL"></mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">    
    <!-- TABLA PARA EMPLEADOS -->
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Lista de empleados</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                [aria-label]="checkboxLabelEmp()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <mat-form-field class="input-tables codigo">
                                <input matInput placeholder="24" [(ngModel)]="filtroCodigo" [formControl]="codigo"
                                    (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-tables nombre">
                                <input matInput placeholder="jose" [(ngModel)]="filtroNombre" [formControl]="nombre"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="nombre.invalid">Indispensable ingresar dos letras
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-tables apellido">
                                <input matInput placeholder="perez" [(ngModel)]="filtroApellido" [formControl]="apellido"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="apellido.invalid">Indispensable ingresar dos letras
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-tables cedula">
                                <input matInput placeholder="1708462054" [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <!-- <tr *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina:numero_pagina"> -->
                    <tr *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido | paginate:tamanio_pagina:numero_pagina">

                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionEmp.toggle(e) : null" 
                                [checked]="selectionEmp.isSelected(e)"
                                [aria-label]="checkboxLabelEmp(e)">
                            </mat-checkbox>
                        </td>
                        <td scope="row">{{e.codigo}}</td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.apellido}}</td>
                        <td>{{e.cedula}}</td>
                        <td *ngIf="e.estado === 1">Activo</td>
                        <td *ngIf="e.estado === 2">Inactivo</td>
                        <td>{{e.correo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>