/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html, body { height: 100%; }

body { margin: 0;}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.i-pdf { color: red; font-size: 30px; }

.i-print { color: rgb(0, 0, 0); font-size: 30px; }

.i-download { color: rgb(0, 102, 255); font-size: 30px; }

.i-excel { color: rgb(19, 172, 19); font-size: 30px; }

/* ESTILOS DE ÍCONOS DE DESCARGA DE REPORTES DE PANTALLAS PRINCIPALES */
#pdf { color:red; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#excel { color:green; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#csv { color:blue; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

#xml { color:orangered; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

/* ESTILO ÍCONO DE AYUDA EN BÚSQUEDAS DE TABLAS */
#i-ayuda { cursor: pointer; padding-top: 10px; }

/* ESTILOS DE ÍCONOS DE ACCIONES DE TABLAS */
#t-ver { color: indianred;  cursor: pointer; }

#t-editar { color:green; margin-left: 20px; cursor: pointer; }

#t-eliminar { color: red; margin-left: 20px; cursor: pointer; }

#t-detalles { color: rgb(38, 0, 255); margin-left: 20px; cursor: pointer; }

/* ESTILOS DE INPUTS DE BÚSQUEDA EN TABLAS */
#t-inputs { font-size: 12px; text-align: center; width: 100px; }

