/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html, body { height: 100%; }
body { margin: 0;}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.i-pdf { color: red; font-size: 30px; }

.i-print { color: rgb(0, 0, 0); font-size: 30px; }

.i-download { color: rgb(0, 102, 255); font-size: 30px; }

.i-excel { color: rgb(19, 172, 19); font-size: 30px; }