<div class="d-flex bd-highlight barraTitulo">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Modificar Datos Empresa</h5>
</div>
<form [formGroup]="ConfiguracionCorreoForm">
    <div class="container" style="text-align: center">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Correo de la Empresa</mat-label>
                    <input matInput placeholder="casapazmino@gmail.com" [formControl]="emailF" required>
                    <mat-icon id="empre" matSuffix matTooltipPosition="right" (click)="changeEstado()"
                        matTooltip="Editar nombre de correo electrónico">
                        create</mat-icon>
                    <mat-icon id="empre" matSuffix matTooltipPosition="right"
                        matTooltip="Modificar nombre de la Empresa">
                        help_outline</mat-icon>
                    <mat-error *ngIf="emailF.invalid">Ingresar un correo electrónico</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordF" 
                        (keydown)="ValidacionContrasenia($event)" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordF.invalid">Escriba contraseña</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confrimar Contraseña</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="password_confirmF" 
                        (keydown)="ValidacionConfirmarContrasenia($event)" required>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password_confirmF.invalid">{{ObtenerErrorPasswordConfirm()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm button" [disabled]="btnDisableGuardar" value="Guardar"
        (click)="GuardarConfiguracion(ConfiguracionCorreoForm.value)">
    <input type="submit" class="btn btn-sm button" (click)="dialogRef.close(false)" value="Salir">
</div>