<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div class="TituloListaProvincia">
                <span>PROVINCIAS - DEPARTAMENTOS - ESTADOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <div class="d-flex flex-wrap justify-content-center">
                    <button type="button" class="btn btn-sm" (click)="AbrirVentanaRegistrarProvincia()">Crear nueva
                        Provincia
                    </button>
                    <button type="submit" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">Cancelar</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulProvincia">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">País</th>
                        <th scope="col">Provincia-Departamento-Estado</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="paisF"
                                    [(ngModel)]="filtroPais">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="provinciaF"
                                    [(ngModel)]="filtroProvincia">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipClass="provincia-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de acuerdo a la columna de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let prov of provincias | provincia: filtroProvincia | bPaises: filtroPais | paginate:tamanio_pagina:numero_pagina">
                        <td>{{prov.pais}}</td>
                        <td>{{prov.nombre}}</td>
                        <td class="d-flex justify-content-center">
                            <i (click)="ConfirmarDelete(prov)" class="far fa-trash-alt" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="provincias.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>