<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="empresasL">
        <span>EMPRESAS</span>
    </div>
    <mat-card class="example-card mat-elevation-z9">
        <div style="text-align: center;">
            <h5 style="text-align: center;">Criterios de Búsqueda</h5>
        </div>
        <form [formGroup]="BuscarEmpresaForm">
            <div class="d-flex flex-wrap justify-content-center">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput name="filtroNomEmpresa" placeholder="Nombre de la Empresa"
                        [formControl]="buscarNombre" [(ngModel)]="filtroNomEmpresa">
                    <mat-error *ngIf="buscarNombre.invalid">Indispensable ingresar dos letras</mat-error>
                    <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc" matTooltipPosition="right"
                        matTooltip="Búsqueda de la Empresa por su nombre">
                        help_outline</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>RUC</mat-label>
                    <input matInput name="filtroRucEmpresa" placeholder="RUC de Empresa" maxlength="13"
                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        (keypress)="IngresarSoloNumeros($event)" [formControl]="buscarRuc"
                        [(ngModel)]="filtroRucEmpresa">
                    <mat-error *ngIf="buscarRuc.invalid">Indispensable ingresar dos valores</mat-error>
                    <mat-icon id="permisoSuc" matSuffix matTooltipClass="color-tooltipSuc" matTooltipPosition="right"
                        matTooltip="Búsqueda de la Empresa por el número de RUC">
                        help_outline</mat-icon>
                </mat-form-field>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarEmpresa()">Crear nueva
                Empresa</button>
            <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampoBuscar()">Cancelar</button>
        </div>
    </mat-card>
</div>

<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Id</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Representante</th>
                        <th scope="col">RUC</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let e of empresas | filtrosNombres: filtroNomEmpresa | filtrarRuc: filtroRucEmpresa | paginate:tamanio_pagina:numero_pagina">
                        <td>{{e.id}}</td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.tipo_empresa}}</td>
                        <td>{{e.representante}}</td>
                        <td>{{e.ruc}}</td>
                        <td>{{e.direccion}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                                matTooltip="Ver datos generales de este feriado" class="fas fa-eye" id="ver"
                                [routerLink]="['/vistaEmpresa/', e.id]">
                                <p>Ver</p>
                            </i>
                            <i id="editar" class="fas fa-edit" (click)="AbrirVentanaEditar(e)" matSuffix
                                matTooltipPosition="right" 
                                matTooltip="Modificar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(e)" id="eliminar" class="far fa-trash-alt" matSuffix
                                matTooltipPosition="right" 
                                matTooltip="Eliminar este registro">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator class="d-flex justify-content-end" [length]="empresas.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                 matTooltip="Descargar Lista de Empresas en formato PDF">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                 matTooltip="Descargar Lista de Empresas en formato EXCEL">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                 matTooltip="Descargar Lista de Empresas en formato CSV">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                 matTooltip="Descargar Lista de Empresas en formato XML">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>