<mat-card class="mat-elevation-z8">
    <div class="barraTituloCargoE">
        <h5>Editar Cargo del Empleado</h5>
    </div>
    <br>
    <!-- Formulario Completo -->
    <form [formGroup]="nuevoEmplCargosForm">
        <mat-card-content>
            <div class="container" style="padding-top: 15px; text-align: center;">
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label id="selEmpre">Seleccionar Empresa</mat-label>
                            <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Lista de Empresas">help_outline</mat-icon>
                            <mat-select [formControl]="idEmpresaF" required>
                                <mat-option *ngFor="let empre of empresas" [value]="empre.id"
                                    (click)="FiltrarSucursales(nuevoEmplCargosForm.value)">
                                    {{empre.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label id="selEmpre">Seleccionar Sucursal</mat-label>
                            <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar cuál es la Sucursal en la que va a laborar el empleado">
                                help_outline</mat-icon>
                            <mat-select [formControl]="idSucursal" required>
                                <mat-option *ngFor="let s of sucursales" [value]="s.id"
                                    (click)="ObtenerDepartamentos(nuevoEmplCargosForm.value)">{{s.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Departamento</mat-label>
                            <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Lista de departamentos existentes en la empresa">
                                help_outline</mat-icon>
                            <mat-select [formControl]="idDepartamento" required>
                                <mat-option *ngFor="let d of departamento" [value]="d.id">{{d.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaInicio" min="1950-01-31" max="2050-01-31"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="picker" id="cargoE" matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Indicar la fecha de ingreso del empleado. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fechaFinal" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="cargoE" matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Indicar la fecha de finalización del cargo del empelado. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label>Sueldo</mat-label>
                            <input matInput [formControl]="sueldo" style="text-align: right;"
                                (keypress)="IngresarSoloNumeros($event)" required>
                            <span matPrefix>$&nbsp;</span>
                            <span matSuffix>.00</span>
                            <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar cual es el sueldo del empleado">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Horas de trabajo</mat-label>
                            <input matInput placeholder="Ej: 8" maxlength="2" [formControl]="horaTrabaja"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                (keypress)="IngresarSoloNumeros($event)" required>
                            <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar el número de horas que va a laborar el empleado">
                                help_outline</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-sm" (click)="ActualizarEmpleadoCargo(nuevoEmplCargosForm.value)"
            [disabled]="!nuevoEmplCargosForm.valid"> Guardar </button>
        <button type="submit" class="btn btn-sm" (click)="cancelar()"> Cancelar </button>
    </div>
</mat-card>
