.barraTitulo { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

p { font-size: x-small; }

#edit { color:green; margin-right: 5px; cursor: pointer; font-size: 15px; text-align: center; }

#delete { color:red;  cursor: pointer; text-align: center; }

#datosF { font-weight: bold; font-size: 15px; padding-right: 5px;}

#verticalLine { border-left: 1px solid rgb(52,65,84); }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

.caja1 {padding: 0px 10px 0px 10px; width: 250px;}
