.barraTitulo { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

p { font-size: x-small; }

#edit { color:green; margin-right: 20px; cursor: pointer; font-size: 15px; text-align: center; }

#delete { color:red;  cursor: pointer; text-align: center; }

#datosF { font-weight: bold; font-size: 15px; padding-right: 5px;}



.caja1 {padding: 0px 15px 0px 15px; width: 250px;}
