<!-- PANTALLA DE LECTURA DE DATOS DE LANIFICACIONES DE COMIDAS ROL EMPLEADO -->
<br>
<div class="container" style="padding-bottom: 25px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="barraTitulo d-flex bd-highlight">
            <div class="w-100 bd-highlight">
                <h5>Alimentación</h5>
            </div>
            <div class="flex-shrink-1 bd-highlight" style="margin-right: 10px;">
                <button type="submit" class="btn btn-outline-light btn-sm"
                    (click)="AbrirVentanaPlanificacion()">Añadir</button>
            </div>
        </div>
        <div *ngFor="let pc of planComidas | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
            <div class="d-flex flex-wrap justify-content-between" style="margin-bottom: 10px;">
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha Registro:</label>
                    <label>{{pc.fecha.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Servicio:</label>
                    <label>{{pc.nombre_servicio}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Menú:</label>
                    <label>{{pc.nombre_menu}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Nombre Plato:</label>
                    <label>{{pc.nombre_plato}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Precio Plato:</label>
                    <label>$ {{pc.valor}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Observación:</label>
                    <label>{{pc.observacion}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha Inicia:</label>
                    <label *ngIf="pc.fec_inicio != undefined">{{pc.fec_inicio.split("T")[0]}}</label>
                    <label *ngIf="pc.fec_inicio === undefined">{{pc.fec_comida.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Fecha Finaliza:</label>
                    <label *ngIf="pc.fec_final != undefined">{{pc.fec_final.split("T")[0]}}</label>
                    <label *ngIf="pc.fec_final === undefined">{{pc.fec_comida.split("T")[0]}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Hora Inicio:</label>
                    <label>{{pc.hora_inicio}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Hora Fin:</label>
                    <label>{{pc.hora_fin}}</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                    <label id="datosF">Tipo:</label>
                    <label *ngIf="pc.extra === false">Normal</label>
                    <label *ngIf="pc.extra === true">Extra</label>
                </div>
                <div class="caja1 d-flex justify-content-start">
                </div>
            </div>
            <div style="text-align: right;" *ngIf="pc.fec_final === undefined && pc.aprobada === false && pc.fec_comida > FechaActual">
                <i class="fas fa-edit" id="edit" (click)="AbrirEditarPlanComidas(pc)" matSuffix
                    matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                    matTooltip="Modificar los datos generales de este registro">
                    <p>Editar</p>
                </i>
                <i style="margin-right: 20px;" (click)="ConfirmarDeletePlanComidas(pc)" class=" far fa-trash-alt"
                    matTooltipPosition="right" id="delete" matTooltip="Eliminar registro">
                    <p>Eliminar</p>
                </i>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-paginator [length]="planComidas.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>