<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="mat-elevation-z8">
        <div class="barraTitulo">
            <div class="container">
                <div class="row">
                    <div class="col" style="text-align: left;">
                        <h5>Planificación Comidas</h5>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button type="submit" class="btn btn-outline-light btn-sm"
                            (click)="AbrirVentanaPlanificacion()">Añadir</button>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-content>
            <div class="container" *ngFor="let pc of planComidas" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-3">
                        <label id="datosF" class="col-sm col-form-label">Fecha de Solicitud:</label>
                        <label id="datosF" class="col-sm col-form-label">Hora Inicio:</label>
                        <label id="datosF" class="col-sm col-form-label">Nombre Plato:</label>
                        <label id="datosF" class="col-sm col-form-label">Precio Plato:</label>
                    </div>
                    <div class="col-2">
                        <label class="col col-form-label">{{pc.fecha.split("T")[0]}}</label>
                        <label class="col col-form-label">{{pc.hora_inicio}}</label>
                        <label class="col col-form-label">{{pc.nombre}}</label>
                        <label class="col col-form-label">$ {{pc.valor}}</label>
                    </div>
                    <div class="col-3" id="verticalLine">
                        <label id="datosF" class="col-sm col-form-label">Fecha Planificación:</label>
                        <label id="datosF" class="col-sm col-form-label">Hora Fin:</label>
                        <label id="datosF" class="col-sm col-form-label">Observación:</label>
                    </div>
                    <div class="col-2">
                        <label class="col col-form-label">{{pc.fec_solicita.split("T")[0]}}</label>
                        <label class="col col-form-label">{{pc.hora_fin}}</label>
                        <label class="col col-form-label">{{pc.observacion}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i class="fas fa-edit" id="edit" (click)="AbrirEditarPlanComidas(pc)" matSuffix
                        matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                        matTooltip="Modificar los datos generales de este registro">
                        <p>Editar</p>
                    </i>
                    <i style="color:red; margin-left: 15px;" (click)="ConfirmarDeletePlanComidas(pc)"
                        class=" far fa-trash-alt" matTooltipPosition="right" id="delete" matTooltip="Eliminar registro">
                        <p>Eliminar</p>
                    </i>
                </div>

                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
    </mat-card>
</div>