#negrita_dep { font-weight: bold; }

#color { cursor: pointer; }

.lista { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#botones { background-color: rgb(80,87,97); color: white; margin: 10px 10px 10px 10px; }

.mensaje-alerta { background-color: rgb(247, 40, 40); margin: 15px; border-radius: 25px; text-align: center;}