<mat-icon id="movilidad">open_with</mat-icon>
<div class="periodoVacaciones">
    <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Período de Vacaciones</h5>
</div>
<br>
<!-- Formulario Completo -->
<form [formGroup]="PerVacacionesForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Empleado</mat-label>
                        <input id="nomEmple" matInput placeholder="Empleado" [formControl]="nombreEmpleadoF"
                            readonly="readonly" required>
                        <mat-icon id="contratoE" matSuffix matTooltipClass="contratoE-tooltip"
                            matTooltipPosition="right" matTooltip="Nombre del empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Ej:" [formControl]="descripcionF" required>
                        <mat-icon id="ayuda" matSuffix matTooltipPosition="right" matTooltipClass="regDepa-tooltip"
                            matTooltip="Ingresar nombre del período de vacaciones">help_outline</mat-icon>
                        <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeErrorNombre()}}</mat-error>
                        <mat-error *ngIf="descripcionF.invalid">Ingrese una descripción válida</mat-error>
                    </mat-form-field>
                    <br>
                    <label style="margin-right: 40px;">Vacaciones usadas *</label>
                    <mat-icon id="contratoE" matSuffix matTooltipClass="contratoE-tooltip"
                    matTooltipPosition="right"
                    matTooltip="Indicación de que el empleado hizo uso de sus vacaciones">
                    help_outline</mat-icon>
                    <section>
                        <mat-radio-group required aria-label="select an option" [formControl]="estadoF" required
                            [value]="estadoF.value">
                            <mat-radio-button value=1>Si</mat-radio-button>
                            <mat-radio-button value=2>No</mat-radio-button>
                        </mat-radio-group>
                    </section>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label id="fec">Fecha de inicio de período</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaInicioF"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker" id="contratoE"
                            matTooltipClass="contratoE-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de inicio de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="fec">Fecha de fin de período</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fechaFinF">
                        <mat-datepicker-toggle matSuffix [for]="picker2" id="contratoE"
                            matTooltipClass="contratoE-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de finalización de período de vacaciones. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label id="dias">Días de vacaciones disponibles</mat-label>
                        <input matInput placeholder="Días de incremento" [formControl]="diaVacacionF" required
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Número de días de vacaciones que tiene disponibles el empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="dias">Días de vacación por antiguedad</mat-label>
                        <input matInput placeholder="Días de incremento" [formControl]="diaAntiguedadF" required
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Número de días que se incrementán a los días de vacaciones que se le conceden al empleado al cumplir los años indicados de antiguedad">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="dias">Días de vacaciones perdidos</mat-label>
                        <input matInput placeholder="Días de incremento" [formControl]="diaPerdidoF" required
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Número de días de vacaciones perdidos por no usarlos dentro del período permitido">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center">
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!PerVacacionesForm.valid"
            (click)="ValidarDatosPerVacacion(PerVacacionesForm.value)" value="Guardar">
        <input type="submit" (click)="CerrarVentanaRegistroPerVacaciones()" class="btn btn-sm" value=" Salir">
    </mat-card-actions>
</div>