<div style="text-align: center;">
    <mat-card-header style="text-align: center">
        <mat-icon>open_with</mat-icon>
        <mat-card-title mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="text-align: center" >Añadir Provincia</mat-card-title>
    </mat-card-header>
    <form [formGroup]="NuevaProvinciasForm">
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <mat-label>Seleccionar País</mat-label>
                    <mat-select [formControl]="nombrePaisF" [(ngModel)]="seleccionarPais" >
                        <mat-option *ngFor="let p of paises" [value]="p.nombre">
                            {{p.valor}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="nombrePaisF.invalid">{{ObtenerMensajeProvinciaRequerido()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Nombre de la Provincia</mat-label>
                    <input matInput placeholder="Ej: Pichincha" [formControl]="nombreProvinciaF"
                        (keypress)="IngresarSoloLetras($event)" required>
                    <mat-error *ngIf="nombreProvinciaF.invalid">{{ObtenerMensajeProvinciaRequerido()}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
    <input type="submit" class="btn btn-primary btn-sm" (click)="InsertarProvincia(NuevaProvinciasForm.value)"
        [disabled]="!NuevaProvinciasForm.valid" value="Guardar">
    <input type="submit" class="btn btn-danger btn-sm" (click)="CerrarVentanaRegistroProvincia()" value="Salir">
</div>