.btn { background-color: rgb(80,87,97); color: white; }

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

.button {margin: 5px 10px 5px 10px;}

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

#nombreP { font-size: 11px; }

.barraTituloProvinciaR { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px;
}

#provReg { cursor: pointer; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}