<mat-icon id="movilidad">open_with</mat-icon>
<div class="barraTituloProvinciaR">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Provincia - Departamento -
        Estado</span>
</div>
<div style="text-align: center;">
    <form [formGroup]="NuevaProvinciasForm">
        <mat-card-content>
            <div class="container">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el
                        botón
                        Guardar.</span>
                </div>
                <mat-form-field>
                    <mat-label>Seleccionar Continente</mat-label>
                    <mat-icon id="provReg" matSuffix matTooltipClass="provinciaReg-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar un continente">
                        help_outline</mat-icon>
                    <mat-select [formControl]="nombreContinenteF" [(ngModel)]="seleccionarContinente" required>
                        <mat-option *ngFor="let c of continentes" [value]="c.continente"
                            (click)="FiltrarPaises(NuevaProvinciasForm.value)">
                            {{c.continente}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Seleccionar País</mat-label>
                    <mat-icon id="provReg" matSuffix matTooltipClass="provinciaReg-tooltip" matTooltipPosition="right"
                        matTooltip="Lista de países que se encuentran en el continente seleccionado">
                        help_outline</mat-icon>
                    <mat-select [formControl]="nombrePaisF" [(ngModel)]="seleccionarPaises" required>
                        <mat-option *ngFor="let pais of paises" [value]="pais.id">
                            {{pais.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label id="nombreP">Provincia-Departamento-Estado</mat-label>
                    <input matInput placeholder="Ej: Pichincha" [formControl]="nombreProvinciaF"
                        (keypress)="IngresarSoloLetras($event)" required>
                    <mat-icon id="provReg" matSuffix matTooltipClass="provinciaReg-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar nombre de una provincia, departamento o estado ubicado en el país seleccionado">
                        help_outline</mat-icon>
                    <mat-error *ngIf="nombreProvinciaF.invalid">{{ObtenerMensajeProvinciaRequerido()}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
    <input type="submit" class="btn btn-sm" (click)="InsertarProvincia(NuevaProvinciasForm.value)"
        [disabled]="!NuevaProvinciasForm.valid" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroProvincia()" value="Salir">
</div>