<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloRolR">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Registrar Rol</span>
</div>
<form [formGroup]="nuevoRolForm">
    <mat-card-content>
        <div class="container">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Ej: Administrador" [formControl]="descripcion"
                    (keypress)="IngresarSoloLetras($event)" required>
                <mat-icon id="iRolR" matSuffix matTooltipClass="rolR-tooltip" matTooltipPosition="right"
                    matTooltip="Ingresar nombre de identificación del nuevo rol">
                    help_outline</mat-icon>
                <mat-error *ngIf="descripcion.invalid">{{obtenerMensajeErrorDescripcion()}}</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center;">
    <input type="submit" class="btn btn-primary btn-sm" (click)="insertarRol(nuevoRolForm.value)"
        [disabled]="!nuevoRolForm.valid" value="Guardar">
    <input type="submit" class="btn btn-danger btn-sm" (click)="CerrarVentanaRegistroRol()" value="Salir">
</div>