<div class="d-flex bd-highlight" id="titulo">
    <h5 id="movilidad" class="w-100 bd-highlight align-self-center" cdkDrag
        cdkDragRootElement=".cdk-overlay-pane">
        REGISTRAR ROL</h5>
</div>
<form [formGroup]="nuevoRolForm">
    <div style="text-align: center;">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <div class="d-flex flex-wrap justify-content-between">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Ej: Administrador" [formControl]="descripcion"
                    (keypress)="IngresarSoloLetras($event)" required>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Ingresar nombre de identificación del nuevo rol.">
                    help_outline</mat-icon>
                <mat-error *ngIf="descripcion.invalid">{{ObtenerMensajeErrorDescripcion()}}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="d-flex justify-content-around">
    <input type="submit" class="btn btn-sm" (click)="InsertarRol(nuevoRolForm.value)" [disabled]="!nuevoRolForm.valid"
        value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroRol()" value="Salir">
</div>