.btn { background-color: rgb(80,87,97); color: white; } 

td { padding-top: 10px; text-align: center; }

table { width: 100%; font-size: 12px;}

h4 {
    font-weight: bold;
}

#accion { color: rgb(53, 95, 209); cursor: pointer; }

#cerrar { cursor: pointer; margin-left: 25px;}

