<mat-card-content>
    <div>
        <p id="titulo">CONTABILIZAR TIEMPO DE ATRASOS</p>
        <p><b>EJEMPLO:</b></p>
        <ul>
            <li type="disc">Hora de entrada 09:00</li>
            <li type="disc">Minutos de tolerancia 10</li>
            <li type="disc">Timbre del empleado 09:12</li>
        </ul>
        <p><b>Considerando minutos de tolerancia:</b></p>
        <ul>
            <li type="square">Atraso <b>00:02</b> minutos</li>
        </ul>
        <p><b>Sin considerar minutos de tolerancia:</b></p>
        <ul>
            <li type="square">Atraso <b>00:12</b> minutos</li>
        </ul>
        <p id="mensaje">¿PARA CONTABILZAR EL TIEMPO TOTAL DE ATRASOS INDIQUE?</p>
    </div>
</mat-card-content>
<div style="text-align: center;">
    <button mat-button class="btn btn-primary mb1 bg-blue btn-sm" (click)="confirmadoCon()" cdkFocusInitial>Considerar
        minutos de Tolerancia</button><br><br>
    <button mat-button class="btn btn btn-info btn-sm" (click)="confirmadoSin()">Sin considerar minutos
        de Tolerancia</button><br><br>
    <button id="cancelar" mat-button class="btn btn-sm" (click)="cerrarDialogo()">Cancelar</button>
</div>