<h5 style="text-align: center">Contrato del Empleado</h5>
<br>
<!-- Formulario Completo -->
<form [formGroup]="ContratoForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Empleado</mat-label>
                        <input matInput placeholder="Empleado" [formControl]="idEmpleadoF" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Seleccionar Régimen *</mat-label>
                        <mat-select [formControl]="idRegimenF" [(ngModel)]="seleccionarRegimen">
                            <mat-option *ngFor="let regimen of regimenLaboral" [value]="regimen.id">
                                {{regimen.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Fecha de ingreso</mat-label>
                        <input matInput type="date" placeholder="Ingresar fecha de ingreso"
                            [formControl]="fechaIngresoF" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Fecha de salida</mat-label>
                        <input matInput type="date" placeholder="Ingresar fecha de salida" [formControl]="fechaSalidaF">
                    </mat-form-field>
                </div>
                <div class="col">
                    <section>
                        <mat-label>Controlar Vacaciones *</mat-label>
                        <mat-radio-group required aria-label="select an option" [formControl]="controlVacacionesF"
                            required [value]="controlVacacionesF.value">
                            <br>
                            <mat-radio-button value="true">Si</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </section>
                    <br>
                    <section>
                        <mat-label>Controlar Asistencia *</mat-label>
                        <mat-radio-group required aria-label="select an option" [formControl]="controlAsistenciaF"
                            required [value]="controlAsistenciaF.value">
                            <br>
                            <mat-radio-button value="true">Si</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </section>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center">
<mat-card-actions style="text-align: center">
    <input type="submit" class="btn btn-primary btn-sm" [disabled]="!ContratoForm.valid" (click)="InsertarContrato(ContratoForm.value)" value="Guardar">
    <input type="submit" class="btn btn-danger btn-sm" value=" Salir">
</mat-card-actions>
</div>