<div class="footer" style="text-align: center">
    <div class="container">
        <div class="row">
            <div class="col foo">
                <span>
                    Desarollado por:
                    <a href="https://casapazmino.com.ec/" target="_blank" rel="noopener" style="color: white;"> Casa Pazmiño S.A</a>
                </span>
            </div>
            <div class="col foo1">
                <img height="70%" alt="Logo Casa Pazmiño" src="../../../assets/imagenes/logo/logo-casa-pazmino.png" />
            </div>
        </div>
    </div>
</div>