<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo">
                <span>Búsqueda Rango Fechas</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <form [formGroup]="fechasForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Fecha Inicial</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="fechaInicialF" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="permiso"
                                 matTooltipPosition="right"
                                matTooltip="Fecha de inicio de periodo.">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Fecha Final</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="fechaFinalF" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="permiso"
                                 matTooltipPosition="right"
                                matTooltip="Fecha de fin de periodo.">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </form>
                <div class="d-flex justify-content-around">
                    <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarFechas()">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="titulo">REPORTE DE ENTRADAS Y SALIDAS</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Código</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Régimen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroCodigo" [formControl]="codigo"
                                    (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroEmpleado" [formControl]="nombre"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <mat-icon id="i-ayuda" (click)="LimpiarCampos()" matSuffix matTooltipPosition="right"
                                matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                                format_clear
                            </mat-icon>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let d of datosEmpleado | emplCargo: filtroCargo | regimen: filtroRegimen | departamento: filtroDepartamento | emplCodigo: filtroCodigo | emplCedula: filtroCedula | nombreApellido: filtroEmpleado  | paginate:tamanio_pagina:numero_pagina">
                        <th scope="row">{{d.codigo}}</th>
                        <td>{{d.cedula}}</td>
                        <td>{{d.apellido}} {{d.nombre}}</td>
                        <td>{{d.departamento | titlecase}}</td>
                        <td>{{d.cargo}}</td>
                        <td>{{d.regimen | titlecase}}</td>
                        <td class="d-flex justify-content-center">
                            <i (click)="VerEntradasSalidasEmpleado(d.codigo, fechasForm.value, 'pdf')" id="pdf"
                                class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                                matTooltip="Ver reporte entradas y salidas en formato PDF.">
                                <p>PDF</p>
                            </i>
                            <i (click)="VerEntradasSalidasEmpleado(d.codigo, fechasForm.value, 'excel')" id="excel"
                                class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                                matTooltip="Descargar reporte entradas y salidas en formato EXCEL.">
                                <p>XLSL</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="datosEmpleado.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>