<div class="container table-responsive" style="padding-bottom: 50px;">
    <mat-card class="mat-elevation-z8">
        <div id="resultadosEmpre">Lista de todos los permisos Solicitados por empleados</div>
        <table class="table table-hover table-sm ">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Empleado</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Tipo Permiso</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Final</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let e of permisos | paginate:tamanio_pagina:numero_pagina">
                    <td>{{e.nombre}} {{e.apellido}}</td>
                    <td>{{e.estado}}</td>
                    <td>{{e.fec_creacion.split('T')[0]}}</td>
                    <td>{{e.descripcion}}</td>
                    <td>{{e.nom_permiso}}</td>
                    <td>{{e.fec_inicio.split('T')[0]}}</td>
                    <td>{{e.fec_final.split('T')[0]}}</td>
                    <td><a href="http://localhost:3000/empleadoPermiso/documentos/{{e.documento}}" target="_blank">Ver</a></td>
                    <td>
                        <i class="fas fa-plus-circle" style="color:rgb(58, 90, 231); margin-left: 15px;" id="iprocesoL" (click)="AbrirAutorizaciones(e)"
                            matSuffix matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                            matTooltip="Agrega más tipos de permisos de este departamento.">
                            <p>Agregar</p>
                        </i>
                        <i class="fas fa-edit" matSuffix matTooltipPosition="right" (click)="AbrirVentanaEditar(e)"
                            matTooltip="Modificar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                        <!-- <i id="permisoSuc" class="far fa-trash-alt" matSuffix
                            matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                            matTooltip="Eliminar este registro">
                            <p>Eliminar</p>
                        </i> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="permisos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>