.btn-sm { background-color: rgb(80,87,97); color: white; } 

p { font-size: x-small; }

mat-form-field { padding: 10px 15px 0px 15px;}

.tituloEmpleados { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resulEmpleados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 12px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

#plan { color: rgb(38, 0, 255); font-size: 20px; text-align: center; cursor: pointer; }



