.btn { border-radius: 25px; margin-left: 15px; }
.rolL-tooltip { background: #ad4bc5; }
#iRolL { color:#ad4bc5; font-size: 18px; }
.tituloRolesL { 
    font-size: 20px; 
    text-align: center; 
    background: #ad4bc5; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px;
    padding-bottom: 6px; 
}
#resulRoles { 
    font-size: 17px; 
    text-align: center; 
    background: #ad4bc5; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

