.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }
p { font-size: x-small; }
td { padding-top: 10px; text-align: center; }
/*.rolL-tooltip { background: #ad4bc5;}*/
#iRolL { cursor: pointer;}
#funtion { color: rgb(17, 4, 66); cursor: pointer;}
.tituloRolesL { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px;
    padding-bottom: 6px; 
}
#resulRoles { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table {width: 100%;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }