<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <mat-card class="example-card mat-elevation-z8">
                <div class="tituloRolesL">
                    <span>ROLES</span>
                </div>
                <br>
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <mat-form-field>
                                <mat-label>Busqueda por nombre</mat-label>
                                <input matInput placeholder="Ej: Administrador " [(ngModel)]="filtroRoles"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarDescripcion">
                                <mat-icon id="iRolL" matSuffix matTooltipClass="rolL-tooltip" matTooltipPosition="right"
                                    matTooltip="Búsqueda de Rol por su nombre">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="buscarDescripcion.invalid">Indispensable ingresar dos letras
                                </mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <button mat-button type="submit" class="btn btn-danger btn-sm"
                        (click)="limpiarCampoBuscar()">Cancelar</button>
                    <button mat-button type="button" class="btn btn-primary btn-sm"
                        (click)="AbrirVentanaRegistrarRol()">Crear nuevo Rol</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resulRoles">Resultado de búsqueda</div>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of roles | roles:filtroRoles">
                <td>{{rol.nombre}}</td>
                <td>
                    <i matSuffix matTooltipClass="rolL-tooltip" matTooltipPosition="right"
                        matTooltip="Agregar funciones a este Rol" class="fas fa-grip-horizontal" id="funtion"
                        [routerLink]="['/seleccionarPermisos/', rol.id]">
                        <p>Funciones</p>
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</div>