<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <mat-card class="example-card mat-elevation-z8">
                <div class="barraTituloRol">
                    <span>ROLES</span>
                </div>
                <br>
                <div style="text-align: center;">
                    <h5 style="text-align: center;">Criterios de Búsqueda</h5>
                </div>
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <mat-form-field>
                                <mat-label>Busqueda por nombre</mat-label>
                                <input matInput placeholder="Ej: Administrador " [(ngModel)]="filtroRoles"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarDescripcion">
                                <mat-error *ngIf="buscarDescripcion.invalid">Indispensable ingresar dos letras</mat-error>
                                <mat-icon id="permisoRol" matSuffix matTooltipClass="color-tooltipRol" matTooltipPosition="right"
                                matTooltip="Busqueda del empleado por su apellido">help_outline</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <button mat-button type="submit" class="btn btn-danger btn-sm" (click)="limpiarCampoBuscar()">Cancelar</button>
                    <button mat-button type="button" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarRol()">Crear nuevo Rol</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resultadosRol">Resultado de búsqueda</div>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of roles | roles:filtroRoles">
                <td style="padding-top: 10px; text-align: center;">{{rol.nombre}}</td>
                <td>
                    <button type="submit" class="btn btn-info btn-sm"
                        [routerLink]="['/seleccionarPermisos/', rol.id]">Permisos</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>