<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm">
            <div class="tituloRolesL">
                <span>ROLES</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <mat-form-field>
                                <mat-label>Búsqueda por nombre</mat-label>
                                <input matInput placeholder="Ej: Administrador " [(ngModel)]="filtroRoles"
                                    (keypress)="IngresarSoloLetras($event)" [formControl]="buscarDescripcion">
                                <mat-icon id="iRolL" matSuffix matTooltipClass="rolL-tooltip" matTooltipPosition="right"
                                    matTooltip="Búsqueda de Rol por su nombre">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="buscarDescripcion.invalid">Indispensable ingresar dos letras
                                </mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <button mat-button type="button" class="btn btn-sm" (click)="AbrirVentanaRegistrarRol()">Crear nuevo
                        Rol
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="limpiarCampoBuscar()">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 10px; margin-bottom: 35px;">
    <div id="resulRoles">Resultado de búsqueda</div>
    <mat-card class="mat-elevation-z8 ">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rol of roles | roles:filtroRoles | paginate:tamanio_pagina:numero_pagina">
                    <td style="font-size: 14px;">{{rol.nombre}}</td>
                    <td>
                        <i matSuffix matTooltipClass="rolL-tooltip" matTooltipPosition="right"
                            matTooltip="Agregar funciones a este Rol" class="fas fa-grip-horizontal" id="funtion"
                            [routerLink]="['/seleccionarPermisos/', rol.id]">
                            <p>Funciones</p>
                        </i>
                        <i matSuffix (click)="AbrirVentanaEditar(rol)" matTooltipClass="enrolado-tooltip"
                            matTooltipPosition="right" id="editar"
                            matTooltip="Modificar datos generales del empleado enrolado" class="fas fa-edit">
                            <p>Editar</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="roles.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>