.btn { border-radius: 25px; margin-left: 15px;}

.barraTituloRol { 
    font-size: 20px; 
    text-align: center; 
    background: rgba(0, 122, 179, 0.828); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resultadosRol { 
    font-size: 17px; 
    text-align: center; 
    background: rgba(0, 122, 179, 0.828); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#permisoRol { color: rgba(0, 122, 179, 0.828); font-size: 18px; }

.color-tooltipRol { background: rgba(0, 122, 179, 0.828); }
