<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col">
            <div class="tituloTipoCoL">
                <span>ALMUERZOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta 1">
                <br>
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarTipoComidaForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <mat-form-field>
                                <mat-label>Nombre del plato</mat-label>
                                <input matInput name="filtroNombre" placeholder="Ingresar nombre" minlength="2"
                                    [formControl]="nombreF" [(ngModel)]="filtroNombre">
                                <mat-icon id="iComidasL" matSuffix matTooltipClass="comidasL-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda de un platillo por su nombre">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="nombreF.invalid">Indispensable ingresar dos letras
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarTipoComidas()"
                        value="Crear nuevo Tipo de Comida">
                    <input type="submit" class="btn btn-sm" (click)="LimpiarCampos()" value="Cancelar">
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resulComidas">Resultado de búsqueda</div>
    <mat-card class="mat-elevation-z8 ">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Descripción</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Observación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let comida of tipoComidas | filtrosNombres: filtroNombre | paginate:tamanio_pagina:numero_pagina">
                    <td id="centrar">{{comida.nombre}}</td>
                    <td id="fila">$ {{comida.valor}}</td>
                    <td id="centrar">{{comida.observacion}}</td>
                    <td id="centrar">
                        <i class="fas fa-edit" (click)="AbrirVentanaEditar(comida)" matSuffix matTooltipClass="comidasL-tooltip" matTooltipPosition="right"
                            matTooltip="Editar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                        <i class="far fa-trash-alt" matSuffix matTooltipClass="comidasL-tooltip"
                            matTooltipPosition="right" matTooltip="Eliminar este registro">
                            <p>Eliminar</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="tipoComidas.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>