<div class="d-flex bd-highlight tituloEmpresaR">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        Nivel de Seguridad</h5>
</div>
<form [formGroup]="seguridadForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="row">
                <div class="col">
                    <div class="col-sm" style="text-align: left;">
                        <mat-radio-group aria-label="Select an option" [formControl]="tipoF" required>
                            <label>Tipo de seguridad </label>
                            <mat-icon id="empre" matSuffix matTooltipClass="empre-tooltip" matTooltipPosition="right"
                                matTooltip="Seleccionar el tipo de seguridad que se usara para realizar cambios importantes dentro del sistema">
                                help_outline
                            </mat-icon>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm" style="text-align: left;">
                                        <mat-radio-button ngDefaultControl [(ngModel)]="selec1" [checked]="selec1"
                                            [ngModelOptions]="{standalone: true}" value="contrasena">
                                            Usar Contraseña
                                        </mat-radio-button>
                                        <br>
                                        <mat-radio-button ngDefaultControl [(ngModel)]="selec2" [checked]="selec2"
                                            [ngModelOptions]="{standalone: true}" value="frase">Usar Frase
                                        </mat-radio-button>
                                        <br>
                                        <mat-radio-button ngDefaultControl [(ngModel)]="selec3" [checked]="selec3"
                                            [ngModelOptions]="{standalone: true}" value="ninguna">
                                            Ninguna
                                        </mat-radio-button>
                                    </div>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm button" [disabled]="!seguridadForm.valid" value="Guardar"
        (click)="InsertarEmpresa(seguridadForm.value)">
    <input type="submit" class="btn btn-sm button" (click)="CerrarVentanaRegistroEmpresa()" value="Salir">
</div>
<div class="pantalla-progress" *ngIf="habilitarprogress">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>