.btn { margin-left: 15px; border-radius: 25px;}
td { padding-top: 10px; text-align: center; }
.fas { color:green; margin-left: 20px;  }
.far { color:red }
.upload {cursor: pointer;}
#btnUpload {background-color: rgb(0, 76, 255); color: white; border-color: white;}
#btnUpload:active{background-color: rgba(0, 128, 128, 0.027);}