<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <mat-card-header>
                    <mat-card-title style="text-align: center">Horarios - Críterios de Búsqueda</mat-card-title>
                </mat-card-header>

                <!-- <form [formGroup]="BuscarFeriadosForm">-->
                <mat-card-content>
                    <div class="container" style="text-align: center">
                        <mat-form-field>
                            <mat-label>Código</mat-label>
                            <input matInput placeholder="Ingresar Código">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre Horario">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Hora de trabajo</mat-label>
                            <input matInput placeholder="Hora dee trabajo">
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <!-- </form>-->
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-success btn-sm" value="Buscar">
                    <input type="submit" class="btn btn-danger btn-sm" value="Cancelar">
                    <input type="submit" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarHorario()" value="Ir a Registrar">
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<br>

<div>
    <mat-card class="example-card mat-elevation-z9" id="carta2">
        <mat-card-header>
            <mat-card-title>Resultados de Búsqueda</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container  table-responsive" style="padding-bottom: 50px;">
                <table mat-table class=" mat-elevation-z8 table table-hover table-sm ">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Id </th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Minutos de almuerzo</th>
                            <th scope="col">Hora de trabajo</th>
                            <th scope="col">Flexible</th>
                            <th scope="col">Por horas</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let horario of horarios">
                            <th style="padding-top: 10px; text-align: center;" scope="row">{{horario.id}}</th>
                            <td style="padding-top: 10px; text-align: center;">{{horario.nombre}}</td>
                            <td style="padding-top: 10px; text-align: center;">{{horario.min_almuerzo}}</td>
                            <td style="padding-top: 10px; text-align: center;">{{horario.hora_trabajo}}</td>
                            <td style="padding-top: 10px; text-align: center;">{{horario.flexible}}</td>
                            <td style="padding-top: 10px; text-align: center;">{{horario.por_horas}}</td>
                            <td style="padding-top: 10px; text-align: center;">

                                <i class="far fa-trash-alt" (click)="foo()" style="color:red; margin-left: 15px"></i>
                                <i class="fas fa-edit" style="color:green; margin-left: 20px"></i>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>