.barraTitulo { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.barraTitulo1 { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.barraTitulo2 { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.col-sm { font-weight: bold;}

#boton { background-color: rgb(80,87,97); color: white; margin-top: 10px; width:200px; }mat-divider { background: rgba(131, 131, 131, 0.609);}

.material-icons {margin-right: 8px;}

#boton:hover { background-color: rgba(75, 75, 75, 0.609);}

mat-tab-group {
    background: rgb(232,232,232);
    background: radial-gradient(circle, rgba(232,232,232,0.8883928571428571) 0%, rgba(249,249,249,1) 100%);
}

#Selector {color: white; padding: 7% 25%; }
 
mat-grid-tile {background-color: rgb(80,87,97); }

mat-grid-tile:hover {background-color: rgba(10, 10, 10, 0.609); }