<div class="container" *ngFor="let e of empleadoUno" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <a mat-button [routerLink]="['/empleado']" class="btn btn-warning">Regresar a Empleado</a>
            <mat-card class="mat-elevation-z8">
                <div class="barraTitulo">
                    <h5>Empleado {{e.nombre}} {{e.apellido}}</h5>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px;">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Código:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{e.id}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Cédula:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{e.cedula}}</label>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Correo electrónico:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{e.correo}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Domicilio:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{e.domicilio}}</label>
                            </div>
                        </div>           
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Teléfono:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{e.telefono}}</label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Fecha de Nacimiento:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{fecha}}</label>
                            </div>
                        </div>
                    </div>
                </mat-card-content>    
            </mat-card>
            <div class="container" style="padding-bottom: 35px; padding-top: 35px;">

                <div class="container border border-primary">

                    <!-- contenedor de registro de datos -->
                    <div class="row" style="padding-top: 15px; padding-bottom: 25px;">

                        <div class="col-md">

                            <div class="container">
                                <!-- formulario datos personales -->
                                <!-- <form> -->
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm-5 col-form-label">Horarios</label>
                                    </div>
                                    <div class="col">
                                        <label class="col-sm-5 col-form-label">-</label>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-bottom: 15px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <mat-card  class="mat-elevation-z8" style="padding-bottom: 35px;">
                <div class="barraTitulo1">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col" >
                                <h5>Discapacidad</h5>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-outline-light btn-sm"
                                [disabled]="!btnHabilitado" (click)="mostrarDis()">{{btnDisc}}</button>
                            </div>
                        </div>
                    </div>
                </div>    
                <mat-card-content>    
                    <div class="container" style="padding-top: 15px;" *ngFor="let d of discapacidadUser">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Carnet Conadis:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{d.carn_conadis}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Tipo:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{d.tipo}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Porcentaje:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{d.porcentaje}} %</label>
                            </div>
                        </div>
                    </div>
                </mat-card-content> 
            </mat-card>

            <div style="padding-bottom: 35px; padding-top: 35px;">
                <app-discapacidad [idEmploy]="idEmpleado" *ngIf="!mostrarDiscapacidad"></app-discapacidad>
            </div>

        </div>

        <div class="col-md">
            <mat-card  class="mat-elevation-z8" style="padding-bottom: 35px;">
                <div class="barraTitulo2">
                    <div class="container">
                        <div class="row">
                            <div class="col" style="text-align: right;">
                                <h5>Títulos</h5>
                            </div>
                            <div class="col"  style="text-align: left;">
                                <button type="submit" class="btn btn-outline-light btn-sm" (click)="mostrarTit()">{{btnTitulo}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>    
                    <div class="container" style="padding-top: 15px;" *ngFor="let rte of relacionTituloEmpleado">
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Observaciones:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{rte.observaciones}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Nombre:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{rte.nombre}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm col-form-label">Nivel:</label>
                            </div>
                            <div class="col">
                                <label class="col col-form-label">{{rte.nivel}}</label>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>  
            </mat-card>

            <div style="padding-bottom: 35px; padding-top: 35px;">
                <app-titulo-empleado [idEmploy]="idEmpleado" *ngIf="!mostrarTitulo"></app-titulo-empleado>
            </div>

        </div>

    </div>
</div>