<br>
<mat-tab-group>

    <!-- INFORMACION OFICIAL DEL EMPLEADO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_pin</mat-icon>
            Perfil Usuario
        </ng-template>
        <div class="container" *ngFor="let e of empleadoUno" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <h5>{{e.nombre}} {{e.apellido}}</h5>
                        </div>
                        <mat-card-content>
                            <div class="container" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col-md d-flex align-items-center justify-content-center">
                                        <div mat-card-avatar id="avatar" *ngIf="mostrarImagen">
                                            <img src="{{urlImagen}}" alt="" id="avatarImagen">
                                        </div>
                                        <div mat-card-avatar id="avatar" *ngIf="mostrarIniciales">
                                            <span
                                                class="btn iniciales d-flex align-items-center justify-content-center">{{iniciales}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md d-flex align-items-center justify-content-center">
                                        <form method="post" enctype="multipart/form-data">
                                            <input (change)="fileChange($event)" type="file" [formControl]="archivoForm"
                                                id="file" accept="image/png, image/jpeg">
                                            <label for="file" class="btn-2">{{textoBoton}}</label>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Código:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.id}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Cédula:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.cedula}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Correo electrónico:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.correo}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Domicilio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.domicilio}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Teléfono:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.telefono}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha de Nacimiento:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{fechaNacimiento}}</label>
                                    </div>
                                </div>
                                <a href="{{ruta}}" mat-button type="submit" id="botonActualizar" class="btn"
                                    (click)="verRegistroEdicion(false)" [disabled]="!btnActualizar">Actualizar
                                    información</a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <br>
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <mat-grid-list cols="2" rowHeight="3:1">
                            <mat-grid-tile>
                                <button type="submit" [routerLink]="['/empleado']"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons">keyboard_backspace</i><span>Atrás</span>
                                </button>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button (click)="generarPdf('open')"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons">picture_as_pdf</i><span>Abrir PDF</span>
                                </button>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button (click)="generarPdf('download')"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons">cloud_download</i><span>Descargar PDF</span>
                                </button>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button (click)="generarPdf('print')"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons">print</i><span>Imprimir PDF</span>
                                </button>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button (click)="exportToExcel()"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons fas fa-file-excel"></i><span>Exportar a Excel</span>
                                </button>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button (click)="exportToCVS()"
                                    class="btn btn-block d-flex align-items-center justify-content-center"
                                    id="Selector">
                                    <i class="material-icons fas fa-file-csv"></i><span>Exportar a CSV</span>
                                </button>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <!-- <div class="form-group">
                        <label class="h4 mb-3" for="">Show your picture in Resume</label>
                        <input type="file" class="form-control-file" (change)="fileChanged($event)">
                    </div> -->
                    </mat-card>
                </div>
            </div>
        </div>
        <app-editar-empleado *ngIf="!btnActualizar" id="editar"></app-editar-empleado>
        <br><br>
    </mat-tab>

    <!-- DISCAPACIDAD Y TITULO DEL EMPLEADO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">school</mat-icon>
            Asignaciones
        </ng-template>
        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo2">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: right;">
                                        <h5>Títulos</h5>
                                    </div>
                                    <div class="col" style="text-align: left;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="mostrarTit()">{{btnTitulo}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" style="padding-top: 15px;"
                                *ngFor="let rte of relacionTituloEmpleado">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Observaciones:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{rte.observaciones}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Nombre:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{rte.nombre}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Nivel:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{rte.nivel}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <a href="{{rutaTitulo}}" mat-button type="submit" id="botonActualizar"
                                            class="btn" matSuffix matTooltipPosition="right"
                                            matTooltip="Editar los datos generales de este registro"
                                            (click)="verTituloEdicion(false); ObtenerIdTituloSeleccionado(rte.id)"
                                            [disabled]="!btnActualizarTitulo">
                                            <i class="fas fa-edit"></i>
                                            Editar
                                        </a>
                                    </div>
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <button mat-button type="submit" id="botonActualizar" class="btn" matSuffix
                                            matTooltipPosition="right" matTooltip="Eliminar este registro"
                                            (click)="eliminarTituloEmpleado(rte.id)">
                                            <i class="far fa-trash-alt"></i>
                                            Eliminar
                                        </button>
                                    </div>
                                </div> <br>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div style="padding-bottom: 35px; padding-top: 35px;">
                        <app-titulo-empleado [idEmploy]="idEmpleado" *ngIf="!mostrarTitulo"></app-titulo-empleado>
                        <app-editar-titulo *ngIf="!btnActualizarTitulo" [idEmpleado]="idEmpleado" [idSelect]="idSelect"
                            id="editarTitulo"></app-editar-titulo>
                    </div>
                </div>
                <div class="col-md">
                    <mat-card class="mat-elevation-z8" style="padding-bottom: 35px;">
                        <div class="barraTitulo1">
                            <div class="container">
                                <div class="row" style="text-align: center;">
                                    <div class="col">
                                        <h5>Discapacidad</h5>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            [disabled]="!btnHabilitado" (click)="mostrarDis()">{{btnDisc}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" style="padding-top: 15px;" *ngFor="let d of discapacidadUser">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Carnet Conadis:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{d.carn_conadis}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Tipo:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{d.tipo}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Porcentaje:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{d.porcentaje}} %</label>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <button mat-button type="submit" id="botonActualizar" class="btn"
                                        (click)="eliminarDiscapacidad(d.id)" matSuffix matTooltipPosition="right"
                                        matTooltip="Eliminar registro">
                                        <i class="far fa-trash-alt"></i>
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div style="padding-bottom: 35px; padding-top: 35px;">
                        <app-discapacidad [idEmploy]="idEmpleado" [editar]="editar" *ngIf="!mostrarDiscapacidad">
                        </app-discapacidad>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Registros Adicionales
        </ng-template>

        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="submit" id="boton" (click)="AbrirVentanaEmplHorario()" class="btn">Horario Empleado
                    </button>
                    <br>
                    <button type="submit" id="boton" (click)="AbrirVentanaCatHorario()" class="btn">Detalle Horario
                    </button>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- CONTRATO DEL EMPLEADO Y CARGO DEL EMPLEADO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Contrato y Cargo
        </ng-template>

        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Contrato del Empleado</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaCrearContrato()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let ce of contratoEmpleado" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Código:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{ce.id}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Regimen:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{ce.descripcion}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Ingreso:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{fechaContratoIngreso}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Salida:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{fechaContratoSalida}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Controla Asistencia:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label" *ngIf="ce.asis_controla == true">Si</label>
                                        <label class="col col-form-label" *ngIf="ce.asis_controla == false">No</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Controla Vacaciones:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label" *ngIf="ce.vaca_controla == true">Si</label>
                                        <label class="col col-form-label" *ngIf="ce.vaca_controla == false">No</label>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Cargo del Empleado</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaCargo()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let c of cargoEmpleado" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Código:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.id}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Sucursal:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.sucursal}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Departamento:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.departamento}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Sueldo:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.sueldo}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Horas de Trabajo:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.hora_trabaja}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.fec_inicio.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Final:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{c.fec_final.split("T")[0]}}</label>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- PERIODO DE VACACIONES DEL EMPLEADO Y VACACIONES DEL EMPLEADO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Vacaciones
        </ng-template>

        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Periodo de Vacaciones</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaPerVacaciones()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let p of peridoVacaciones" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Descripción:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.descripcion}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Día Vacación:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.dia_vacacion}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Día Antiguedad:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.dia_antiguedad}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Día Perdido:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.dia_perdido}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Estado:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.estado}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.fec_inicio.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Final:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.fec_final.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Vacaciones</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaVacaciones()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let v of vacaciones" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Día Libre:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.dia_libre}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Día Laborable:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.dia_laborable}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Legalizado:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.legalizado}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Estado:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.estado}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.fec_inicio.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Final:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.fec_final.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Ingreso:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{v.fec_ingreso.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- PLANIFICACION DE HORARIOS DEL EMPLEADO Y DETALLE PLANIFICACION HORARIO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Horarios
        </ng-template>

        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Planificación Horario</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaPlanHorario()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let p of planHorario" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.fec_inicio.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Final:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{p.fec_final.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Detalle de Horario</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaDetallePlanHorario()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let ph of planHoraDetalle" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{ph.fecha.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Tipo Día:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label" *ngIf="ph.tipo_dia == 1">Libre</label>
                                        <label class="col col-form-label" *ngIf="ph.tipo_dia == 2">Feriado</label>
                                        <label class="col col-form-label" *ngIf="ph.tipo_dia == 3">Normal</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Horarios:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{ph.horarios}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- PROCESOS DEL EMPLEADO Y PLANIFICACION DE ALMUERZO -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Procesos y Almuerzo
        </ng-template>
        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: right;">
                                        <h5>Procesos del empleado</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaProcesos()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let e of empleadoProcesos" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Proceso:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.proceso}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.fec_inicio.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Final:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{e.fec_final.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <i class="fas fa-edit" id="edit" (click)="AbrirVentanaEditarProceso(e)" matSuffix
                                        matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                                        matTooltip="Modificar los datos generales de este registro">
                                        <p>Editar</p>
                                    </i>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Planificación Comidas</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaPlanificacion()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="container" *ngFor="let pc of planComidas" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.fecha.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Solicita:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.fec_solicita.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Hora Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.hora_inicio}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Hora Fin:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.hora_fin}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Nombre:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.nombre}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Observación:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.observacion}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Precio Plato:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">$ {{pc.valor}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- PERMISOS Y AUTORIZACIONES -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">settings</mat-icon>
            Autorización y Permisos
        </ng-template>
        <div class="container" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="row">
                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: right;">
                                        <h5>Autorizaciones</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaAutorizar()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <!--    <div class="container" *ngFor="let e of empleadoProcesos" style="padding-top: 15px;">
                                    <div class="row">
                                        <div class="col">
                                            <label class="col-sm col-form-label">Proceso:</label>
                                        </div>
                                        <div class="col">
                                            <label class="col col-form-label">{{e.proceso}}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="col-sm col-form-label">Fecha Inicio:</label>
                                        </div>
                                        <div class="col">
                                            <label class="col col-form-label">{{e.fec_inicio.split("T")[0]}}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="col-sm col-form-label">Fecha Final:</label>
                                        </div>
                                        <div class="col">
                                            <label class="col col-form-label">{{e.fec_final.split("T")[0]}}</label>
                                        </div>
                                    </div>
                                    <div style="text-align: right;">
                                        <i class="fas fa-edit" id="edit" (click)="AbrirVentanaEditarProceso(e)" matSuffix
                                            matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                                            matTooltip="Modificar los datos generales de este registro">
                                            <p>Editar</p>
                                        </i>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>-->
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md">
                    <mat-card class="mat-elevation-z8">
                        <div class="barraTitulo">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="text-align: left;">
                                        <h5>Permisos</h5>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button type="submit" class="btn btn-outline-light btn-sm"
                                            (click)="AbrirVentanaPermiso()">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card-content>
                            <!-- <div class="container" *ngFor="let pc of planComidas" style="padding-top: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.fecha.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Fecha Solicita:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.fec_solicita.split("T")[0]}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Hora Inicio:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.hora_inicio}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Hora Fin:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.hora_fin}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Nombre:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.nombre}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Observación:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">{{pc.observacion}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-sm col-form-label">Precio Plato:</label>
                                    </div>
                                    <div class="col">
                                        <label class="col col-form-label">$ {{pc.valor}}</label>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>-->
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>