<br>
<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <h5 class="navbar-text text-light">Empleado</h5>
    </nav>
    <!-- Formulario Completo -->
    <!--<form>-->

    <div class="container border border-primary">

        <!-- contenedor de registro de datos -->
        <div class="row" style="padding-top: 15px; padding-bottom: 25px;">

            <div class="col-md">

                <div class="container">
                    <!-- formulario datos personales -->
                    <!-- <form> -->
                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Código</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label" *ngFor="let e of empleado">{{e.empl_id}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Apellidos</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Nombres</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Fecha de Nacimiento</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                    </div>

                    <div class=" from-group row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Horas Trabajo</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Sueldo</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Subir Foto</label>
                            <image-upload buttonCaption="Añadir Foto" dropBoxMessage="Seleccionar Imagen"
                                (uploadFinished)="onUploadFinish($event)"></image-upload>
                        </div>
                    </div>
                    <!-- </form> -->

                </div>
            </div>
        </div>

        <div class="container" style="padding-bottom: 15px;">
        </div>

    </div>

    <!-- Botones -->
    <button type="button" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;">Aceptar</button>
    <!--</form>-->
</div>

<br>
<div class="container">

    <div class="container border border-primary">

        <!-- contenedor de registro de datos -->
        <div class="row" style="padding-top: 15px; padding-bottom: 25px;">

            <div class="col-md">

                <div class="container">
                    <!-- formulario datos personales -->
                    <!-- <form> -->
                    <div class="row">
                        <div class="col">
                            <label class="col-sm-5 col-form-label">Horarios</label>
                        </div>
                        <div class="col">
                            <label class="col-sm-5 col-form-label">-</label>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom: 15px;">
        </div>
    </div>
</div>