.barraTitulo { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.barraTitulo1 { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

.barraTitulo2 { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

#resulHorario { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

.col-sm { font-weight: bold;}

#boton { background-color: rgb(80,87,97); color: white; margin-top: 10px;}

mat-divider { background: rgba(131, 131, 131, 0.609);}

.material-icons {margin-right: 8px;}

#boton:hover { background-color: rgba(75, 75, 75, 0.609);}

p { font-size: x-small; }

.fas {cursor: pointer;}

.far {cursor: pointer;}

#detalleH { color: rgb(38, 0, 255); margin-right: 15px;}

#ver { color: indianred; }

#cerrar { color: rgb(38, 0, 255); }

mat-tab-group {
    background: rgb(232,232,232);
    background: radial-gradient(circle, rgba(232,232,232,0.8883928571428571) 0%, rgba(249,249,249,1) 100%);
}

#Selector {color: white; padding: 7% 25%; }

mat-grid-tile {background-color: rgb(80,87,97); }

mat-grid-tile:hover {background-color: rgba(10, 10, 10, 0.609); }

#datosF { font-weight: bold; font-size: 15px; padding-right: 5px;}

#verticalLine { border-left: 1px solid rgb(52,65,84); }

.caja3 {padding: 0px 5px 0px 5px; width: 200px; }

.caja2 {padding: 0px 5px 0px 5px; width: 300px; }

#avatar { 
    border-radius: 100%; 
    height: 100px; 
    width: 100px; 
    background-color: rgb(126, 126, 126); 
    margin-bottom: 10px;
}

#avatarImagen { border-radius: 100%; height: 100px; width: 100px; }

.iniciales {color: white; font-weight: bold; font-size: 60px; }

#edit { color:green; margin-right: 5px; cursor: pointer; font-size: 15px; text-align: center; }

#doc { font-size: 14px; text-align: center;}

#delete { color:red;  cursor: pointer; text-align: center; }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

table { width: 100%; font-size: 14px; }

td { padding-top: 10px; text-align: center; }

.caja1 {padding: 0px 10px 0px 10px; width: 250px; }

#cancel { color:red; cursor: pointer; font-size: 15px; text-align: center; margin-right: 20px; }

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label.btn-2 {
    background-color: #93a3c7;
    overflow: hidden;
}

[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    margin-left: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

[type="file"] + label.btn-2:hover {
    background-color: rgb(0, 76, 255)
}

[type="file"] + label.btn-2:hover::before {
    right: 80%
}

#descargar:hover { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: rgb(38, 218, 15); 
    color: white;
    padding-top: 10px; 
    padding-bottom: 6px;
}

#descargar { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: #93a3c7; 
    overflow: hidden;
    color: white;
    padding-top: 10px; 
    padding-bottom: 6px;
}
