<div class="container" *ngFor="let s of datosSucursal" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>DATOS GENERALES</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col">
                        <label id="datosF" class="col-sm col-form-label text-center">{{s.nombre.toUpperCase()}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3" id="verticalLine">
                        <label id="datosF" class="col-sm col-form-label">Empresa:</label>
                    </div>
                    <div class="col-3">
                        <label class="col-sm col-form-label">{{s.nomempresa}}</label>
                    </div>
                    <div class="col-3" id="verticalLine">
                        <label id="datosF" class="col-sm col-form-label">Ciudad:</label>
                    </div>
                    <div class="col-3">
                        <label class="col-sm col-form-label">{{s.descripcion}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="editarF" (click)="EditarDatosSucursal(s)" matSuffix matTooltipClass="color-tooltip"
                        matTooltipPosition="right" matTooltip="Modificar datos de este registro" class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarDepartamento()"
                        value="Crear nuevo Departamento">
                </div>
            </div>
            <hr>
            <div class="container table-responsive" style="padding-bottom: 50px;">
                <div id="resulDepartamentos">LISTA DE DEPARTAMENTOS</div>
                <table class="mat-elevation-z8 table table-hover table-sm">
                    <thead class="thead-light">
                        <tr style="text-align: center;">
                            <th scope="col">Empresa</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Departamento Superior</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of datosDepartamentos | paginate:tamanio_pagina:numero_pagina">
                            <td *ngIf="d.nombre != 'Ninguno'">{{d.nomempresa}}</td>
                            <td *ngIf="d.nombre != 'Ninguno'">{{d.nombre | titlecase}}</td>
                            <td *ngIf="d.nombre != 'Ninguno'">{{d.nivel}}</td>
                            <td *ngIf="d.nombre != 'Ninguno'">{{d.departamento_padre | titlecase}}
                            </td>
                            <td *ngIf="d.nombre != 'Ninguno'">
                                <i id="editarI" (click)="AbrirVentanaEditarDepartamento(d)" matSuffix
                                    matTooltipClass="color-tooltip" matTooltipPosition="right"
                                    matTooltip="Modificar datos de este registro" class="fas fa-edit">
                                    <p>Editar</p>
                                </i>
                                <i class="far fa-trash-alt" (click)="ConfirmarDelete(d)"
                                    style="color:red; margin-left: 15px;" id="iprocesoL" matSuffix
                                    matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                                    matTooltip="Eliminar registro">
                                    <p>Eliminar</p>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="datosDepartamentos.length" [pageSize]="tamanio_pagina"
                    [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
                </mat-paginator>
                <input type="submit" class="btn btn-sm" [routerLink]="['/sucursales/']"
                    value="Ir a la Lista de Establecimientos">
            </div>
        </mat-card-content>
    </mat-card>
</div>