.mat-radio-button ~ .mat-radio-button { margin-left: 30px; }

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}

.tituloEnrolar { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
}

#iEnrol { cursor: pointer; }