<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-7" style="margin-bottom: 15px;">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                        Críterios de Búsqueda
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                        matTooltip="Se puede filtra de acuerdo al campo que escriba">search</mat-icon>
                    </mat-expansion-panel-header>
            
                    <form [formGroup]="">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Filtrar por Código</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCodigo"
                                    [formControl]="codigo" (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el código">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por CI o pasaporte</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por la cédula de identificación o pasaporte">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por Nombres</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroNombre"
                                    [formControl]="nombre" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="nombre.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el nombre">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por Apellidos</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroApellido"
                                    [formControl]="apellido" type="text"
                                    (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="apellido.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el apellido">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="d-flex justify-content-around">
                        <button mat-button type="submit" class="btn btn-sm" id="boton" (click)="limpiarCampos()">Cancelar</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-5">
            <mat-accordion multi>
                <mat-expansion-panel >
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                        Rango Periodo Kardex
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                        matTooltip="Ingresa el rango de fechas para la consulta de Asistencia Detalle Consolidado">date_range</mat-icon>
                    </mat-expansion-panel-header>
            
                    <div class="d-flex flex-wrap justify-content-center">
                        <form [formGroup]="fechasKardexForm">
                            <mat-form-field>
                                <mat-label>Desde</mat-label>
                                <input matInput [matDatepicker]="pickerYearI" placeholder="dd/mm/aaaa" [disabled]="habilitarK" 
                                    [formControl]="anio_inicio" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerYearI" matTooltipPosition="right" id="ayuda_fec"
                                    matTooltip="Ingresa el año inicial del periodo que desea consultar el reporte. Ejm: 01/08/2020"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickerYearI></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Hasta</mat-label>
                                <input matInput [matDatepicker]="pickerYearF" placeholder="dd/mm/aaaa" [disabled]="habilitarK" 
                                    [formControl]="anio_final" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerYearF" matTooltipPosition="right" id="ayuda_fec"
                                    matTooltip="Ingresar fecha final en la que desea consultar gráfica estadística. Ejm: 31/08/2020."></mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickerYearF></mat-datepicker>
                            </mat-form-field>
                        </form>
                        <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                            <button mat-button type="submit" class="btn btn-sm" id="botones" [disabled]="fechasKardexForm.invalid" (click)="ValidarRangofechasKardex(fechasKardexForm.value)">Aceptar</button>
                            <button mat-button type="submit" class="btn btn-sm" id="botones" (click)="limpiarCamposRangoKardex()">Cancelar</button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">KARDEX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido | paginate:tamanio_pagina:numero_pagina">
                        <th scope="row">{{e.codigo}}</th>
                        <td>{{e.nombre}}</td>
                        <td>{{e.apellido}}</td>
                        <td>{{e.cedula}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix  [ngStyle]="estiloK" matTooltipPosition="right" id="upload"
                                matTooltip="Ver datos generales de este empleado" class="material-icons" 
                                (click)="KardexEmpleado(e.id, 'download')">cloud_download
                            </i>
                            <i matSuffix  [ngStyle]="estiloK" matTooltipPosition="right" id="pdf"
                                matTooltip="Ver datos generales de este empleado"  class="material-icons"
                                (click)="KardexEmpleado(e.id, 'open')">picture_as_pdf
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>