.btn-sm { background-color: rgb(80,87,97); color: white; } 

p { font-size: x-small; }

table { width: 100%; font-size: 13px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

