<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z8">
                <div style="text-align: center;">
                    <h5>Enrolados - Criterios de Búsqueda</h5>
                </div>
                <!-- Formulario Completo -->
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <mat-form-field>
                                <mat-label>Buscar por Id Usuario</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroIdUser" [formControl]="idUser" type="number" (keypress)="soloNumeros($event)" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Buscar por Nombre</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroEnrNombre" [formControl]="nombre" type="text" (keypress)="soloLetras($event)" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Buscar por Activo</mat-label>
                                <mat-select [formControl]="activo" [(ngModel)]="filtroActivo">
                                    <mat-option *ngFor="let d of activoBus" [value]="d.value">
                                        {{d.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Buscar por Finger</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroFinger" [formControl]="finger" type="number" (keypress)="soloNumeros($event)" required>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-danger btn-sm" (click)="limpiarCampos()" value="Cancelar">
                    <button type="button" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarEnrolado()">Nuevo Enrolado</button>
                </div>
            </mat-card>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container  table-responsive" style="padding-bottom: 50px;">
    <mat-toolbar>
        <span style="text-align: center;">Resultado de búsqueda</span>
    </mat-toolbar>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Id Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Activo</th>
                <th scope="col">Finger</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enrolado of enrolados | iduser: filtroIdUser | activo: filtroActivo | finger: filtroFinger | enrNombre: filtroEnrNombre">
                <td style="padding-top: 10px;text-align: center;">{{enrolado.id_usuario}}</td>
                <td style="padding-top: 10px;text-align: center;">{{enrolado.nombre}}</td>
                <td style="padding-top: 10px;text-align: center;">{{enrolado.activo}}</td>
                <td style="padding-top: 10px;text-align: center;">{{enrolado.finger}}</td>
                <td style="padding-top: 10px;text-align: center;">
                    <i class="far fa-trash-alt" style="color:red; margin-right: 15px;"></i> 
                    <i  class="fas fa-edit" style="color:green;" ></i> 
                </td>
            </tr>
        </tbody>
    </table>
</div>


