p { font-size: x-small; text-align: center; }

td { padding-top: 10px; text-align: center; }

hr { background-color: black; }

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

.barraTituloD { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
#editarI { color:green; margin-left: 25px; cursor: pointer; }

#editarF { color:green; cursor: pointer; text-align: center; margin-left: 15px; }

#datosF { font-weight: bold; font-size: 18px; }

#resulCiudades { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

