<div class="container" *ngFor="let m of datosMenu" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>DATOS GENERALES DEL MENÚ</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Tipo de Servicio:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{m.tipo}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Nombre:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{m.nombre}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Hora Inicio:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{m.hora_inicio}}</label>
                    </div>
                    <br>
                    <div class="col">
                        <label class="col-sm col-form-label">Hora Fin:</label>
                        <br>
                        <label id="datosF" class="col-sm col-form-label">{{m.hora_fin}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="editarF" (click)="AbrirVentanaEditar(m)" matSuffix 
                        matTooltipPosition="right" matTooltip="Modificar datos de este registro" class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaDetalles(m)" value="Registrar Detalle">
                </div>
            </div>
            <hr>
            <div class="container" style="padding-bottom: 50px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div id="resulCiudades">DETALLES DEL MENÚ</div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">Plato</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Observación</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dm of datosDetalle | paginate:tamanio_pagina:numero_pagina">
                                    <td>{{dm.plato}}</td>
                                    <td>$ {{dm.valor}}</td>
                                    <td>{{dm.observacion}}</td>
                                    <td>
                                        <i id="editarI" (click)="AbrirVentanaEditarDetalle(dm)" matSuffix
                                             matTooltipPosition="right"
                                            matTooltip="Modificar datos de este registro" class="fas fa-edit">
                                            <p>Editar</p>
                                        </i>
                                        <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro"
                                            class="far fa-trash-alt" (click)="ConfirmarDelete(dm)"
                                            style="color:red; margin-left: 15px;">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [length]="datosDetalle.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            <input type="submit" class="btn btn-sm" [routerLink]="['/listarTipoComidas/']"
                value="Ir a la Lista de Menús">
        </mat-card-content>
    </mat-card>
</div>