.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}

.permisoEmpleado { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
}


#permiso { cursor: pointer; }

#letras { font-size: 14px; }

#solP { font-size: 13px; }