.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }

#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}

.tituloNotifica { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px;
}
#selecDepa { font-size: 13px; }

#notifica { cursor: pointer; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    padding-left: 5px;  
    text-align: justify;
    padding-bottom: 10px; 
    color: rgb(52,65,84);
}