<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="example-card mat-elevation-z8">
        <div style="text-align: center;">
            <h5>Añadir Provincia</h5>
        </div>
        <form [formGroup]="nuevaProvinciaForm">
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>Nombre de la Provincia</mat-label>
                        <input matInput placeholder="Ej: Pichincha" [formControl]="nombre"
                            (keypress)="soloLetras($event)" required>
                        <mat-error *ngIf="nombre.invalid">{{obtenerMensajeErrorNombre()}}</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
        <div style="text-align: center;">
            <input type="submit" class="btn btn-primary btn-sm" (click)="insertarProvincia(nuevaProvinciaForm.value)"
                [disabled]="!nuevaProvinciaForm.valid" value="Grabar">
            <input type="submit" class="btn btn-danger btn-sm" (click)="limpiarCampos()" value="Cancelar">
        </div>
    </mat-card>
</div>