
<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <mat-card-title class="contened">Añadir Provincia</mat-card-title>
        </mat-card-header>
        <!-- Formulario Completo -->
        <form [formGroup]="nuevaProvinciaForm" (ngSubmit)="insertarProvincia(nuevaProvinciaForm.value)">
            <mat-card-content>
                <div class="container">
                    <mat-label class="label-theme">Nombre de la Provincia</mat-label>
                    <input matInput placeholder="Ej: Pichincha" (keypress)="soloLetras($event)" formControlName="nombreForm" required>
                    
                </div>
                
            </mat-card-content>
                   
       
            <mat-card-actions>
                <input type="submit" class="btn btn-primary" style="margin-left: 15px;"
                    [disabled]="!nuevaProvinciaForm.valid" value="Grabar">
                <input type="submit" class="btn btn-danger" style="margin-left: 15px" (click)="cancelarRegistroProvincia()"
                value="Cancelar" >
            </mat-card-actions>
        </form>
    </mat-card>

</div>