.btn { background-color: rgb(80,87,97); color: white; }

p { font-size: x-small; }

td { padding-top: 10px; text-align: center; } 

.fas { color:green; cursor: pointer; }

.far { color:red; cursor: pointer; margin-left: 20px;}

button {margin: 5px 10px 5px 10px;}

#itituloL { cursor: pointer; }

.nivelTituloL { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px;
    padding-bottom: 6px; 
}

#resulTitulos { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

mat-form-field { font-size: 12px; text-align: center; width: 100px; }