<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTitulo">
            <span>Modificar Datos del Empleado</span>
        </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="primeroFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="seccion_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                        matTooltipPosition="right" matTooltip="Sección 1: Datos Personales">person_add
                    </mat-icon>
                </ng-template>
                <div class="titulo_empleR">
                    <span>Datos Personales</span>
                </div>
                <br>
                <div class="subtitulo_empleR">
                    <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                        para continuar.</span>
                </div>
                <form [formGroup]="primeroFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <mat-form-field>
                                    <mat-label>Nombres</mat-label>
                                    <input matInput placeholder="Ej: Kevin Alexander" type="text"
                                        formControlName="nombreForm" (keypress)="IngresarSoloLetras($event)" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Es obligatorio ingresar los dos nombres del nuevo empleado">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput placeholder="Ej: Curay Lasluisa" type="text"
                                        formControlName="apellidoForm" (keypress)="IngresarSoloLetras($event)" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Es obligatorio ingresar los dos apellidos del nuevo empleado">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Código</mat-label>
                                    <input matInput type="text" formControlName="codigoForm">
                                    <mat-icon id="icono_emple" matSuffix matTooltipPosition="right"
                                        matTooltip="Ingrese un Código de identificacion, este campo es alternativo.">
                                        help_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field>
                                    <mat-label>CI o Pasaporte</mat-label>
                                    <input matInput type="text" placeholder="1788300293" maxlength="10"
                                        formControlName="cedulaForm"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        (keypress)="IngresarSoloNumeros($event)" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar la cédula de identidad o pasaporte del nuevo empleado">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Fecha de nacimiento</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                        formControlName="fechaForm" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker" id="icono_emple"
                                        matTooltipClass="empleadoR-tooltip" matTooltipPosition="right"
                                        matTooltip="Seleccione la fecha de nacimiento dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field>
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input matInput type="text" placeholder="ejemplo@mail.com"
                                        formControlName="emailForm" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right" matTooltip="Ingrese un correo electrónico valido">
                                        mail_outline</mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Correo Alternativo</mat-label>
                                    <input matInput type="text" placeholder="ejemplo2@mail.com"
                                        formControlName="correoAlternativoForm">
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingrese un correo electrónico alternativo valido">alternate_email
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button mat-button
                        (click)="actualizarEmpleado(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value)"
                        type="submit" class="btn btn-primary" [disabled]="!primeroFormGroup.valid">Guardar
                    </button>
                    <button mat-button matStepperNext class="btn">Siguiente</button>
                    <button mat-button (click)="cancelar()" class="btn">Cancelar</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="segundoFormGroup">
                <form [formGroup]="segundoFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                            matTooltipPosition="right" matTooltip="Sección 2: Datos Personales">person_add
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_empleR">
                        <span>Datos Personales</span>
                    </div>
                    <br>
                    <div class="subtitulo_empleR">
                        <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                            Siguiente para continuar.</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Domicilio</mat-label>
                                    <input matInput placeholder="Sector, Avenida, Calle" type="text"
                                        formControlName="domicilioForm" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingrese la dirección de domicilio en donde reside, Av, interseción, numero de casa">
                                        my_location
                                    </mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput placeholder="0984297443" type="text" maxlength="10"
                                        formControlName="telefonoForm"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        (keypress)="IngresarSoloNumeros($event)" required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar número telefónico convencional o celular">phone
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Estado Civil</mat-label>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccinar el estado civil del nuevo empleado">help_outline
                                    </mat-icon>
                                    <mat-select required formControlName="estadoCivilForm">
                                        <mat-option [value]="1">Soltero/a</mat-option>
                                        <mat-option [value]="2">Unión de Hecho</mat-option>
                                        <mat-option [value]="3">Casado/a</mat-option>
                                        <mat-option [value]="4">Divorciado/a</mat-option>
                                        <mat-option [value]="5">Viudo/a</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Género</mat-label>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right" matTooltip="Seleccinar el género del nuevo empleado">
                                        help_outline
                                    </mat-icon>
                                    <mat-select required formControlName="generoForm">
                                        <mat-option [value]="1">Masculino</mat-option>
                                        <mat-option [value]="2">Femenino</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Estado</mat-label>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar el estado del nuevo empleado. Por defecto seleccionar Activo">
                                        help_outline
                                    </mat-icon>
                                    <mat-select required formControlName="estadoForm">
                                        <mat-option [value]="1">Activo</mat-option>
                                        <mat-option [value]="2">Inactivo</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <input type="text" placeholder="Nacionalidad" aria-label="Number" matInput
                                        [formControl]="NacionalidadControl" [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async"
                                            [value]="option.nombre">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon matSuffix matTooltipClass="empleadoR-tooltip" matTooltipPosition="right"
                                        matTooltip="Ingrese la nacionalidad del empleado">help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button mat-button matStepperPrevious class="btn">Atrás</button>
                    <button mat-button
                        (click)="actualizarEmpleado(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value)"
                        type="submit" class="btn btn-primary" [disabled]="!segundoFormGroup.valid">Guardar
                    </button>
                    <button mat-button matStepperNext class="btn">Siguiente</button>
                    <button mat-button (click)="cancelar()" class="btn">Cancelar</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="terceroFormGroup">
                <form [formGroup]="terceroFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                            matTooltipPosition="right" matTooltip="Sección 3: Datos de Usuario">insert_emoticon
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_empleR">
                        <span>Datos de Usuario</span>
                    </div>
                    <br>
                    <div class="subtitulo_empleR">
                        <span>Llenar todos los campos obligatorios (*) del formulario y dar click en Guardar.</span>
                        <br>
                        <span>Recuerde estas son las credenciales que usará el empleado para ingresar al sistema y ver
                            su información.
                        </span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Seleccionar un Rol</mat-label>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="El rol es el nivel de autorización que el usaurio tendra en el sistema">
                                        help_outline
                                    </mat-icon>
                                    <mat-select required formControlName="rolForm">
                                        <mat-option *ngFor="let r of roles" [value]="r.id">{{r.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Usuario</mat-label>
                                    <input matInput placeholder="Ej: kevin.curay" formControlName="userForm" type="text"
                                        required>
                                    <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Nombre del usuario con el cual podra ingresar al sistema">
                                        account_circle</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput placeholder="máximo 10 caracteres"
                                        [type]="hide ? 'password' : 'text'" maxlength="10"
                                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        formControlName="passForm">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon id="icono_emple" matSuffix matTooltipClass="empleadoR-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Contraseña del usuario con la cual podra ingresar al sistema">
                                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious class="btn">Atrás</button>
                        <button mat-button
                            (click)="actualizarEmpleado(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value);"
                            type="submit" class="btn btn-primary" [disabled]="!terceroFormGroup.valid">Guardar
                        </button>
                        <button mat-button (click)="cancelar()" class="btn">Cancelar</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>