<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="example-card mat-elevation-z8">
        <div style="text-align: center;">
            <h5>Añadir Rol</h5>
        </div>
        <form [formGroup]="nuevoRolForm">

            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Ej: Administrador" [formControl]="descripcion"
                            (keypress)="soloLetras($event)" required>
                        <mat-error *ngIf="descripcion.invalid">{{obtenerMensajeErrorDescripcion()}}</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
        <div style="text-align: center;">
            <input type="submit" class="btn btn-primary btn-sm" (click)="insertarRol(nuevoRolForm.value)"
                [disabled]="!nuevoRolForm.valid" value="Grabar">
            <input type="submit" class="btn btn-danger btn-sm" (click)="limpiarCampos()" value="Cancelar">
        </div>
    </mat-card>
</div>