<br>
<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <h5 class="navbar-text text-light">Añadir Rol</h5>
    </nav>
    <!-- Formulario Completo -->
    <!--<form>-->

    <div class="container border border-primary">

        <!-- contenedor registro rol -->
        <div class="row" style="padding-top: 15px; padding-bottom: 25px;">

            <div class="container" style="text-align: center">
                <!-- <form> -->
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Descripción</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <br>
            <div class="container">

                <nav class="navbar navbar-dark bg-primary">
                    <h5 class="navbar-text text-light">Funciones</h5>
                </nav>
                <!-- Formulario Completo -->
                <!--<form>-->

                <div class="container border border-primary">

                    <!-- contenedor de registro de datos -->
                    <div class="row" style="padding-top: 15px; padding-bottom: 25px; padding-left: 10px;">
                        <p>Permisos</p>
                        <div class="container" style="text-align: center">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Crear <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Modificar <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Eliminar <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Ver <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Imprimir <input type="checkbox" ng-model="leader"></label>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                        <br><br>
                        <hr style="border:2px;">
                        <p>Gestionar Solicitudes Permisos - Vacaciones</p>
                        <div class="container" style="text-align: center">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Permisos <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Vacaciones <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Eliminar <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Autorizar <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Legalizar <input type="checkbox" ng-model="leader"></label>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                        <br><br>
                        <hr style="border:2px;">
                        <p>Planificación Múltiple</p>
                        <div class="container" style="text-align: center">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Modificar <input type="checkbox" ng-model="leader"></label>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <hr style="border:2px;">
                        <p>Planificación Vacaciones</p>
                        <div class="container" style="text-align: center">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Autorizar <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Modificar Pendiente <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Modificar Autorizado <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Eliminar Pendiente <input type="checkbox" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Eliminar Autorizado <input type="checkbox" ng-model="leader"></label>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                        <br><br>
                        <hr style="border:2px;">
                        <p>Acceso Empleados</p>
                        <div class="container" style="text-align: center">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Individual <input type="radio" ng-model="leader"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Subordinados <input type="radio" ng-model="leader1"></label>
                                </div>
                                <div class="col">
                                    <label class="col-sm-5 col-form-label">Todos <input type="radio" ng-model="leader3"></label>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <!--</form>-->
            </div>

        </div>
    </div>

    <!-- Botones -->
    <button type="button" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;">Guardar</button>
    <button type="button" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;">Cancelar</button>
    <!--</form>-->
</div>