<br>
<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <h5 class="navbar-text text-light">Añadir Rol</h5>
    </nav>
    <!-- Formulario Completo -->
    <form [formGroup]="nuevoRolForm" (ngSubmit)="insertarRol(nuevoRolForm.value)">

        <div class="container border border-primary">

            <!-- contenedor registro rol -->
            <div class="row" style="padding-top: 15px; padding-bottom: 25px;">

                <div class="container" style="text-align: center">
                    <!-- <form> -->
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Descripción</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" formControlName="descripcionForm">
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
                <br>
            </div>
        </div>
        <!-- Botones -->
        <input type="submit" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;" [disabled]="!nuevoRolForm.valid" value="Guardar">
        <button type="button" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;">Cancelar</button>
    </form>
</div>