<!-- <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
    <div class="row">
        <div class="col"> -->
            <mat-card class="example-card mat-elevation-z8">
                <div class="barraTitulo">
                    <h5>Añadir Discapacidad</h5>
                </div>
                <!-- Formulario Completo -->
                <form [formGroup]="nuevoCarnetForm">
                    <mat-card-content>
                        <div class="container" style="padding-top: 15px; text-align: center;">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>N° de Carnet Conadis</mat-label>
                                        <input matInput type="number" placeholder="Ej: " [formControl]="carnet" maxlength="7"
                                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            (keypress)="IngresarSoloNumeros($event)" required>
                                        <mat-error *ngIf="carnet.invalid">{{obtenerMensajeErrorCarnet()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label id="tipoD">Seleccionar Discapacidad *</mat-label>
                                        <mat-select [formControl]="tipo">
                                            <mat-option *ngFor="let d of discapacidades" [value]="d.value">
                                                {{d.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-label>Porcentaje de discapacidad *</mat-label><br>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="100"
                                        [formControl]="porcentaje" required>
                                    </mat-slider>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg" (click)="insertarCarnet(nuevoCarnetForm.value)"
                        [disabled]="!nuevoCarnetForm.valid"> 
                        <span class="material-icons alinear">save</span>
                    </button>
                    <button type="submit" class="btn btn-info btn-lg" (click)="limpiarCampos()">
                        <span class="material-icons alinear">backspace</span>
                    </button>
                    <button type="submit" class="btn btn-danger btn-lg" (click)="cerrarRegistro()">
                        <span class="material-icons alinear">close</span>
                    </button>
                </div>
            </mat-card>
        <!-- </div>
    </div>
</div> -->