<div class="scrollbar scrollbar-primary">
    <div class="d-flex bd-highlight barraTituloContratoE">
        <mat-icon class="flex-shrink-1 bd-highlight" id="movilidad">open_with</mat-icon>
        <h5 class="w-100 bd-highlight" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Contrato del
            Empleado</h5>
    </div>
    <!-- Formulario Completo -->
    <mat-card-content>
        <div class="container" style="text-align: center">
            <br>
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.</span>
            </div>
            <span class="nota">Desea subir un archivo (opcional) </span>
            <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
            <form [formGroup]="ContratoForm">
                <div class="d-flex flex-wrap justify-content-around">
                    <mat-form-field>
                        <mat-label>Empleado</mat-label>
                        <input id="nomEmple" matInput placeholder="Empleado" [formControl]="idEmpleadoF"
                            readonly="readonly" required>
                        <mat-icon id="i-cursor" matSuffix 
                            matTooltipPosition="right" matTooltip="Código único de identifiacción del empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Seleccionar Régimen</mat-label>
                        <mat-icon id="i-cursor" matSuffix 
                            matTooltipPosition="right"
                            matTooltip="Seleccionar Régimen Laboral con el cual va a prestar sus servicios el empleado">
                            help_outline</mat-icon>
                        <mat-select id="tamañoLetra" [formControl]="idRegimenF" [(ngModel)]="seleccionarRegimen"
                            required>
                            <mat-option *ngFor="let regimen of regimenLaboral" [value]="regimen.id">
                                {{regimen.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha de ingreso</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaIngresoF"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker" id="i-cursor"
                             matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de ingreso del empleado a la empresa. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha de salida</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fechaSalidaF">
                        <mat-datepicker-toggle matSuffix [for]="picker2" id="i-cursor"
                             matTooltipPosition="right"
                            matTooltip="Ingresar la fecha estimada de salida del empleado, en caso de conocerla. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field *ngIf="habilitarSeleccion">
                        <mat-label id="selEmpre">Seleccionar Contrato</mat-label>
                        <mat-icon id="i-cursor" matSuffix matTooltipPosition="right" 
                            matTooltip="Seleccione el tipo de contrato con el que va a laborar">
                            help_outline
                        </mat-icon>
                        <mat-select [formControl]="tipoF">
                            <mat-option *ngFor="let tc of tipoContrato" [value]="tc.id"
                                (click)="IngresarOtro(ContratoForm.value)">
                                {{tc.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="habilitarContrato">
                        <mat-label id="selEmpre">Tipo Contrato</mat-label>
                        <input matInput placeholder="Ej: Indefinido" [formControl]="contratoF" [ngStyle]="estilo">
                        <mat-icon id="cargoE" matSuffix matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                            matTooltip="Regresar a la lista de contratos existentes" (click)="VerTiposContratos()">
                            help_outline</mat-icon>
                        <mat-error *ngIf="contratoF.invalid">Ingresar un tipo de contrato válido</mat-error>
                    </mat-form-field>
                    <mat-radio-group aria-label="Select an option" [formControl]="controlVacacionesF"
                        [value]="controlVacacionesF.value" required>
                        <label class="d-flex justify-content-between">
                            <span>Controlar Vacaciones *</span>
                            <mat-icon id="i-cursor" matSuffix 
                                matTooltipPosition="right"
                                matTooltip="Selecionar Si para el control, caso contrario No">
                                help_outline
                            </mat-icon>
                        </label>
                        <div class="d-flex justify-content-around">
                            <mat-radio-button value="true">Si</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <mat-radio-group aria-label="Select an option" [formControl]="controlAsistenciaF"
                        [value]="controlAsistenciaF.value" required>
                        <label class="d-flex justify-content-between">
                            <mat-label>Controlar Asistencia *</mat-label>
                            <mat-icon id="i-cursor" matSuffix 
                                matTooltipPosition="right"
                                matTooltip="Selecionar Si para el control, caso contrario No">help_outline
                            </mat-icon>
                        </label>
                        <div class="d-flex justify-content-around">
                            <mat-radio-button value="true">Si</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <div class="d-flex flex-wrap justify-content-around" *ngIf="isChecked">
                        <div class="separar">
                            <form method="post" enctype="multipart/form-data">
                                <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file">
                                <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" id="iHor" matSuffix
                                     matTooltipPosition="right"
                                    matTooltip="Subir el repectivo documento contrato del empleado">Subir
                                    Contrato</label>
                            </form>
                        </div>
                        <div class="separar">
                            <input type="text" readonly id="nomContrato" placeholder="Ningún archivo seleccionado"
                                class="form-control" style="width: 210px;" [formControl]="nombreContratoF">
                        </div>
                        <div class="separar" *ngIf="HabilitarBtn">
                            <button class="btn btn-sm" type="submit" (click)="deseleccionarArchivo()">Quitar
                                Documento</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
    <div style="text-align: center">
        <mat-card-actions style="text-align: center">
            <input type="submit" class="btn btn-sm" [disabled]="!ContratoForm.valid"
                (click)="ValidarDatosContrato(ContratoForm.value)" value="Guardar">
            <input type="submit" (click)="CerrarVentanaRegistroContrato()" class="btn btn-sm" value=" Salir">
        </mat-card-actions>
    </div>
</div>