.btn { margin-left: 15px; border-radius: 25px;}
td { padding-top: 10px; text-align: center; }
.fas { color:green; margin-left: 20px; }
.far { color:red; }
th { font-size: small; }
.barraTitulo { 
    font-size: 20px; 
    text-align: center; 
    background: rgba(187, 207, 2, 0.828); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resultados { 
    font-size: 17px; 
    text-align: center; 
    background: rgba(187, 207, 2, 0.828);
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}