<br>
<div class="container" style="margin-bottom: 15px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-sm" style="margin-bottom: 25px; padding-bottom: 10px;">
            <div class="tituloRegL">
                <span>RÉGIMEN LABORAL</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <h5 style="text-align: center">Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarRegimenForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Descripción</mat-label>
                            <input matInput nombre="filtroRegimenLaboral" placeholder="Ingresar nombre"
                                (keypress)="IngresarSoloLetras($event)" [formControl]="descripcionF"
                                [(ngModel)]="filtroRegimenLaboral">
                            <mat-icon id="iRegL" matSuffix matTooltipClass="regimenL-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Búsqueda de Régimen Laboral por la descripción">
                                help_outline
                            </mat-icon>
                            <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeNombreValido()}}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div class="d-flex flex-wrap justify-content-center">
                    <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarRegimen()">Crear
                        nuevo Régimen Laboral
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampos()">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulRegimen">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Régimen Laboral</th>
                        <th scope="col">V: días por año</th>
                        <th scope="col">V: días por mes</th>
                        <th scope="col">Años considerados antiguedad</th>
                        <th scope="col">V: días de incremento</th>
                        <th scope="col">Máximo días acumulables</th>
                        <th scope="col">V: días libres</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let regimenL of regimen | filtroRegion: filtroRegimenLaboral | paginate:tamanio_pagina:numero_pagina">
                        <td>{{regimenL.descripcion}}</td>
                        <td>{{regimenL.dia_anio_vacacion}}</td>
                        <td>{{regimenL.dia_mes_vacacion}}</td>
                        <td>{{regimenL.anio_antiguedad}}</td>
                        <td>{{regimenL.dia_incr_antiguedad}}</td>
                        <td>{{regimenL.max_dia_acumulacion}}</td>
                        <td>{{regimenL.dia_libr_anio_vacacion}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipClass="emple-tooltip" matTooltipPosition="right"
                                matTooltip="Ver datos generales de este empleado" class="fas fa-eye" id="ver"
                                [routerLink]="['/verRegimen/',regimenL.id]">
                                <p>Ver</p>
                            </i>
                            <i class="fas fa-edit" (click)="AbrirVentanaEditar(regimenL)" matSuffix
                                matTooltipClass="regimenL-tooltip" matTooltipPosition="right"
                                matTooltip="Editar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(regimenL)" class="far fa-trash-alt" matSuffix
                                matTooltipClass="regimenL-tooltip" matTooltipPosition="right"
                                matTooltip="Eliminar este registro">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="regimen.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="generarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip"
                matTooltip="Descargar Lista de Regímenes Laborales en formato PDF">
                <p>PDF</p>
            </i>
            <i (click)="exportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip"
                matTooltip="Descargar Lista de Regímenes Laborales en formato EXCEL">
                <p>XLSL</p>
            </i>
            <i (click)="exportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip"
                matTooltip="Descargar Lista de Regímenes Laborales en formato CSV">
                <p>CSV</p>
            </i>
            <i (click)="exportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip"
                matTooltip="Descargar Lista de Regímenes Laborales en formato XML">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>