<div class="container" style="padding-top: 15px; padding-bottom: 25px;">


    <nav class="navbar navbar-dark bg-primary">
        <h5 class="navbar-text text-light">Añadir Titulo</h5>
    </nav>
    <!-- Formulario Completo -->
    <form [formGroup]="nuevoTituloForm" (ngSubmit)="insertarTitulo(nuevoTituloForm.value)">


        <div class="container border border-primary" style="padding-top: 15px; padding-bottom: 2px;">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nombre</label>
                <div class="col-sm">
                    <input type="text" class="form-control" formControlName="tituloNombreForm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nivel</label>
                <div class="col-sm">
                    <select class="form-control" formControlName="tituloNivelForm">
                        <option [ngValue]="null" disabled>Seleccione Nivel</option>
                        <option [ngValue]="1">Primaria</option>
                        <option [ngValue]="2">Secundaria</option>
                        <option [ngValue]="3">Bachillerato</option>
                        <option [ngValue]="4">Universidad</option>
                        <option [ngValue]="5">MBS</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" style="margin-left: 15px; margin-top: 15px;" [disabled]="!nuevoTituloForm.valid" value="Grabar">
        <input type="submit" class="btn btn-danger" style="margin-left: 15px; margin-top: 15px;" [disabled]="!nuevoTituloForm.valid" value="Cancelar">

    </form>

</div>