<div class="container" style="padding-top: 15px; padding-bottom: 25px;">

    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Añadir Título</mat-card-title>
        </mat-card-header>
        <!-- Formulario Completo -->
        <form [formGroup]="nuevoTituloForm" (ngSubmit)="insertarTitulo(nuevoTituloForm.value)">
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <mat-label>Ingresar Nombre de Título</mat-label>
                        <input matInput placeholder="Ej: Ingenieria en Software" [formControl]="nombre" required>
                        <mat-error *ngIf="nombre.invalid">{{obtenerMensajeErrorNombre()}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Seleccione Nivel</mat-label>
                        <mat-select [formControl]="nivel">
                            <mat-option *ngFor="let n of niveles" [value]="n.value">
                                {{n.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <input type="submit" class="btn btn-primary" style="margin-left: 15px;"
                    [disabled]="!nuevoTituloForm.valid" value="Grabar">
                <input type="submit" class="btn btn-danger" style="margin-left: 15px;"
                    [disabled]="!nuevoTituloForm.valid" value="Cancelar">
            </mat-card-actions>
        </form>
    </mat-card>

</div>