<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTitulo">
            <span>Asistencia</span>
        </div>
        <form [formGroup]="AsistenciaForm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <mat-form-field>
                            <mat-label>Empleado</mat-label>
                            <input matInput [formControl]="nombreEmpleadoF" readonly>
                            <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                                matTooltip="Nombre del empleado que realizó el timbre">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Horario: Fecha y Hora</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="fechaHoraHF" required
                                [disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="permiso"
                                matTooltipClass="permiso-tooltip" matTooltipPosition="right"
                                matTooltip="Fecha y hora respectiva al horario del empleado">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Timbre: Fecha y Hora</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="fechaHoraTF" required
                                [disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="permiso"
                                matTooltipClass="permiso-tooltip" matTooltipPosition="right"
                                matTooltip="Fecha y hora en la que se realizo el timbre en el dispositivo">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <br>
                        <mat-form-field>
                            <mat-label>Acción del Timbre</mat-label>
                            <input matInput [formControl]="accionF" readonly>
                            <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                                matTooltip="Indica la acción realizada al timbrar">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Minutos de Espera</mat-label>
                            <input matInput [formControl]="esperaF" readonly>
                            <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                                matTooltip="Indica los minutos de tolerancia para realizar el timbre">
                                help_outline</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <br>
                        <mat-form-field>
                            <mat-label>Asistencia: Fecha y Hora</mat-label>
                            <input matInput [matDatepicker]="picker3" [formControl]="fechaHoraAF" required
                                [disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker3" id="permiso"
                                matTooltipClass="permiso-tooltip" matTooltipPosition="right"
                                matTooltip="Fecha y hora que indica la asistencia del empleado">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker3></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <input matInput [formControl]="estadoF" readonly>
                            <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip" matTooltipPosition="right"
                                matTooltip="Indica atraso o puntualidad de ingreso a trabajar">
                                help_outline</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div>
            <button mat-button class="btn">Lista de Asistencias
            </button>
        </div>
    </mat-card>
</div>
