.btn { border-radius: 25px; margin-left: 15px;}
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
.tituloR-tooltip { background: #4622aa; }
#itituloR { color:#4622aa; font-size: 18px; }
.tituloR { 
    font-size: 35px; 
    text-align: center; 
    background: #4622aa; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
}

