<mat-card class="mat-elevation-z8">
    <div class="barraTitulo">
        <h5>Añadir Título al Empleado</h5>
    </div>
    <form [formGroup]="nuevoTituloEmpleadoForm">
        <mat-card-content>
            <div class="container" style="padding-top: 15px; text-align: center;">
                <mat-form-field>
                    <mat-label>Observaciones</mat-label>
                    <input matInput placeholder="ejemplo" (keypress)="IngresarSoloLetras($event)"
                        [formControl]="observa" required>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                        matTooltip="Hacer una observación que referencia al título que posee el empleado">
                        help_outline
                    </mat-icon>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Seleccionar título</mat-label>
                    <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                        matTooltip="Seleccionar el Título profesional que tiene el empleado">
                        help_outline
                    </mat-icon>
                    <mat-select [formControl]="idTitulo" required>
                        <mat-option *ngFor="let ct of cgTitulos" [value]="ct.id">
                            {{ct.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
    <div style="text-align: center;">
        <button type="submit" class="btn"
            (click)="insertarTituloEmpleado(nuevoTituloEmpleadoForm.value)" [disabled]="!nuevoTituloEmpleadoForm.valid">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right" matTooltipClass="color-tooltip"
                matTooltip="Guardar registro">save</span>
        </button>
        <button type="submit" class="btn" (click)="limpiarCampos()">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right" matTooltipClass="color-tooltip"
                matTooltip="Borrar datos ingresados">backspace</span>
        </button>
        <button type="submit" class="btn" (click)="cerrarRegistro()">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right" matTooltipClass="color-tooltip"
                matTooltip="Cancelar registro">close</span>
        </button>

        <button type="submit" class="btn" (click)="VerificarTitulo()">
            <span class="material-icons alinear" matSuffix matTooltipPosition="right" matTooltipClass="color-tooltip"
                matTooltip="Verificar título profesional del empleado antes de registrarlo">insert_link</span>
        </button>
    </div>
</mat-card>