.example-form mat-slide-toggle { margin: 8px 0; display: block; }

p { font-weight: bold; }

.caja {padding: 5px 5px 5px 5px;}

mat-slide-toggle {padding: 0px 10px 0px 10px;}

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

#movilidad { cursor: grab; color: blue; font-size: 20px; margin-left: 10px;}

.config { text-align: center; background: rgb(52,65,84); color: white; padding-top: 14px; }

.scrollbar {
    float: left;
    height: 460px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}