<div class="scrollbar scrollbar-primary">
    <div class="d-flex bd-highlight config">
        <mat-icon class="flex-shrink-1 bd-highlight" id="movilidad">open_with</mat-icon>
        <h5 class="w-100 bd-highlight" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Acciones de Timbres</h5>
    </div>
    <br>
    <small>
        Si utiliza relojes con timbres de 6 o 3 acciones da click en <strong>Si</strong>. <br>
        Si utilzas relojes con timbres sin acciones da click en <strong>No</strong>.
    </small>
    <hr>
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
        <div class="d-flex flex-wrap">
            <div class="caja">
                <div class="d-flex flex-wrap justify-content-start">
                    <mat-radio-group aria-label="Select an option" formControlName="acciones_timbres" required>
                        <label class="d-flex justify-content-start">
                            <p>Utiliza reloj con acciones (6 o 3)</p>
                            <mat-icon matSuffix matTooltipPosition="right" 
                                matTooltip="Ayuda a identificar si los reportes deben tomar en cuenta los timbres con acciones o sin acciones.">help_outline
                            </mat-icon>
                        </label>
                        <div class="d-flex justify-content-center">
                            <mat-radio-button [value]="true">Si</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <small>Para guardar los cambios es necesario ingresar nuevamente al sistema.</small>
    <div class="d-flex justify-content-around" style="padding-top: 10px;">
        <button class="btn btn-primary" type="submit" (click)="GuardarAccion(formGroup.value)">Guardar</button>
        <button class="btn" type="submit" (click)="this.dialogRef.close()">Cancelar</button>
    </div>
</div>
