<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm">
            <div class="tituloProcesoL">
                <span>ACCIONES DE PERSONAL PROCESOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z8">
                <br>
                <h5 style="text-align: center;">Críterios de Búsqueda</h5>
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Nombre</mat-label>
                                        <input matInput placeholder="Ej: Emergencia" [(ngModel)]="filtroNombre"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarNombre">
                                        <mat-error *ngIf="buscarNombre.invalid">Indispensable ingresar dos letras
                                        </mat-error>
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right" matTooltip="Búsqueda del proceso por el nombre">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Nivel</mat-label>
                                        <input matInput placeholder="Ej: 1" type="number" [(ngModel)]="filtroNivel"
                                            (keypress)="IngresarSoloNumeros($event)" [formControl]="buscarNivel">
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right" matTooltip="Búsqueda del proceso por su nivel">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label id="proS">Ingresar Proceso Superior</mat-label>
                                        <input matInput placeholder="Ej: ninguno" [(ngModel)]="filtroProPadre"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarPadre">
                                        <mat-error *ngIf="buscarPadre.invalid">Indispensable ingresar dos letras
                                        </mat-error>
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del proceso por el nombre del proceso superior">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-sm" (click)="AbrirVentanaRegistrarProceso()">Crear nuevo
                        Proceso
                    </button>
                    <input type="submit" class="btn btn-sm" (click)="limpiarCampoBuscar()" value="Cancelar">
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resulProceso">Resultado de búsqueda</div>
    <mat-card class="mat-elevation-z8 ">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Nombre</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Proceso Superior</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let proceso of procesos | nombre:filtroNombre | nivel:filtroNivel | padre:filtroProPadre | paginate:tamanio_pagina:numero_pagina">
                    <td>{{proceso.nombre}}</td>
                    <td>{{proceso.nivel}}</td>
                    <td>{{proceso.proc_padre}}</td>
                    <td>
                        <i class="fas fa-edit" (click)="AbrirVentanaEditar(proceso)" style="color:green;" id="iprocesoL" matSuffix
                            matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                            matTooltip="Modificar los datos generales del registro">
                            <p>Editar</p>
                        </i>
                        <i class="far fa-trash-alt" (click)="AbrirAlertaEliminarTitulo(proceso)" style="color:red; margin-left: 15px;" id="iprocesoL" matSuffix
                            matTooltipClass="procesoL-tooltip" matTooltipPosition="right"
                            matTooltip="Eliminar registro">
                            <p>Eliminar</p>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="procesos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>

</div>