<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm">
            <mat-card class="example-card mat-elevation-z8">
                <div class="tituloProcesoL">
                    <span>ACCIONES DE PERSONAL PROCESOS</span>
                </div>
                <br>
                <h5 style="text-align: center;">Críterios de Búsqueda</h5>
                <mat-card-content>
                    <div class="container" style="text-align: center;">
                        <form>
                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Nombre</mat-label>
                                        <input matInput placeholder="Ej: Emergencia" [(ngModel)]="filtroNombre"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarNombre">
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right" matTooltip="Búsqueda del proceso por el nombre">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label>Ingresar Nivel</mat-label>
                                        <input matInput placeholder="Ej: 1" type="number" [(ngModel)]="filtroNivel"
                                            (keypress)="soloNumeros($event)" [formControl]="buscarNivel">
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right" matTooltip="Búsqueda del proceso por su nivel">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field>
                                        <mat-label id="proS">Ingresar Proceso Superior</mat-label>
                                        <input matInput placeholder="Ej: ninguno" [(ngModel)]="filtroProPadre"
                                            (keypress)="IngresarSoloLetras($event)" [formControl]="buscarPadre">
                                        <mat-icon id="iprocesoL" matSuffix matTooltipClass="procesoL-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Búsqueda del proceso por el nombre del proceso superior">
                                            help_outline</mat-icon>
                                    </mat-form-field>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </mat-card-content>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-danger btn-sm" (click)="limpiarCampoBuscar()" value="Cancelar">
                    <button type="button" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarProceso()">Crear
                        nuevo Proceso</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <mat-card class="mat-elevation-z8 ">
        <div id="resulProceso">Resultado de búsqueda</div>
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Nombre</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Proceso Superior</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proceso of procesos | nombre:filtroNombre | nivel:filtroNivel | padre:filtroProPadre | paginate:tamanio_pagina:numero_pagina">
                    <td style="padding-top: 10px;text-align: center;">{{proceso.nombre}}</td>
                    <td style="padding-top: 10px;text-align: center;">{{proceso.nivel}}</td>
                    <td style="padding-top: 10px;text-align: center;">{{proceso.proc_padre}}</td>
                    <td style="padding-top: 10px;text-align: center;">
                        <i class="far fa-trash-alt" style="color:red; margin-right: 15px;"></i>
                        <i class="fas fa-edit" style="color:green;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="procesos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions" id="estilo"
                    (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
    </mat-card>

</div>