.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

p { font-size: x-small; }

td { padding-top: 10px; text-align: center; }

.tituloProcesoL { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px;
}

#iprocesoL { cursor: pointer; }
/*.procesoL-tooltip { background-color : rgb(114, 43, 2); }*/
#resulProceso { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#proS { font-size: 15px;}

table {width: 100%;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }
