.btn { border-radius: 25px; margin-left: 15px;}
.tituloProcesoL { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(114, 43, 2); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px;
}
#iprocesoL { color:rgb(114, 43, 2); font-size: 18px; }
.procesoL-tooltip { background-color : rgb(114, 43, 2); }
#resulProceso { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(114, 43, 2); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
#proS { font-size: 15px;}
