<div class="scrollbar scrollbar-primary">
    <mat-icon id="movilidad">open_with</mat-icon>
    <div class="tituloExtra">
        <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Configurar Hora Extra</span>
    </div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="primeroFormGroup">
            <ng-template matStepLabel>
                <mat-icon id="seccion_horaE" matSuffix matTooltipClass="horaE-tooltip" matTooltipPosition="right"
                    matTooltip="Sección 1: Configuraciones Generales">person_add
                </mat-icon>
            </ng-template>
            <div class="titulo_horaE">
                <span>Configuraciones Generales</span>
            </div>
            <br>
            <div class="subtitulo_horaE">
                <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Siguiente
                    para continuar.</span>
            </div>
            <form [formGroup]="primeroFormGroup">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label id="horaExtra">Nombre de la hora Extra</mat-label>
                                <input matInput placeholder="Ej: " formControlName="descripcionForm" required>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Ingresar un nombre con el que se va a identificar la nueva configuración de hora extra">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="descripcion.invalid">{{obtenerMensajeErrorDescripcion()}}
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label id="tipoRecargo">Seleccionar tipo recargo *</mat-label>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Seleccione el tipo de recargo que tendrá la hora extra">
                                    help_outline</mat-icon>
                                <mat-select formControlName="tipoDescuentoForm">
                                    <mat-option *ngFor="let d of descuentos" [value]="d.value">
                                        {{d.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-label>Porcentaje de recargo</mat-label>
                            <mat-icon id="iHora" matSuffix matTooltipPosition="right" matTooltipClass="horaE-tooltip"
                                matTooltip="Indique el valor porcentual que tendrá la hora extra">
                                help_outline</mat-icon>
                            <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="25" min="0" max="100"
                                [formControl]="recaPorcentaje" required>
                            </mat-slider>
                            <br>
                            <mat-form-field>
                                <mat-label>Tipo de jornada</mat-label>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Seleccionar la jornada de trabajo en la que se considerará la hora extra">
                                    help_outline</mat-icon>
                                <mat-select formControlName="horaJornadaForm" required>
                                    <mat-option *ngFor="let h of horario" [value]="h.value">
                                        {{h.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput type="time" placeholder="Hora de Inicio"
                                    formControlName="horaInicioForm" required>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Ingresar la hora desde la cual se va a considerar hora extra">
                                    alarm</mat-icon>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="time" placeholder="Hora de Finalización"
                                    formControlName="horaFinalForm" required>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Ingresar la hora en la que finaliza la jornada laboral">
                                    alarm_on</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <button (click)="CerrarVentana()" class="btn btn-sm">Cancelar</button>
                <button matStepperNext class="btn btn-sm float-right">Siguiente</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="segundoFormGroup">
            <form [formGroup]="segundoFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="seccion_horaE" matSuffix matTooltipClass="horaE-tooltip" matTooltipPosition="right"
                        matTooltip="Sección 2: Configuraciones Generales">person_add
                    </mat-icon>
                </ng-template>
                <div class="titulo_horaE">
                    <span>Condiciones del Permiso</span>
                </div>
                <br>
                <div class="subtitulo_horaE">
                    <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                        Guardar.</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Función del reloj</mat-label>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip" matTooltip="Seleccionar función del dispositivo">
                                    help_outline</mat-icon>
                                <mat-select formControlName="tipoFuncionForm">
                                    <mat-option *ngFor="let t of tipoFuncionAlg" [value]="t.value">
                                        {{t.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label id="codigoP">Código programacion</mat-label>
                                <mat-select formControlName="codigoForm" required>
                                    <mat-option *ngFor="let t of tipoFuncionAlg" [value]="t.value">
                                        {{t.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Tipo de día</mat-label>
                                <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                    matTooltipClass="horaE-tooltip"
                                    matTooltip="Seleccionar el tipo de día en los que se podrá realizar horas extras">
                                    help_outline</mat-icon>
                                <mat-select formControlName="tipoDiaForm" required>
                                    <mat-option *ngFor="let d of dia" [value]="d.value">
                                        {{d.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <br>
                            <section class="example-section">
                                <mat-radio-group aria-label="Select an option" formControlName="inclAlmuerzoForm"
                                    required>
                                    <label>Incluye Almuerzo *</label>
                                    <mat-icon id="iHora" matSuffix matTooltipPosition="right"
                                        matTooltipClass="horaE-tooltip"
                                        matTooltip="Indicar si dentro de las horas extras realizadas se podrá incluir hora de almuerzo">
                                        help_outline</mat-icon>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <mat-radio-button ngDefaultControl [(ngModel)]="selec1"
                                                    [checked]="selec1" [ngModelOptions]="{standalone: true}"
                                                    value="true">Si</mat-radio-button>
                                                <mat-radio-button ngDefaultControl [(ngModel)]="selec2"
                                                    [checked]="selec2" [ngModelOptions]="{standalone: true}"
                                                    value="false">No</mat-radio-button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </section>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <button matStepperPrevious class="btn btn-sm">Atrás</button>
                <button type="submit" class="btn btn-sm"
                    (click)="insertarHoraExtra(primeroFormGroup.value, segundoFormGroup.value); stepper.reset()"
                    [disabled]="!segundoFormGroup.valid" id="iconoG">Guardar
                </button>
                <button (click)="CerrarVentana()" class="btn btn-sm float-right">Cancelar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>