mat-slider { width: 100%; }

.caja { width: 250px;padding: 10px 10px 0px 10px; }

.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;} 

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

mat-radio-group { width: 210px; padding: 15px 20px 15px 20x; margin-bottom: 10px;}

#horaExtra { font-size: small; }

#codigoP { font-size: small; }

#tipoRecargo { font-size: small; }

/*.horaE-tooltip { background-color : chocolate; }*/

/*.horaS-tooltip { background-color : chocolate; font-size: 11px; border-radius: 25px; }*/

#iHora { cursor: pointer; }

#iconoG { margin-left: 15px; }

.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }

.tituloExtra { 
  text-align: center; 
  background: rgb(52,65,84); 
  color: white; 
  height: 50px;
}

.titulo_horaE { 
  position: relative; 
  float: left; 
  font-size: 19px; 
  font-weight: bold; 
  text-align: center; 
  color: rgb(0, 0, 0);
}

.subtitulo_horaE {
  font-size: 14px; 
  font-weight: bold; 
  padding-left: 5px; 
  padding-top: 25px; 
  padding-bottom: 25px; 
  text-align: justify;
}

#seccion_horaE { color: rgba(8, 10, 124, 0.828); }

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.scrollbar {
    float: left;
    height: 450px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; 
}

.progress {
  margin: 250px auto auto auto;
  opacity: 1
}

.pantalla-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffff;
  opacity: 0.8;
}

mat-progress-spinner {
  background: transparent;
  z-index: 100;
}