#TituloNotifi { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }

td { padding-top: 10px; text-align: center;  }

table { width: 100%; font-size: 14px; }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

#boton { background-color: rgb(40, 48, 59); color: white; margin-top: 10px;}

mat-form-field { padding: 10px 15px 0px 15px;}

mat-expansion-panel-header { text-align: center; background: rgb(52,65,84); }

mat-panel-title { color: white; }

mat-panel-description { color: white; }

mat-icon { color: white; }

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
    background: rgb(52,65,84);
}