<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloRegimen">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Registrar Régimen Laboral</span>
</div>
<br>
<!-- Formulario Completo -->
<form [formGroup]="RegimenForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Seleccionar Régimen Laboral</mat-label>
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Seleccionar uno de los Régimen establecidos">
                            help_outline</mat-icon>
                        <mat-select [formControl]="regimenF" [(ngModel)]="seleccionarRegimen" required>
                            <mat-option *ngFor="let rL of regimen" [value]="rL.nombre"
                                (click)="ActivarDescativarNombre(RegimenForm.value)">
                                {{rL.valor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Régimen Laboral</mat-label>
                        <input matInput placeholder="Nombre Régimen" [formControl]="descripcionF"
                            (keypress)="IngresarSoloLetras($event)" id="nombreR" style="visibility:hidden">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar un nuevo nombre de Régimen Laboral">
                            help_outline</mat-icon>
                        <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeErrorNombreRequerido()}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="anioAnti">Años considerados antiguedad</mat-label>
                        <input matInput placeholder="Ingresar años para antiguedad" [formControl]="anioAntiguedadF"
                            (keypress)="IngresarSoloNumeros($event)" required>
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Indicar el número de años que deben pasar para considerar antiguedad de un empleado">
                            help_outline</mat-icon>
                        <mat-error *ngIf="anioAntiguedadF.invalid">
                            {{ObtenerMensajeErrorAnioAntiguedadRequerido()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label id="anio">Vacaciones: Días por año</mat-label>
                        <input matInput placeholder="Días por año" [formControl]="diaAnioVacacionF"
                            (keypress)="IngresarSoloNumeros($event)" (click)="LimpiarMeses()" required>
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Indicar cuantos días de vacación se concederan al empleado al cumplir un año de servicio">
                            help_outline</mat-icon>
                        <mat-error *ngIf="diaAnioVacacionF.invalid">
                            {{ObtenerMensajeErrorCamposNumericosRequeridos()}}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <input style="margin-right: 10px;" type="checkbox" (click)="CalcularDiasMeses(RegimenForm.value)" id="activo" unchecked="false">
                    <label style="margin-right: 35px;"> Calcular días por mes</label>
                    <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                        matTooltip="Dar click para realizar cálculo de días de vacación por mes que se concederan al empleado al cumplir un año de servicio">
                        help_outline</mat-icon>
                    <mat-form-field>
                        <input  matInput placeholder="Vacación: Días por mes" [formControl]="diaMesVacacionF" readonly="readonly"
                            required>
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Días por mes de vacación que se concedera al empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label id="diasIncre">Días incremento-antiguedad</mat-label>
                        <input matInput placeholder="Días de incremento" [formControl]="diaIncrAntiguedadF" required
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Número de días que se incrementarán a los días de vacaciones que se le concederan al empleado al cumplir los años indicados de antiguedad">
                            help_outline</mat-icon>
                        <mat-error *ngIf="diaIncrAntiguedadF.invalid">
                            {{ObtenerMensajeErrorIncreAntiguedadRequerido()}}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="maxD">Máximo de días acumulables</mat-label>
                        <input matInput placeholder="Días acumulables" [formControl]="maxDiasAcumulacionF" required
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Número de días máximos de vacaciones que un empleado podrá acumular durante el tiempo que establesca la empresa">
                            help_outline</mat-icon>
                        <mat-error *ngIf="maxDiasAcumulacionF.invalid">
                            {{ObtenerMensajeErrorDiasAcumulablesRequerido()}}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="maxD">Fin de semana: días libres</mat-label>
                        <input matInput placeholder="Días libres" [formControl]="diaLibreAnioVacacionF"
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon id="iReg" matSuffix matTooltipClass="regimen-tooltip" matTooltipPosition="right"
                            matTooltip="Indicar cuantos días de fin de semana serán considerado dentro de los días de vacaciones que se le conceden a un empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<mat-card-actions style="text-align: center">
    <input type="submit" class="btn btn-sm" [disabled]="!RegimenForm.valid" (click)="InsertarRegimen(RegimenForm.value)"
        value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroRegimen()" value="Salir">
</mat-card-actions>