.btn { margin-left: 15px; border-radius: 25px; }
.mat-icon { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
mat-select { font-size: small; }
mat-form-field { font-size: small; }
mat-checkbox { font-size: small; }
label { font-size: small; }
#diasIncre { font-size: x-small; }
#anioAnti { font-size: x-small; }