<!--******************** LISTA DE SOLICITUDES DE HORAS EXTRAS PENDIENTES O PREAUTORIZADAS ********************-->
<br>
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_pedidos">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccion()" matSuffix
                matTooltipPosition="right" matTooltip="Autorizar a todos los empleados su Solicitud de Horas Extras"
                id="SelectCheck">library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitar" class="btn btn-primary" (click)="AutorizarHorasExtrasMultiple('pedido')"
                style="float: left; margin-left: 10px;">Autorizar</button>
            <span class="w-100 bd-highlight">
                Lista de todos las Horas Extras solicitadas por empleados</span>
            <button class="btn btn-sm" style="float: right; margin-right: 10px;" ngDefaultControl
                [(ngModel)]="totalHorasExtras" [ngModelOptions]="{standalone: true}">Horas Totales
                {{totalHorasExtras}}</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (change)="$event ? masterToggle() : null"
                                [checked]="selectionUno.hasValue() && isAllSelected()"
                                [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of horas_extras | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUno.toggle(h) : null" [checked]="selectionUno.isSelected(h)"
                                [aria-label]="checkboxLabel(h)">
                            </mat-checkbox>
                        </td>
                        <td>{{h.nombre}} {{h.apellido}}</td>
                        <td>{{h.estado}}</td>
                        <td>{{h.fec_solicita.split('T')[0]}}</td>
                        <td>{{h.descripcion}}</td>
                        <td>{{h.fec_inicio.split('T')[0]}}</td>
                        <td>{{h.fec_final.split('T')[0]}}</td>
                        <td>{{h.num_hora}}</td>
                        <td class="d-flex justify-content-center">
                            <a *ngIf="auto_individual" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado del documento de autorización"
                                [routerLink]="['/ver-hora-extra', h.id]">
                                <p>Autorizar</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <button class="btn btn-sm float-right" ngDefaultControl [(ngModel)]="horasSumadas"
                style="margin-right: 10px;" [ngModelOptions]="{standalone: true}">Sub-total Horas
                {{horasSumadas}}</button>
        </div>
        <br>
        <mat-paginator [length]="horas_extras.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" (click)="calcularHoraPaginacion()" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<!--************************** LISTA DE SOLICITUDES DE HORAS EXTRAS CON OBSERVACIONES **************************-->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_observacion">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccionObserva()" matSuffix
                matTooltipPosition="right" matTooltip="Autorizar a todos los empleados su Solicitud de Horas Extras"
                id="SelectCheck">library_add_check</mat-icon>
            <button *ngIf="btnCheckHabilitarObserva" class="btn btn-primary" (click)="AutorizarHorasExtrasMultiple('observacion')"
                style="float: left; margin-left: 10px;">Autorizar</button>
            <span class="w-100 bd-highlight">
                Lista de solicitudes de Horas Extras con observaciones</span>
            <button class="btn btn-sm" style="float: right; margin-right: 10px;" ngDefaultControl
                [(ngModel)]="total_horas_observacion" [ngModelOptions]="{standalone: true}">Horas Totales
                {{total_horas_observacion}}</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox *ngIf="btnCheckHabilitarObserva" (change)="$event ? masterToggleObserva() : null"
                                [checked]="selectionUnoObserva.hasValue() && isAllSelectedObserva()"
                                [indeterminate]="selectionUnoObserva.hasValue() && !isAllSelectedObserva()"
                                [aria-label]="checkboxLabelObserva()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of solicitudes_observacion | paginate:tamanio_pagina_observacion:numero_pagina_observacion">
                        <td>
                            <mat-checkbox *ngIf="btnCheckHabilitarObserva" (click)="$event.stopPropagation()"
                                (change)="$event ? selectionUnoObserva.toggle(h) : null" [checked]="selectionUnoObserva.isSelected(h)"
                                [aria-label]="checkboxLabelObserva(h)">
                            </mat-checkbox>
                        </td>
                        <td>{{h.nombre}} {{h.apellido}}</td>
                        <td>{{h.estado}}</td>
                        <td>{{h.fec_solicita.split('T')[0]}}</td>
                        <td>{{h.descripcion}}</td>
                        <td>{{h.fec_inicio.split('T')[0]}}</td>
                        <td>{{h.fec_final.split('T')[0]}}</td>
                        <td>{{h.num_hora}}</td>
                        <td class="d-flex justify-content-center">
                            <a *ngIf="observa_individual" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado del documento de autorización"
                                [routerLink]="['/ver-hora-extra', h.id]">
                                <p>Autorizar</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <button class="btn btn-sm float-right" ngDefaultControl [(ngModel)]="horasSumadas_observacion"
                style="margin-right: 10px;" [ngModelOptions]="{standalone: true}">Sub-total Horas
                {{horasSumadas_observacion}}</button>
        </div>
        <br>
        <mat-paginator [length]="solicitudes_observacion.length" [pageSize]="tamanio_pagina_observacion" [pageSizeOptions]="pageSizeOptions_observacion"
            id="estilo" (page)="ManejarPaginaObservacion($event)" (click)="calcularHoraPaginacionObservacion()" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<!--************************** LISTA DE SOLICITUDES DE HORAS EXTRAS AUTORIZADAS O NEGADAS *************************-->
<div class="container" style="padding-bottom: 50px; text-align: center;" *ngIf="lista_autorizacion">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="resultadosEmpre">
            <span class="w-100 bd-highlight">
                Lista de Horas Extras solicitadas Autorizadas o Negadas</span>
            <button class="btn btn-sm" style="float: right; margin-right: 10px;" ngDefaultControl
                [(ngModel)]="total_horas_autorizadas" [ngModelOptions]="{standalone: true}">Horas Totales Autorizadas
                {{total_horas_autorizadas}}</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Empleado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of pedido_hora_autoriza | paginate:tamanio_pagina_auto:numero_pagina_auto">
                        <td>{{h.nombre}} {{h.apellido}}</td>
                        <td>{{h.estado}}</td>
                        <td>{{h.fec_solicita.split('T')[0]}}</td>
                        <td>{{h.descripcion}}</td>
                        <td>{{h.fec_inicio.split('T')[0]}}</td>
                        <td>{{h.fec_final.split('T')[0]}}</td>
                        <td>{{h.tiempo_autorizado}}</td>
                        <td class="d-flex justify-content-center">
                            <a *ngIf="auto_individual" class="fas fa-file-alt"
                                style="color:rgb(197, 95, 11); margin-left: 15px;" matSuffix matTooltipPosition="right"
                                matTooltip="Cambiar el estado del documento de autorización"
                                [routerLink]="['/ver-hora-extra', h.id]">
                                <p>Documento</p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <mat-paginator [length]="pedido_hora_autoriza.length" [pageSize]="tamanio_pagina_auto" [pageSizeOptions]="pageSizeOptions_auto"
            id="estilo" (page)="ManejarPaginaAutorizadas($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>