<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
  <div class="row">
    <div class="col-sm"style="text-align: center;">
      <span class="text-titulo">Estadísticas Empleado</span>
    </div>
    <div class="col-sm" style="margin-top: 3px; text-align: center;">
      <span class="text-titulo-fecha">{{fecha}}</span>
    </div>
    <div class="col-sm d-flex justify-content-end">
      <button class="btn btn-primary btn-sm d-flex justify-content-center" (click)="RefrescarGraficas()">
        <mat-icon class="align-self-center" style="color: white; margin-right: 7px; font-size: 20px;" matTooltipPosition="right" 
          matTooltip="Presione aquí para actualizar los datos de las gráficas">cached</mat-icon>
        <span class="align-self-center">Actualizar</span>
      </button>
    </div>
  </div>
  <br>
  <div class="row">  
    <div class="d-flex justify-content-center flex-wrap">
      <button class="btn btn-lg d-flex justify-content-center boton-dos" (click)="MenuRapido(1)">
        <mat-icon class="icon-menu align-self-center">work</mat-icon>
        <span class="align-self-center">Horas Extras</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-tre" (click)="MenuRapido(2)">
        <mat-icon class="icon-menu align-self-center">flight_takeoff</mat-icon>
        <span class="align-self-center">Vacaciones</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-cua" (click)="MenuRapido(3)">
        <mat-icon class="icon-menu align-self-center">pan_tool</mat-icon>
        <span class="align-self-center">Permisos</span>
      </button>
      <button class="btn btn-lg d-flex justify-content-center boton-cin" (click)="MenuRapido(4)">
        <mat-icon class="icon-menu align-self-center">pending_actions</mat-icon>
        <span class="align-self-center">Atrasos</span>
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Horas Extras</b></h4>
          <a mat-button [routerLink]="['/macro/user/horas-extras']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="horas_extras"></div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Vacaciones</b></h4>
          <a mat-button [routerLink]="['/macro/user/vacaciones']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="vacaciones"></div>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Permisos</b></h4>
          <a mat-button [routerLink]="['/macro/user/permisos']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="permisos"></div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card mat-elevation-z8">
        <div class="d-flex bd-highlight">
          <h4 class="p-2 w-100 bd-highlight"><b>Atrasos</b></h4>
          <a mat-button [routerLink]="['/macro/user/atrasos']" class="p-2 flex-shrink-1 bd-highlight">
            <mat-icon matTooltipPosition="right" matTooltip="Ver más opciones de la gráfica"> open_in_full </mat-icon>
          </a>
        </div>
        <div echarts [options]="atrasos"></div>
      </mat-card>
    </div>
  </div>

</div>
    