<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div id="resulEmpleados">
                <span>Criterios de Búsqueda</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex justify-content-around">
                    <button mat-button type="submit" class="btn btn-sm" id="boton" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">Cancelar</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">LISTA DE EMPLEADOS CON PEDIDOS DE ACCIONES DE PERSONAL</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Código</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroCodigo" [formControl]="codigo"
                                    (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroApellido"
                                    [formControl]="apellido" type="text" (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field id="t-inputs">
                                <input matInput placeholder="Buscar" [(ngModel)]="filtroNombre" [formControl]="nombre"
                                    type="text" (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de datos de acuerdo a las columnas de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let a of listaPedidos | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido  | paginate:tamanio_pagina:numero_pagina">
                        <th scope="row">{{a.codigo}}</th>
                        <td>{{a.cedula}}</td>
                        <td>{{a.apellido}}</td>
                        <td>{{a.nombre}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipPosition="right" matTooltip="Ver datos generales de este registro."
                                class="fas fa-eye" id="t-ver" [routerLink]="['/verAccion/',a.id]">
                                <p>Ver</p>
                            </i>
                            <i class="fas fa-edit" id="t-editar" matSuffix matTooltipPosition="right"
                                matTooltip="Modificar los datos generales de este registro."
                                [routerLink]="['/editarPedido/',a.id]">
                                <p>Editar</p>
                            </i>
                            <i (click)="MostrarInformacion(a.id)" id="pdf" class="fas fa-file-pdf" matSuffix
                                matTooltipPosition="right"
                                matTooltip="Ver pedido de Acción de Personal en formato PDF.">
                                <p>PDF</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="listaPedidos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>