<button mat-mini-fab mat-icon-button [matMenuTriggerFor]="settings">
    <mat-icon id="iconos-navegador" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
        matTooltipPosition="right" matTooltip="Configuración correo y notificaciones">arrow_drop_down</mat-icon>
</button>
<mat-menu #settings="matMenu">
    <div>
        <h4 style="text-align: center;">Preferencias</h4>
    </div>
    <button mat-menu-item (click)="AbrirSettings()">
        <mat-icon>mark_email_unread</mat-icon>
        <span>Correo y notificaciones</span>
    </button>
    <button mat-menu-item (click)="AbrirAccionesTimbres()">
        <mat-icon>access_time</mat-icon>
        <span>Acciones de timbres</span>
    </button>
    <button mat-menu-item (click)="AbrirVentanaAyuda()">
        <mat-icon>contact_support</mat-icon>
        <span>Contactos Soporte Técnico</span>
    </button>
    <button mat-menu-item (click)="loginService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
    </button>
</mat-menu>