<mat-sidenav-container class="sidenav-container" id="style-1">

  <mat-sidenav #drawer class="sidenav mat-elevation-z15" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <div class="uno">
      <img src="../../../assets/imagenes/logo/logoAdmin.png" id="logo">
    </div>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" *ngIf="!mensaje">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="material-tree-node" >
          <ul *ngIf="!barraInicial"> 
            <a class="btn btn-sm btn-block" [ngClass]="{active: node.name == nombreSelect}"
              (click)="manejarEstadoActivo(node.name);" [routerLink]="[node.url]"
              style="text-align: left; color: rgb(17, 167, 236)">{{node.name}}</a>
          </ul>
          <ul *ngIf="barraUno"> 
            <a class="btn btn-sm btn-block" [ngClass]="{active: node.name == nombreSelect}"
              (click)="manejarEstadoActivo(node.name); drawer.toggle()" [routerLink]="[node.url]"
              style="text-align: left; color: rgb(17, 167, 236)">{{node.name}}</a>
          </ul>
        </li>
      </mat-tree-node>

      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li *ngIf="node.accion === true && node.estado">
          <button mat-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" 
            style="width: 100%; background: rgb(255, 255, 255)">
            <div class="tree-titulos d-flex bd-highlight">
              <div class="bd-highlight">
                <mat-icon mat-list-icon id="icono-menu">{{node.icono}}</mat-icon>
              </div>
              <div class="bd-highlight">
                <h5 class="name-uno">{{node.name}}</h5>
              </div>
              <div class="ml-auto bd-highlight">
                <mat-icon class="mat-icon-rtl-mirror" id="icono-despliega">
                  {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
                </mat-icon>
              </div>
            </div>
          </button>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            [style.padding]="treeControl.isExpanded(node) ? '20px 0px 20px 0px' : '0px 0px 0px 0px'">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>

    </mat-tree>



  </mat-sidenav>

  <mat-sidenav-content class="degradado">
    <mat-toolbar class="sticky-top">
      <!-- Primera barra normal -->
      <mat-toolbar-row *ngIf="!barraInicial">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <div id="avatar" *ngIf="mostrarImagen">
          <img src="{{urlImagen}}" alt="" id="avatarImagen">
        </div>
        <div id="avatar" *ngIf="mostrarIniciales">
          <span class="btn iniciales d-flex align-items-center justify-content-center">{{iniciales}}</span>
        </div>
        <div class="dos">
          <div class="card border-0" style="background-color: transparent; margin-top: auto;">
            <div class="card-body">
              <h3 class="card-title">{{UserName}}</h3>
              <p class="card-text" style="font-size: 13px;">{{UserEmail}}</p>
            </div>
          </div>
        </div>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" placeholder="Buscar Empleados" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" type="submit"
                (click)="abrirInfoEmpleado(option)">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <span class="example-spacer"></span>
        
        <!-- Botón Home -->
        <button mat-mini-fab style="margin-left: 10px; margin-right: 10px;" (click)="irHome()">
          <mat-icon id="iconos-navegador" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
          matTooltipPosition="right" matTooltip="Ir inicio">home</mat-icon>
        </button>

        <!-- Botón Timbres -->
        <button mat-mini-fab mat-icon-button [matMenuTriggerFor]="timbre" (click)="numeroTimbres()">
          <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoTimbres" matBadge="{{num_timbre_false}}"
            matBadgeColor="warn" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
            matTooltipPosition="right" matTooltip="Avisos Generales">report</mat-icon>
        </button>
        <mat-menu #timbre="matMenu" style="margin-right: 10px; height: 100px;">
          <div class="container" style="text-align: center;">
            <h4>Avisos</h4>
          </div>
          <div *ngIf="timbres_noti.message !== 'No se encuentran registros'">
            <div *ngFor="let n of timbres_noti">

              <!-- Avisos ya vistos -->
              <div *ngIf="n.visto == true " style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

              <!-- Forma de aviso para 'Te falta timbre de entrada' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de entrada'"
                style="background: rgba(255, 25, 25, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Te falta timbre de salida' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de salida'"
                style="background: rgba(255, 25, 25, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Salio antes al almuerzo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al almuerzo'"
                style="background: rgba(230, 16, 37, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Se tomo mucho tiempo de almuerzo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Se tomo mucho tiempo de almuerzo'"
                style="background: rgba(230, 16, 37, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Llego atrasado al trabajo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Llego atrasado al trabajo'"
                style="background: rgba(235, 89, 11, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Salio antes al trabajo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al trabajo'"
                style="background: rgba(235, 89, 11, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Mensaje de la planificacion -->
              <div *ngIf="n.visto == false && n.tipo === 1" style="background: rgba(17, 199, 151, 0.7)">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a type="submit" [routerLink]="['/lista-avisos']" class="mostrar-noti">
              Mostrar todos los avisos
            </a>
          </div>
        </mat-menu>

        <!-- Botón notificación -->
        <button mat-mini-fab mat-icon-button [matMenuTriggerFor]="menu" (click)="numeroNotificacion()">
          <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoNotificacion" matBadge="{{num_noti_false}}"
            matBadgeColor="warn" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
            matTooltipPosition="right" matTooltip="Notificaciones">notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" style="margin-right: 10px; height: 100px;">
          <div class="container" style="text-align: center;">
            <h4>Notificaciones</h4>
          </div>
          <div *ngIf="noti_real_time.text !== 'Registro no encontrado'">
            <div *ngFor="let n of noti_real_time">

              <!-- Notificaciones con estilo para la visualizacion de los ADMINISTRADORES CON VISTO Y NO VISTO, ademas personas q autorizan las solicitudes -->
              <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado un permiso</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado vacaciones</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado hora extra</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <div *ngIf="n.visto == false" style="background: rgb(240, 221, 77);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado un permiso</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado vacaciones</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado hora extra</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

              <!-- Notificaciones con estilo para la visualizacion de los EMPLEADOS CON VISTO Y NO VISTO, ademas personas q no autorizan-->
              <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <div *ngIf="n.visto == false" style="background: rgb(98, 192, 61);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="loginService.getEstado() == estado">
            <a type="submit" [routerLink]="['/lista-notificaciones']" class="mostrar-noti">
              Mostrar todas las notificaciones
            </a>
          </div>
        </mat-menu>
        <!-- Botón Configuraciones -->
        <button mat-mini-fab mat-icon-button [matMenuTriggerFor]="settings">
          <mat-icon id="iconos-navegador" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
          matTooltipPosition="right" matTooltip="Configuración correo y notificaciones">settings</mat-icon>
        </button>
        <mat-menu #settings="matMenu">
          <div>
            <h4 style="text-align: center;">Ajustes</h4>
          </div>
          <button mat-menu-item (click)="AbrirSettings()">
            <mat-icon>mark_email_unread</mat-icon>
            <span>Correo y notificaciones</span>
          </button>
        </mat-menu>
        <!-- Botón Ayuda -->
        <button mat-mini-fab style="margin-left: 10px;" (click)="AbrirVentanaAyuda()">
          <mat-icon id="iconos-navegador" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
          matTooltipPosition="right" matTooltip="Contactos Soporte Técnico">contact_support</mat-icon>
        </button>
        <!-- Botón Logout  -->
        <button mat-mini-fab style="margin-left: 10px;" (click)="loginService.logout()">
          <mat-icon class="fas fa-sign-out-alt" id="iconos-navegador" style="margin-left: 8px;" matSuffix matTooltipClass="permiso-tooltip"
          matTooltipPosition="right" matTooltip="Cerrar Sesión"></mat-icon>
        </button>

      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="barraUno" class="d-flex justify-content-between">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <div class="d-flex justify-content-center" style="margin-top: 18px;">
          <div id="avatar" *ngIf="mostrarImagen">
            <img src="{{urlImagen}}" alt="" id="avatarImagen">
          </div>
          <div id="avatar" *ngIf="mostrarIniciales">
            <span class="iniciales d-flex align-items-center justify-content-center"
              style="margin-top: 8px;">{{iniciales}}</span>
          </div>
          <div class="d-flex flex-column bd-highlight" style="margin-left: 19px; margin-top: 3px;">
            <h3 class="bd-highlight">{{UserName}}</h3>
            <p class="bd-highlight" style="font-size: 13px; margin-top: -10px;">{{UserEmail}}</p>
          </div>
        </div>
        <span class="example-spacer"></span>
        <!-- Botón Home -->
        <button mat-mini-fab style="margin-left: 10px" (click)="irHome()">
          <mat-icon id="iconos-navegador" style="margin-left: 8px;" matSuffix
          matTooltipPosition="right" matTooltip="Ir inicio">home</mat-icon>
        </button>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="colapsado">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #colapsado="matMenu">
            <!-- Botón Configuraciones -->
            <button mat-menu-item (click)="AbrirSettings()">
              <mat-icon>settings</mat-icon>
              <span>Ajustes</span>
            </button>
            <!-- Botón Logout  -->
            <button mat-menu-item (click)="loginService.logout()">
              <mat-icon class="fas fa-sign-out-alt"></mat-icon>
              <span>Salir</span>
            </button>
          </mat-menu>
        </div>

      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="barraDos" class="d-flex justify-content-start">

        <!-- Botón Timbres -->
        <button mat-mini-fab mat-icon-button [matMenuTriggerFor]="timbre" (click)="numeroTimbres()">
          <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoTimbres" matBadge="{{num_timbre_false}}"
            matBadgeColor="warn" style="margin-left: 8px;">report</mat-icon>
        </button>
        <mat-menu #timbre="matMenu" style="margin-right: 10px; height: 100px;">
          <div class="container" style="text-align: center;">
            <h4>Avisos</h4>
          </div>
          <div *ngIf="timbres_noti.message !== 'No se encuentran registros'">
            <div *ngFor="let n of timbres_noti">

              <!-- Avisos vistos -->
              <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226)">
                <a mat-menu-item type="submit" class="noti_menu">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Te falta timbre de entrada' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de entrada'"
                style="background: rgba(255, 25, 25, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Te falta timbre de salida' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Te falta timbre de salida'"
                style="background: rgba(255, 25, 25, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Salio antes al almuerzo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al almuerzo'"
                style="background: rgba(230, 16, 37, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Se tomo mucho tiempo de almuerzo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Se tomo mucho tiempo de almuerzo'"
                style="background: rgba(230, 16, 37, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Llego atrasado al trabajo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Llego atrasado al trabajo'"
                style="background: rgba(235, 89, 11, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Forma de aviso para 'Salio antes al trabajo' -->
              <div *ngIf="n.visto == false && n.descripcion === 'Salio antes al trabajo'"
                style="background: rgba(235, 89, 11, 0.7);">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <!-- Mensaje de la planificacion -->
              <div *ngIf="n.visto == false && n.tipo === 1" style="background: rgba(17, 199, 151, 0.7)">
                <a mat-menu-item type="submit" class="noti_menu" (click)="CambiarVistaTimbres(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.empleado}}</b></li>
                    <li style="font-size: 13px; margin-top: -13%;"><b>{{n.descripcion}}</b></li>
                    <li style="font-size: 11px; margin-top: -13%;">
                      <b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b> {{n.create_at.slice(11,16)}}
                    </li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a type="submit" [routerLink]="['/lista-avisos']" class="mostrar-noti">
              Mostrar todos los avisos
            </a>
          </div>
        </mat-menu>

        <!-- Botón notificación -->
        <button mat-mini-fab mat-icon-button [matMenuTriggerFor]="menu" (click)="numeroNotificacion()">
          <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoNotificacion" matBadge="{{num_noti_false}}"
            matBadgeColor="warn" style="margin-left: 8px;">notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" style="margin-right: 10px; height: 100px;">
          <div class="container" style="text-align: center;">
            <h4>Notificaciones</h4>
          </div>
          <div *ngIf="noti_real_time.text !== 'Registro no encontrado'">
            <div *ngFor="let n of noti_real_time">

              <!-- Notificaciones con estilo para la visualizacion de los ADMINISTRADORES CON VISTO Y NO VISTO, ademas personas q autorizan las solicitudes -->
              <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado un permiso</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado vacaciones</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado hora extra</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <div *ngIf="n.visto == false" style="background: rgb(240, 221, 77);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado un permiso</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado vacaciones</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                      solicitado hora extra</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

              <!-- Notificaciones con estilo para la visualizacion de los EMPLEADOS CON VISTO Y NO VISTO, ademas personas q no autorizan-->
              <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>
              <div *ngIf="n.visto == false" style="background: rgb(98, 192, 61);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                  mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                  [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                  [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                  (click)="CambiarVistaNotificacion(n.id)">
                  <ul style="list-style: none; margin-left: -15%;">
                    <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> cambio
                      estado de la</li>
                    <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                    <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                      <b>Hora:</b>
                      {{n.create_at.slice(11,16)}}</li>
                  </ul>
                  <mat-divider class="divider"></mat-divider>
                </a>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="loginService.getEstado() == estado">
            <a type="submit" [routerLink]="['/lista-notificaciones']" class="mostrar-noti">
              Mostrar todas las notificaciones
            </a>
          </div>
        </mat-menu>
        <form class="example-form">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" placeholder="Buscar" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-toolbar-row>

    </mat-toolbar>

    <div class="container">
      <div class="row" *ngIf="mensaje">
        <div class="col mensaje-alerta">
            <span style="color: white; font-size: 20px;">Primero debe agregar un logotipo y los colores del reporte para descargar en PDFs</span>
            <a type="buttom" class="btn btn-sm" id="botones" (click)="IrInfoEmpresa()">Configuración</a>
        </div>
      </div>
      <router-outlet></router-outlet>

      <div class="pantalla-progress" *ngIf="recargar">
        <mat-progress-spinner
            class="progress"
            [color]="color"
            [mode]="mode"
            [value]="value">
        </mat-progress-spinner>
      </div>

    </div>

    <!-- <app-footer></app-footer> -->

  </mat-sidenav-content>

</mat-sidenav-container>