#logo { width: 52%; background: white; margin-top: 10px; margin-bottom: 10px;}

/* .avatar {background-color: rgb(126, 126, 126); border-radius: 100%; margin-top: 10px; margin-bottom: 10px;} */
#avatar { border-radius: 100%; height: 45px; width: 45px; background-color: rgb(126, 126, 126); margin-left: 10px; margin-top: 6px;}

#avatarImagen { border-radius: 100%; height: 45px; width: 45px;}

.iniciales {color: white; font-weight: bold; font-size: 20px; margin-bottom: 10px;}

.uno {background: white; margin-bottom: 15px; text-align: center;}

.dos {background: transparent; text-align: left; margin-top: 10px;}

.sidenav-container { height: 100%; background-color: rgb(255, 255, 255);}

.sidenav { width: 250px; background: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, rgba(26,104,148,0.9612219887955182) 45%, rgba(116,177,249,0.9304096638655462) 100%); */
}

#iconos-navegador { color: rgb(232, 238, 243); }

.item-menu { color: rgb(189, 189, 189); font-size: 17px; }

.color-icon { color: rgb(189, 189, 189); }

mat-toolbar { background: rgb(255, 255, 255); }

.degradado{
  background: rgb(232,232,232);
  background: radial-gradient(circle, rgba(232,232,232,0.8883928571428571) 0%, rgba(249,249,249,1) 100%);
}

.full-width { width: 100%;}

.menu-button { transition: 300ms ease-in-out; transform: rotate(0deg);}

.menu-button.rotated { transform: rotate(180deg);}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded { transform: scaleY(1);}

.example-spacer { flex: 1 1 auto;}

.header-expand{ background-color: rgb(255, 255, 255); }

.acordeon{ margin-top: 10px;}

.menus{ background-color: transparent}

mat-icon { margin-right: 8px;}

.mat-card-avatar { height: 40px; width: 40px; border-radius: 50%; flex-shrink: 0; object-fit: cover; margin-top: auto;}

mat-expansion-panel-header{ background: transparent; }

.mat-expansion-panel-header.mat-expanded.selec10:hover {
  background: rgba(112, 11, 228, 0.739);
}

.mat-expansion-panel-header.mat-expanded.selec10:focus {
  border-radius: 25px;
  background: rgba(112, 11, 228, 0.739);
  /* background: linear-gradient(90deg, rgba(240,239,242,1) 5%, rgba(171,205,29,0.9108018207282913) 97%); */
}

.mat-list-item:hover{ background: rgb(26, 115, 199); }

a.mat-list-item.texcol:active{background: rgb(26, 115, 199); }

mat-form-field { height: 10px; }

.example-form { min-width: 50px; max-width: 300px; width: 100%; font-size: 15px; }

.example-full-width { width: 100%; }

.card-text {margin-top: -10px; }

#accion { font-size: 16px;}

a.mat-menu-item {
  width: 210%;
  height: 100%;
}

.noti_menu {
  text-decoration: none;
}

a.mat-menu-item.noti_menu:hover {color: rgba(17, 113, 192, 0.952); background: rgba(236, 236, 236, 0.643);}

.divider {
  margin-top: -7%; margin-left: -25%; width: 150%;
}

.mostrar-noti {
  padding-top: 5px;
  color: #000;
  text-decoration: none;
}

.mostrar-noti:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
  text-decoration: none;
}

mat-tree {
  background: transparent;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node {
  margin-top: -17px;
  margin-bottom: -17px;
}

.material-tree-node {
  background: transparent;
  margin-left: 20px;
  border-left: 3px solid rgb(131, 131, 131);
  width: 100%;
}

.btn:focus, .btn-sm:focus .btn-block:focus {
  outline: none;
  box-shadow: none;
}

.active{
  color: rgb(255, 255, 255);
  margin-left: -30px;
  border-radius: 25px;
  width: 100%;
  background: rgba(191, 191, 191, 0.739);
  outline: none;
  box-shadow: none;
}

.btn-sm{
  margin-left: -30px;
  width: 100%;
}

.texcol{ color: aliceblue; font-size: 14px; text-align: left;}

#icono-menu{ margin: 8px 0px 0px 10px; color: rgb(40, 40, 40) }

#icono-despliega{ color:  rgb(40, 40, 40) }

.name-uno{ margin: 10px 0px 0px 10px; color: rgb(40, 40, 40); font-size: 18px }

#botones { background-color: rgb(80,87,97); color: white; margin: 10px 10px 10px 10px; }

.mensaje-alerta { background-color: rgb(110, 1, 1); margin: 15px; border-radius: 25px; text-align: center;}