<mat-sidenav-container class="sidenav-container" id="style-1">

  <mat-sidenav #drawer class="sidenav mat-elevation-z15" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <div class="uno">
      <img src="../../../assets/imagenes/logo/logoAdmin.png" id="logo">
    </div>

    <!-- lista de opcines del menu -->

    <mat-accordion>
      <!-- administración -->
      <mat-expansion-panel class="menus acordeon">
        <mat-expansion-panel-header class="selec1">
          <mat-panel-title>
            <mat-icon mat-list-icon class="color-icon">dashboard</mat-icon>
            <span class="item-menu">Administración</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/home']" class="texcol">
            <span matLine>Home</span>
          </a>
          <a mat-list-item [routerLink]="['/roles']" class="texcol">
            <span matLine>Crear Rol</span>
          </a>
          <a mat-list-item [routerLink]="['/listarFeriados']" class="texcol">
            <span matLine>Crear Feriados</span>
          </a>
          <a mat-list-item [routerLink]="['/listarRegimen']" class="texcol">
            <span matLine>Crear Régimen Laboral</span>
          </a>
          <a mat-list-item [routerLink]="['/titulos']" class="texcol">
            <span matLine>Crear Título Profesional</span>
          </a>
          <a mat-list-item [routerLink]="['/nivelTitulos']" class="texcol">
            <span matLine>Crear Nivel de Educación</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- Empleado -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec2">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">account_circle</mat-icon>
            <span class="item-menu">Empleado</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/empleado']" class="texcol">
            <span matLine>Crear Empleado</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Almuerzo -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec3">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">local_dining</mat-icon>
            <span class="item-menu">Almuerzo</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/listarTipoComidas']" class="texcol">
            <span matLine>Tipo de Comidas</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Ubicación -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec5">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon"> location_on</mat-icon>
            <span class="item-menu">Ubicación</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/provincia']" class="texcol">
            <span matLine>Registrar Provincia</span>
          </a>
          <a mat-list-item [routerLink]="['/listarCiudades']" class="texcol">
            <span matLine>Registrar Ciudad</span>
          </a>
          <a mat-list-item [routerLink]="['/empresa']" class="texcol">
            <span matLine>Registrar Empresa</span>
          </a>
          <a mat-list-item [routerLink]="['/sucursales']" class="texcol">
            <span matLine>Registrar Sucursal</span>
          </a>
          <a mat-list-item [routerLink]="['/departamento']" class="texcol">
            <span matLine>Crear Departamento</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Descarga -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec2">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">notifications</mat-icon>
            <span class="item-menu">Notificaciones</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/notificaciones']" class="texcol">
            <span matLine>Notificaciones</span>
          </a>
          <a mat-list-item [routerLink]="['/tipoPermisos']" class="texcol">
            <span matLine>Configurar Permisos</span>
          </a>
          <a mat-list-item [routerLink]="['/noti-autorizaciones']" class="texcol">
            <span matLine>Noti Autorizaciones</span>
          </a>
          <a mat-list-item [routerLink]="['/autorizaciones']" class="texcol">
            <span matLine>Autorizaciones</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Dispositivos -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec6">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">schedule</mat-icon>
            <span class="item-menu">Dispositivos</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/enrolados']" class="texcol">
            <span matLine>Enrolar Empleado</span>
          </a>
          <a mat-list-item [routerLink]="['/listarRelojes']" class="texcol">
            <span matLine>Registrar Dispositivo</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Horarios -->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec7">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">assignment</mat-icon>
            <span class="item-menu">Horarios</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/horario']" class="texcol">
            <span matLine>Crear Horario</span>
          </a>
          <a mat-list-item [routerLink]="['/horasExtras']" class="texcol">
            <span matLine>Configurar Horas Extras</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Acciones de Personal-->
      <mat-expansion-panel class="menus">
        <mat-expansion-panel-header class="selec8">
          <mat-panel-title class="item">
            <mat-icon mat-list-icon class="color-icon">how_to_reg</mat-icon>
            <span class="item-menu" id="accion">Acción de Personal</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/proceso']" class="texcol">
            <span matLine>Crear Proceso</span>
          </a>
          <a mat-list-item [routerLink]="['/datosEmpleado']" class="texcol">
            <span matLine>Datos Empleado</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content class="degradado">
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

        <div id="avatar" *ngIf="mostrarImagen">
          <img src="{{urlImagen}}" alt="" id="avatarImagen">
        </div>
        <div id="avatar" *ngIf="mostrarIniciales">
          <span class="btn iniciales d-flex align-items-center justify-content-center">{{iniciales}}</span>
        </div>

      <div class="dos">
        <div class="card border-0" style="background-color: transparent; margin-top: auto;">
          <div class="card-body">
            <h3 class="card-title">{{UserName}}</h3>
            <p class="card-text" style="font-size: 13px;">{{UserEmail}}</p>
          </div>
        </div>
      </div>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" placeholder="Buscar" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <!-- <span class="example-spacer">{{pestania}}</span> -->
      <span class="example-spacer"></span>
      <!-- <mat-icon>notifications</mat-icon>
            <mat-icon>notifications_active</mat-icon>
            <mat-icon>notifications_none</mat-icon>
            <mat-icon>notifications_off</mat-icon>
            <mat-icon>notifications_paused</mat-icon> -->
      <button mat-mini-fab>
        <mat-icon id="iconos-navegador" aria-hidden="false" matBadge="15" matBadgeColor="warn"
          style="margin-left: 8px;">person
        </mat-icon>
      </button>
      <button mat-mini-fab style="margin-left: 10px;" (click)="loginService.logout()">
        <mat-icon class="fas fa-sign-out-alt" id="iconos-navegador" style="margin-left: 8px;"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
  <app-footer></app-footer>

</mat-sidenav-container>