.example-match { margin: 0 15px; }
.btn { margin-left: 15px; border-radius: 25px; }
.mat-icon { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
.label-theme { font-size: 15px; }
#hora { font-size: x-small; }