<div class="d-flex bd-highlight tituloHorarioR">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Registrar Horario</h5>
</div>
<div style="text-align: center">
    <!-- Formulario Completo -->
    <div class="container">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón Guardar.</span>
        </div>
        <span class="nota">Desea subir un archivo (opcional) </span>
        <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
        <br>
        <form [formGroup]="nuevoHorarioForm">
            <div class="d-flex flex-wrap justify-content-between">
                <mat-form-field>
                    <mat-label>Nombre de Horario</mat-label>
                    <input matInput placeholder="Ej: Contabilidad" [formControl]="nombre" required>
                    <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                        matTooltip="Indicar un nombre con el cual se va a identificar al nuevo horario">
                        help_outline</mat-icon>
                    <mat-error *ngIf="nombre.invalid">{{ObtenerMensajeErrorNombre()}}</mat-error>
                    <mat-error *ngIf="nombre.invalid">Ingresar un nombre válido</mat-error>
                    <br>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Minutos de almuerzo</mat-label>
                    <input type="number" matInput placeholder="Ej: 60" [formControl]="minAlmuerzo"
                        (keypress)="IngresarSoloNumerosEnteros($event)">
                    <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                        matTooltip="Indicar los minutos de almuerzo que se disponen para el nuevo horario">
                        help_outline</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Horas de Trabajo</mat-label>
                    <input matInput placeholder="Ej: 8:10 " [formControl]="horaTrabajo" required
                        (keypress)="IngresarNumeroDecimal($event)">
                    <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                        matTooltip="Indicar el número de horas de trabajo. 
                        En caso de que sean horas y minutos ingresar de esta manera 10 : 35">
                        help_outline</mat-icon>
                    <mat-error id="hora" *ngIf="nombre.invalid">{{ObtenerMensajeErrorHoraTrabajo()}}</mat-error>
                </mat-form-field>
                <mat-radio-group aria-label="Select an option" [formControl]="flexible" required>
                    <label class="d-flex justify-content-around">
                        <span>Horario Flexible *</span>
                        <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip"
                            matTooltipPosition="right"
                            matTooltip="El horario flexible indica que se controlará entrada y salida">
                            help_outline</mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button value="true">Si</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" [formControl]="porHoras" required>
                    <label class="d-flex justify-content-around">
                        <span>Horario por Horas *</span>
                        <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip"
                            matTooltipPosition="right"
                            matTooltip="El horario por horas indica que se labora en un rango de horas">
                            help_outline</mat-icon>
                    </label>
                    <div class="d-flex justify-content-around">
                        <mat-radio-button value="true">Si</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </div>
                </mat-radio-group>
                <div *ngIf="isChecked">
                    <div class="container">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data">
                                <input (change)="fileChange($event)" type="file" [formControl]="archivoForm"
                                    id="file">
                                <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" id="iHor" matSuffix
                                    matTooltipClass="horario-tooltip" matTooltipPosition="right"
                                    matTooltip="Subir documento que respalde la creación de horario, solo en caso de ser necesario como un respaldo de cambios en el horario.">Subir
                                    Documento</label>
                            </form>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Ningún archivo seleccionado" class="form-control"
                                style="width: 230px;" [formControl]="nombreCertificadoF">
                        </div>
                        <br>
                        <div class="row" *ngIf="HabilitarBtn">
                            <button class="btn btn-sm" type="submit" (click)="deseleccionarArchivo()">Quitar Documento</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <input type="submit" class="btn btn-sm" [disabled]="!nuevoHorarioForm.valid"
            (click)="InsertarHorario(nuevoHorarioForm.value)" value="Guardar">
        <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroHorario()" value="Salir">
    </div>
</div>