<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloHorarioR">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Registrar Horario</span>
</div>
<br>
<div style="text-align: center">
    <!-- Formulario Completo -->
    <form [formGroup]="nuevoHorarioForm">
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Nombre de Horario</mat-label>
                            <input matInput placeholder="Ej: Contabilidad" [formControl]="nombre" required>
                            <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar un nombre con el cual se va a identificar al nuevo horario">
                                help_outline</mat-icon>
                            <mat-error *ngIf="nombre.invalid">{{ObtenerMensajeErrorNombre()}}</mat-error>
                            <mat-error *ngIf="nombre.invalid">Ingresar un nombre válido</mat-error>
                            <br>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Minutos de almuerzo</mat-label>
                            <input type="number" matInput placeholder="Ej: 60" [formControl]="minAlmuerzo"
                                (keypress)="IngresarSoloNumerosEnteros($event)">
                            <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar los minutos de almuerzo que se disponen para el nuevo horario">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Horas de Trabajo</mat-label>
                            <input matInput placeholder="Ej: 8:10 " [formControl]="horaTrabajo" required
                                (keypress)="IngresarNumeroDecimal($event)">
                            <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar el número de horas de trabajo. 
                                En caso de que sean horas y minutos ingresar de esta manera 10 : 35">
                                help_outline</mat-icon>
                            <mat-error id="hora" *ngIf="nombre.invalid">{{ObtenerMensajeErrorHoraTrabajo()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <label style="margin-right: 95px;">Horario Flexible *</label>
                        <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                            matTooltip="El horario flexible indica que se controlará entrada y salida">
                            help_outline</mat-icon>
                        <section>
                            <mat-radio-group required aria-label="select an option" [formControl]="flexible" required
                                [value]="flexible.value">
                                <mat-radio-button class="example-match" value="true">Si </mat-radio-button>
                                <mat-radio-button class="example-match" value="false">No </mat-radio-button>
                            </mat-radio-group>
                        </section>
                        <br>
                        <label style="margin-right: 76px;">Horario por Horas *</label>
                        <mat-icon id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                            matTooltip="El horario por horas indica que se labora en un rango de horas">
                            help_outline</mat-icon>
                        <section>
                            <mat-radio-group aria-label="Select an option" [formControl]="porHoras"
                                [value]="porHoras.value">
                                <mat-radio-button class="example-match" value="true">Si</mat-radio-button>
                                <mat-radio-button class="example-match" value="false">No</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <form method="post" enctype="multipart/form-data">
                                    <input (change)="fileChange($event)" type="file" [formControl]="archivoForm"
                                        id="file">
                                    <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" id="iHor" matSuffix matTooltipClass="horario-tooltip" matTooltipPosition="right"
                                    matTooltip="Subir documento que respalde la creación de horario, solo en caso de ser necesario como un respaldo de cambios en el horario.">Subir
                                        Documento</label>
                                </form>
                            </div>
                            <div class="row">
                                <input type="text" placeholder="Ningún archivo seleccionado" class="form-control"
                                    style="width: 230px;" [formControl]="nombreCertificadoF">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!nuevoHorarioForm.valid"
            (click)="InsertarHorario(nuevoHorarioForm.value)" value="Guardar">
        <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroHorario()" value="Salir">
    </mat-card-actions>
</div>