.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;} 

.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

mat-radio-group { width: 250px; padding: 15px 20px 15px 20x; margin-bottom: 10px;}

.label-theme { font-size: 15px; }

#hora { font-size: x-small; }

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.tituloHorarioR { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px;
}


#iHor { cursor: pointer; }

/*.horario-tooltip { background-color : rgb(10, 2, 114); }*/

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label.btn-2 {
    background-color: rgb(150, 243, 141);
    overflow: hidden;
}

[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    margin-left: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

[type="file"] + label.btn-2:hover {
    background-color: rgb(21, 130, 1);
}

[type="file"] + label.btn-2:hover::before {
    right: 80%
}

.progress {
    margin: 250px auto auto auto;
    opacity: 1
}

.pantalla-progress {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffff;
    opacity: 0.8;
}

mat-progress-spinner {
    background: transparent;
    z-index: 100;
}