<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTitulo">
            <span>Añadir Acción de Personal</span>
        </div>
        <br>
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <form [formGroup]="AccionPersonalForm">
            <div class="row">
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-around">
                        <mat-form-field>
                            <mat-label id="letra">Número Partida Presupuestaria</mat-label>
                            <input id="numero" matInput placeholder="13369689656312" formControlName="numPartidaForm"
                                required (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right" matTooltip="Ingresar número de partida presupuestaria">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha Realización</mat-label>
                            <input matInput [matDatepicker]="pickerF" placeholder="dd/mm/aaaa" [formControl]="fechaF"
                                min="1950-01-31" max="2050-01-31" required [disabled]="true">
                            <mat-datepicker-toggle matSuffix [for]="pickerF" id="planComida"
                                matTooltipClass="permiso-tooltip" matTooltipPosition="right"
                                matTooltip="Fecha en la que se realiza el registro de ingreso de acción de personal">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerF></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" placeholder="Empleado" aria-label="Number" matInput
                                [formControl]="idEmpleadoF" [matAutocomplete]="auto1" [(ngModel)]="seleccionarEmpleados"
                                required>
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let option of filtroNombre | async" [value]="option.empleado">
                                    {{option.empleado.toUpperCase()}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-icon id="sucursalR" matSuffix matTooltipClass="sucursalR-tooltip"
                                matTooltipPosition="right" matTooltip="Colaboradores registrados en el sistema.">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Rige Desde</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                formControlName="fechaDesdeForm" required>
                            <mat-datepicker-toggle matSuffix [for]="picker" id="planComida"
                                matTooltipClass="planComida-tooltip" matTooltipPosition="right"
                                matTooltip="Ingresar fecha en la que rige el proceso acción de personal. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Rige Hasta</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                formControlName="fechaHastaForm">
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="planComida"
                                matTooltipClass="planComida-tooltip" matTooltipPosition="right"
                                matTooltip="Ingresar fecha en la finaliza el proceso acción de personal. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label id="letra">Tipo de acción</mat-label>
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Lista de tipos de acción de personal registrados en el sistema.">
                                help_outline</mat-icon>
                            <mat-select formControlName="accionForm" required>
                                <mat-option *ngFor="let ta of tipos_accion" [value]="ta.id">
                                    {{ta.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label id="letra">Identificación acción de personal</mat-label>
                            <input matInput placeholder="HU-001" formControlName="identificacionForm" required>
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Ingresar un identificador del registro de acción de personal">
                                help_outline</mat-icon>
                            <mat-error *ngIf="identificacionF.invalid">Ingresar un identificador válido</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Adición a base legal</mat-label>
                            <input matInput placeholder="" formControlName="baseForm"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Ingresar una descripción adicional a la base legal">
                                help_outline</mat-icon>
                            <mat-error *ngIf="baseF.invalid">Ingrese una información válida</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex flex-wrap justify-content-around">
                        <mat-form-field>
                            <mat-label id="letra">Descripción de la partida propuesta</mat-label>
                            <input matInput placeholder="" formControlName="descripcionForm"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Ingresar una descripción de la partida propuesta">
                                help_outline</mat-icon>
                            <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeErrorDescripcion()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field *ngIf="vistaAcuerdo">
                            <mat-label id="letra">Seleccionar decreto, acuerdo o resolución</mat-label>
                            <mat-icon id="planComida" matSuffix matTooltipPosition="right"
                                matTooltipClass="departamento-tooltip"
                                matTooltip="Seleccione una de las opciones de la lista.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="tipoDecretoF">
                                <mat-option *ngFor="let d of decretos" [value]="d.id"
                                    (click)="IngresarOtro(AccionPersonalForm.value)">
                                    {{d.descripcion.toUpperCase()}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="ingresoAcuerdo">
                            <mat-label>Ingresar opción</mat-label>
                            <input matInput placeholder="Ej: Decreto" [formControl]="otroDecretoF" [ngStyle]="estilo">
                            <mat-icon id="planComida" matSuffix matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right" matTooltip="Regresar a la lista de opciones existentes"
                                (click)="VerDecretos()">
                                help_outline</mat-icon>
                            <mat-error *ngIf="otroDecretoF.invalid">Ingresar un nombre válido</mat-error>
                        </mat-form-field>
                        <mat-form-field *ngIf="vistaCargo">
                            <mat-label id="letra">Cargo/Puesto propuesto</mat-label>
                            <mat-icon id="planComida" matSuffix matTooltipPosition="right"
                                matTooltipClass="departamento-tooltip"
                                matTooltip="Seleccionar el cargo o puesto que se encuentra propuesto.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="tipoCargoF">
                                <mat-option *ngFor="let c of cargos" [value]="c.id"
                                    (click)="IngresarCargo(AccionPersonalForm.value)">
                                    {{c.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="ingresoCargo">
                            <mat-label>Ingresar cargo</mat-label>
                            <input matInput placeholder="Ej: Laboratorista" [formControl]="otroCargoF"
                                [ngStyle]="estiloC">
                            <mat-icon id="planComida" matSuffix matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right" matTooltip="Regresar a la lista de opciones existentes"
                                (click)="VerCargos()">
                                help_outline</mat-icon>
                            <mat-error *ngIf="otroCargoF.invalid">Ingresar un nombre válido</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label id="letra">Proceso propuesto</mat-label>
                            <mat-icon id="planComida" matSuffix matTooltipPosition="right"
                                matTooltipClass="departamento-tooltip"
                                matTooltip="Seleccionar el proceso que se encuentra propuesto.">
                                help_outline
                            </mat-icon>
                            <mat-select [formControl]="tipoProcesoF">
                                <mat-option *ngFor="let p of procesos" [value]="p.id">
                                    {{p.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label id="letra">Número Partida Propuesta</mat-label>
                            <input id="numero" matInput placeholder="13369689656312" formControlName="numPropuestaForm"
                                (keypress)="IngresarSoloNumeros($event)">
                            <mat-icon id="planComida" matSuffix matTooltipClass="planComida-tooltip"
                                matTooltipPosition="right" matTooltip="Ingresar número de partida propuesta">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Salario Propuesto</mat-label>
                            <input matInput [formControl]="sueldoF" style="text-align: right;"
                                (keypress)="IngresarSoloNumeros($event)">
                            <span matPrefix>$&nbsp;</span>
                            <span matSuffix>.00</span>
                            <mat-icon id="planComida" matSuffix matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right" matTooltip="Indicar cual es el salario propuesto">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md">
                                <mat-form-field id="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevHF">
                                </mat-form-field>
                                <mat-form-field id="nombre">
                                    <input type="text" placeholder="Firma Talento Humano" aria-label="Number" matInput
                                        [formControl]="idEmpleadoHF" [matAutocomplete]="auto2"
                                        [(ngModel)]="seleccionEmpleadoH" required>
                                    <mat-autocomplete #auto2="matAutocomplete">
                                        <mat-option *ngFor="let th of filtroNombreH | async" [value]="th.empleado">
                                            {{th.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="sucursalR" matSuffix matTooltipClass="sucursalR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <mat-form-field id="abrv">
                                    <input type="text" placeholder="ING." matInput [formControl]="abrevGF">
                                </mat-form-field>
                                <mat-form-field id="nombre">
                                    <input type="text" placeholder="Firma Gerente" aria-label="Number" matInput
                                        [formControl]="idEmpleadoGF" [matAutocomplete]="auto3"
                                        [(ngModel)]="seleccionEmpleadoG" required>
                                    <mat-autocomplete #auto3="matAutocomplete">
                                        <mat-option *ngFor="let g of filtroNombreG | async" [value]="g.empleado">
                                            {{g.empleado.toUpperCase()}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-icon id="sucursalR" matSuffix matTooltipClass="sucursalR-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Colaboradores registrados en el sistema.">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="text-align: center;">
            <input type="submit" class="btn btn-sm" (click)="InsertarAccionPersonal(AccionPersonalForm.value)"
                [disabled]="!AccionPersonalForm.valid" value="Guardar">
            <input type="submit" class="btn btn-sm" [routerLink]="['/listaPedidos/']" value="Cancelar">
        </div>
    </mat-card>
</div>