.btn { border-radius: 25px; margin-left: 15px; margin-top: 15px;}
td { padding-top: 10px; text-align: center; } 
.fas { color:green; margin-left: 20px; }
.far { color:red; }
.tituloL-tooltip { background: #4622aa; }
#itituloL { color:#4622aa; font-size: 18px; }
.tituloRegistro { 
    font-size: 20px; 
    text-align: center; 
    background: #4622aa; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px;
    padding-bottom: 6px; 
}
#resulTitulos { 
    font-size: 17px; 
    text-align: center; 
    background: #4622aa; 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

