<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md">
            <div class="tituloRegistro">
                <span>TÍTULOS PROFESIONALES</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <div class="d-flex flex-wrap justify-content-center">
                    <button mat-button type="submit" class="btn btn-sm" (click)="AbrirVentanaRegistrarTitulo()">Crear
                        Título Profesional
                    </button>
                    <button mat-button type="submit" class="btn btn-sm" (click)="LimpiarCampos()" matSuffix
                        matTooltipPosition="right"
                        matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulTitulos">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Nombre</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Buscar" [formControl]="nombreF"
                                    [(ngModel)]="filtradoNombre" (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Buscar" [formControl]="nivelF" [(ngModel)]="filtradoNivel"
                                    (keypress)="IngresarSoloLetras($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon id="i-ayuda" matSuffix matTooltipPosition="right"
                                matTooltip="Búsqueda de títulos profesionales de acuerdo a cada columna de la tabla.">
                                help_outline</mat-icon>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let t of verTitulos | filtrosNombres: filtradoNombre | fitroNivel: filtradoNivel | paginate:tamanio_pagina:numero_pagina">
                        <td>{{t.nombre}}</td>
                        <td>{{t.nivel}}</td>
                        <td class="d-flex justify-content-center">
                            <i class="fas fa-edit" (click)=AbrirVentanaEditarTitulo(t) matSuffix
                                matTooltipPosition="right" matTooltip="Editar los datos generales de este registro."
                                id="t-editar">
                                <p>Editar</p>
                            </i>
                            <i (click)="ConfirmarDelete(t)" class="far fa-trash-alt" id="t-eliminar" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar este registro.">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="verTitulos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato PDF.">
                <p>PDF</p>
            </i>
            <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato EXCEL.">
                <p>XLSL</p>
            </i>
            <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato CSV.">
                <p>CSV</p>
            </i>
            <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltip="Descargar Lista de Títulos en formato XML.">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>