mat-form-field { padding: 5px 15px 0px 15px;}

.parametros_styles { width: 175px;}

#resulEmpleados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

#boton { background-color: rgb(80,87,97); color: white; margin-top: 10px;}