<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-5">
            <app-rango-fechas></app-rango-fechas>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title>
                        Rango Semaforización
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight i-barra" matTooltipPosition="right"
                        matTooltip="
                        Mínimo Puntualidades: n días que se considera al empleado poco puntual. Significa que el empleado tienen más atrasos que llegadas puntuales.
                        Máximo Puntualidades: n días que se considera al empleado muy puntual y puede o no tener atrasos, en caso de tenerlos serán muy pocos.
                        ">help_outline</mat-icon>
                    </mat-expansion-panel-header>
                    <br>
                    <h6 style="text-align: justify;">
                        <b>Mínimo Puntualidades: </b> n días que se considera al empleado poco puntual. Significa que el empleado tienen <b>más atrasos</b> que llegadas puntuales. <br>
                        <b>Máximo Puntualidades:</b> n días que se considera al empleado muy puntual y puede o no tener atrasos, en caso de tenerlos serán muy pocos.   
                    </h6>
                    <form [formGroup]="ParametrosForm" (ngSubmit)="onSubmitParametros()">
                        <div class="d-flex flex-wrap justify-content-around">
                            <mat-form-field class="parametros_styles">
                                <mat-label style="font-size: 7;">Mínimo puntualidades </mat-label>
                                <input matInput #menor maxlength="2" placeholder="Menor a: ... " formControlName="menor" value="3">
                                <mat-hint align="end">{{menor.value.length}} / 2</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="parametros_styles">
                                <mat-label style="font-size: 7;"> Máximo puntualidades </mat-label>
                                <input matInput #mayor maxlength="2" placeholder="Mayora a: ..." formControlName="mayor" value="11">
                                <mat-hint align="end">{{menor.value.length}} / 2</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-around">
                            <button mat-button type="submit" class="btn btn-sm" id="boton" [disabled]="!ParametrosForm.valid">Guardar Parametros</button>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-7">
            <app-criterios-busqueda [num_option]="3"></app-criterios-busqueda>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title>
                        Opciones Reporte Puntualidad
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br>
                    <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                        <button mat-icon-button (click)="validacionReporte('open')">
                            <mat-icon class="i-pdf" matTooltipPosition="right" matTooltip="Previsualizar pdf del reporte en el navegador">picture_as_pdf</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('print')">
                            <mat-icon class="i-print" matTooltipPosition="right" matTooltip="Imprimir pdf del reporte.">local_printshop</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('download')">
                            <mat-icon class="i-download" matTooltipPosition="right" matTooltip="Descargar en formato pdf el reporte">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button (click)="validacionReporte('excel')">
                            <mat-icon class="fas fa-file-excel i-excel" matTooltipPosition="right" matTooltip="Descargar en formato EXCEL"></mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <!-- TABLA PARA SUCURSALES -->
    <div *ngIf="bool.bool_suc" class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Resultado Sucursales</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleSuc() : null"
                                [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                [aria-label]="checkboxLabelSuc()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionSuc.toggle(s) : null" 
                                [checked]="selectionSuc.isSelected(s)"
                                [aria-label]="checkboxLabelSuc(s)">
                            </mat-checkbox>
                        </td>
                        <td>{{s.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="sucursales.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
    <!-- TABLA PARA DEPARTAMENTOS -->
    <div *ngIf="bool.bool_dep" class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Resultado Departamentos</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleDep() : null"
                                [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                [aria-label]="checkboxLabelDep()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of departamentos | emplNombre: filtroNombreDep | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionDep.toggle(d) : null" 
                                [checked]="selectionDep.isSelected(d)"
                                [aria-label]="checkboxLabelDep(d)">
                            </mat-checkbox>
                        </td>
                        <td>{{d.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="departamentos.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
    <!-- TABLA PARA EMPLEADOS -->
    <div *ngIf="bool.bool_emp" class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Resultado Empleados</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>
                            <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                [aria-label]="checkboxLabelEmp()">
                            </mat-checkbox>
                        </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina:numero_pagina">
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectionEmp.toggle(e) : null" 
                                [checked]="selectionEmp.isSelected(e)"
                                [aria-label]="checkboxLabelEmp(e)">
                            </mat-checkbox>
                        </td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.cedula}}</td>
                        <td>{{e.codigo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>