<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <mat-card class="mat-elevation-z8">
                            <img src="{{logo}}"> <br><br>
                            <form [formGroup]="validarCredencialesF" style="text-align: start;">
                                <mat-label style="font-weight: bold;">N° de Ticket: </mat-label>
                                <mat-label>00456</mat-label>
                                <br>
                                <mat-label style="font-weight: bold;">Nombre: </mat-label>
                                <mat-label>Jose Luis Altamirano Taco</mat-label>
                                <br>
                                <mat-label style="font-weight: bold;">Cédula: </mat-label>
                                <mat-label>1723658745</mat-label>
                                <br>
                                <mat-label style="font-weight: bold;">Tipo: </mat-label>
                                <mat-label>Desayuno</mat-label>
                                <br>
                                <mat-label style="font-weight: bold;">Fecha: </mat-label>
                                <mat-label>2021-02-18</mat-label>
                                <br>
                                <mat-label style="font-weight: bold;">Observación: </mat-label>
                                <mat-label>Plato completo</mat-label>
                            </form>
                            <br>
                            <div style="margin: auto;">
                                <button type="submit" (click)="Imprimir()"
                                    class="btn btn-lg btn-block">Imprimir</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>