<mat-icon id="movilidad">open_with</mat-icon>
<div class="detallePlanHorarioE">
    <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Detalle de Planificación Horario</h5>
</div>
<!-- Formulario Completo -->
<form [formGroup]="DetallePlanHorarioForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.</span>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label id="fec">Fecha inicio de actividades</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaF"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker" id="icono"
                            matTooltipClass="contratoE-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de inicio de actividades. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Tipo de día</mat-label>
                        <mat-icon id="icono" matSuffix matTooltipPosition="right" matTooltipClass="horaE-tooltip"
                            matTooltip="Seleccionar el tipo de día en los que se podrá realizar horas extras">
                            help_outline</mat-icon>
                        <mat-select [formControl]="tipoDia" required>
                            <mat-option *ngFor="let d of dia" [value]="d.value">
                                {{d.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Seleccionar Horario</mat-label>
                        <mat-icon id="icono" matSuffix matTooltipClass="sucursalR-tooltip" matTooltipPosition="right"
                            matTooltip="Lista de países del continente seleccionado">
                            help_outline</mat-icon>
                        <mat-select [formControl]="horarioF" required>
                            <mat-option *ngFor="let h of horarios" [value]="h.id">
                                {{h.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center">
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!DetallePlanHorarioForm.valid"
            (click)="ValidarRegistro(DetallePlanHorarioForm.value)" value="Guardar">
        <input type="submit" (click)="Salir()" class="btn btn-sm" value=" Salir">
    </mat-card-actions>
</div>