p { font-size: x-small; }
td { padding-top: 10px; text-align: center; }
hr { background-color: rgb(66, 0, 128); }
.btn { border-radius: 25px; margin-left: 15px; }
.barraTituloD { 
    font-size: 25px; 
    text-align: center; 
    background: rgb(66, 0, 128); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
#editarI { color:green; margin-left: 25px; }
#datosF { font-weight: bold; font-size: 18px; }
#resulCiudades { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(66, 0, 128); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
#estilo { color: rgb(0, 0, 0); font-size: 13px; }