.btn { border-radius: 25px; margin-right: 15px; margin-top: 15px; margin-left: 15px; }
.barraTitulo { 
    font-size: 25px; 
    text-align: center; 
    background: rgba(22, 106, 216, 0.828); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; }
.color-tooltip { background: #2c6ec5; }
#datos { font-weight: bold; font-size: 18px; }
.fas { color:green; margin-left: 25px;}
td { padding-top: 10px; text-align: center; }
#editar { font-size: x-small; }
.color-tooltip { background-color : rgb(23, 46, 177); }
#lista { font-weight: bold; }
hr { background-color: #999999; }