<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-sm">
            <div class="barraTitulo">
                <h5>Horarios del Empleado</h5>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <mat-card-actions style="text-align: center">
                    <button type="submit" class="btn btn-sm" id="boton"
                        (click)="AbrirVentanaEmplHorario()">Añadir</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <div class="barraTitulo">
                <h5>Carga múltiple de horarios</h5>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <div class="container">
                    <div class="row">
                        <div class="col-md" style="width: 700px;">
                            <form method="post" enctype="multipart/form-data">
                                <input (change)="fileChangeHorario($event)" type="file"
                                    [formControl]="archivoHorarioForm" id="file"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                                    matTooltipClass="departamento-tooltip"
                                    matTooltip="Presionar para cargar plantilla con nombre Horario Empleado">Subir
                                    Horario</label>
                            </form>
                        </div>
                        <div class="col-md">
                            <a mat-button type="submit" id="descargar" class="btn btn-sm" matSuffix
                                matTooltipPosition="right"
                                matTooltip="Dar click para ver o descargar el documento"
                                href="http://localhost:3000/plantillaD/documento/Horario Empleado.xlsx">
                                <span class="material-icons">cloud_download</span> Descargar Plantilla Horario
                                Empleado
                            </a>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resulHorario">Lista de Horarios</div>
    <mat-card class="mat-elevation-z8">
        <table class="table table-hover table-sm ">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Horario</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Final</th>
                    <th scope="col">Lu</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Mi</th>
                    <th scope="col">Ju</th>
                    <th scope="col">Vi</th>
                    <th scope="col">Sa</th>
                    <th scope="col">Do</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of horariosEmpleadoTotales | paginate:tamanio_pagina:numero_pagina">
                    <td>{{h.nom_horario}}</td>
                    <td>{{h.fec_inicio.split("T")[0]}}</td>
                    <td>{{h.fec_final.split("T")[0]}}</td>
                    <td *ngIf="h.lunes == true">Libre</td>
                    <td *ngIf="h.lunes == false">Normal</td>
                    <td *ngIf="h.martes == true">Libre</td>
                    <td *ngIf="h.martes == false">Normal</td>
                    <td *ngIf="h.miercoles == true">Libre</td>
                    <td *ngIf="h.miercoles == false">Normal</td>
                    <td *ngIf="h.jueves == true">Libre</td>
                    <td *ngIf="h.jueves == false">Normal</td>
                    <td *ngIf="h.viernes == true">Libre</td>
                    <td *ngIf="h.viernes == false">Normal</td>
                    <td *ngIf="h.sabado == true">Libre</td>
                    <td *ngIf="h.sabado == false">Normal</td>
                    <td *ngIf="h.domingo == true">Libre</td>
                    <td *ngIf="h.domingo == false">Normal</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="horariosEmpleadoTotales.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>
