<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div class="barraTitulo1">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>Información del permiso</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px;" *ngFor="let p of InfoPermiso">
                        <div class="row">
                            <div class="col">
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Creación:</label>
                                    <label>{{p.fec_creacion.split('T')[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Empleado:</label>
                                    <label>{{p.nombre}} {{p.apellido}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Cédula:</label>
                                    <label>{{p.cedula}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Tipo Permiso:</label>
                                    <label>{{p.nom_permiso}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Código Permiso:</label>
                                    <label>{{p.id}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Descripción:</label>
                                    <label>{{p.descripcion}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Estado:</label>
                                    <label>{{p.estado}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Inicio:</label>
                                    <label>{{p.fec_inicio.split('T')[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Final:</label>
                                    <label>{{p.fec_final.split('T')[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Certificado:</label>
                                    <label>
                                        <a id="iconos" class="fas fa-file-alt"
                                            style="color:rgb(197, 95, 11); margin-left: 20px; text-align: center;"
                                            matSuffix matTooltipPosition="right" matTooltip="Certificado"
                                            href="http://192.168.0.192:3001/empleadoPermiso/documentos/{{p.documento}}"
                                            target="_blank">
                                            <p>{{p.docu_nombre}}</p>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col" style="text-align: right;">
                                <i id="iconos" *ngIf="!HabilitarAutorizacion" class="fas fa-plus-circle"
                                    style="color:rgb(58, 90, 231);" (click)="AbrirAutorizaciones(p)"
                                    matTooltipPosition="right"
                                    matTooltip="Agrega más tipos de permisos de este departamento.">
                                    <p>Autorización</p>
                                </i>
                                <i *ngIf="HabilitarAutorizacion" class="fas fa-edit"
                                    style="color:green; text-align: center;" matSuffix matTooltipPosition="right"
                                    (click)="AbrirVentanaEditar(p)" matTooltip="Cambiar el estado del permiso">
                                    <p>Estado</p>
                                </i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div class="barraTitulo1">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>Información de la Autorización</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px;" *ngFor="let a of autorizacion">
                        <div class="row">
                            <div class="col">
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Código autorización:</label>
                                    <label>{{a.id}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Estado:</label>
                                    <label>{{estado}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Orden:</label>
                                    <label>{{a.orden}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Departamento:</label>
                                    <label>{{departamento}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Solicitud de Permiso:</label>
                                    <label>
                                        <i id="iconos" (click)="generarPdf('download')" class="fas fa-file-pdf"
                                            style="color:red; margin-left: 20px; text-align: center;" matSuffix
                                            matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                                            matTooltip="Descargar Solicitud de Permiso en formato PDF">
                                            <p>Permiso</p>
                                        </i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col" style="text-align: right;">
                                <i class="fas fa-edit" style="color:green; text-align: center;" matSuffix
                                    matTooltipPosition="right" (click)="AbrirVentanaEditarAutorizacion(a)"
                                    matTooltip="Cambiar el estado del permiso">
                                    <p>Estado</p>
                                </i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>