.barraTitulo1 { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 14px; 
    padding-bottom: 6px; 
}

p { font-size: x-small; }

.fas { cursor: pointer; }

.col-sm { font-weight: bold;}

#iconos { text-align: center; }

#datosF { font-weight: bold; font-size: 16px; padding-right: 10px; }

.caja1 {padding: 0px 15px 0px 15px; width: 300px;}
