<h4>¿Solicita Ayuda?</h4>
<div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-wrap justify-content-center caja">
        <a type="button" href="https://web.whatsapp.com/send?phone=593987208634&text=Hola,%20necesito%20asistencia%20en...." 
            target="_blank" style="width: 50px; height: 50px;" >
            <mat-icon>phone_iphone</mat-icon>
        </a><br>
        <label >Whatsapp</label>
    </div>
    <div class="d-flex flex-wrap justify-content-center caja">
        <a type="button" href="https://casapazmino.com.ec/videos-de-ayuda/" 
            target="_blank" style="width: 50px; height: 50px;" >
            <mat-icon>video_library</mat-icon>
        </a><br>
        <label>Videos</label>
    </div>
    <div class="d-flex flex-wrap justify-content-center caja">
        <a type="button" href="mailto:soporte@fulltime.com.ec" 
            target="_blank" style="width: 50px; height: 50px;" >
            <mat-icon>forward_to_inbox</mat-icon>
        </a><br>
        <label>Soporte</label>
    </div>

</div>