a {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(16, 97, 204);
}

mat-icon {
    margin-top: 11px;
    margin-left: 12px;
    width: 50px;
    height: 50px;
}

label {
    text-align: center;
    color: rgb(16, 97, 204);
}

.caja {
    width: 60px
}