.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;}

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

#enrolado_reloj { cursor: pointer; }

#selecDispositivo { font-size: 14px; }

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.tituloEnrolado_reloj { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 70px; 
}

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}

.progress {
    margin: 250px auto auto auto;
    opacity: 1
}

.pantalla-progress {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffff;
    opacity: 0.8;
}

mat-progress-spinner {
    background: transparent;
    z-index: 100;
}