mat-form-field { width: 200px; margin: 10px;}

#letraT { font-size: 11px; }

#icono_emple { cursor: pointer; }

#seccion_emple { color: rgba(8, 10, 124, 0.828); }

.container{ padding-top: 15px; }

/*.empleadoR-tooltip { background: #276bc3; }*/

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

.barraTitulo { 
    font-size: 25px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

.titulo_empleR { 
    position: relative; 
    float: left; 
    font-size: 19px; 
    font-weight: bold; 
    text-align: center; 
    color: rgb(0, 0, 0);}

.subtitulo_empleR {
    font-size: 14px; 
    font-weight: bold; 
    padding-left: 5px; 
    padding-top: 25px; 
    padding-bottom: 25px; 
    text-align: justify;
}

.scrollbar {
    float: left;
    height: 500px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}