<button mat-mini-fab mat-icon-button [matMenuTriggerFor]="menu" (click)="numeroNotificacion()">
    <mat-icon id="iconos-navegador" [matBadgeHidden]="estadoNotificacion" matBadge="{{num_noti_false}}"
        matBadgeColor="warn" style="margin-left: 8px;" matSuffix 
        matTooltipPosition="right" matTooltip="Notificaciones">notifications</mat-icon>
</button>
<mat-menu #menu="matMenu" style="margin-right: 10px; height: 100px;">
    <div class="container" style="text-align: center;">
        <h4>Notificaciones</h4>
    </div>
    <div *ngIf="noti_real_time.text !== 'Registro no encontrado'">
        <div *ngFor="let n of noti_real_time">

            <!-- Notificaciones con estilo para la visualizacion de los ADMINISTRADORES CON VISTO Y NO VISTO, ademas personas q autorizan las solicitudes -->
            <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                    mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado un permiso</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                    [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado vacaciones</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                    [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado hora extra</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <div *ngIf="n.visto == false" style="background: rgb(240, 221, 77);">
                <a *ngIf="loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                    mat-menu-item [routerLink]="['/ver-permiso/', n.id_permiso]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado un permiso</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                    [routerLink]="['/ver-vacacion/', n.id_vacaciones]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado vacaciones</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                    [routerLink]="['/ver-hora-extra/', n.id_hora_extra]" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b> a
                            solicitado hora extra</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

            <!-- Notificaciones con estilo para la visualizacion de los EMPLEADOS CON VISTO Y NO VISTO, ademas personas q no autorizan-->
            <div *ngIf="n.visto == true" style="background: rgb(226, 226, 226);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                    mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                    [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                    [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>
            <div *ngIf="n.visto == false" style="background: rgb(98, 192, 61);">
                <a *ngIf="!loginService.getEstado() && n.id_vacaciones === null && n.id_hora_extra === null"
                    mat-menu-item [routerLink]="['/solicitarPermiso']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud permiso: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_hora_extra === null" mat-menu-item
                    [routerLink]="['/vacacionesEmpleado']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud de vacaciones: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
                <a *ngIf="!loginService.getEstado() && n.id_permiso === null && n.id_vacaciones === null" mat-menu-item
                    [routerLink]="['/horaExtraEmpleado']" type="submit" class="noti_menu"
                    (click)="CambiarVistaNotificacion(n.id)">
                    <ul style="list-style: none; margin-left: -15%;">
                        <li style="font-size: 13px;"><b>{{n.nombre.split(' ')[0]}} {{n.apellido.split(' ')[0]}}</b>
                            cambio
                            estado de la</li>
                        <li style="font-size: 13px; margin-top: -13%;">Solicitud de hora extra: {{n.estado}}</li>
                        <li style="font-size: 11px; margin-top: -13%;"><b>Fecha:</b> {{n.create_at.split('T')[0]}}
                            <b>Hora:</b>
                            {{n.create_at.slice(11,16)}}
                        </li>
                    </ul>
                    <mat-divider class="divider"></mat-divider>
                </a>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="loginService.getEstado() == estado">
        <a type="submit" [routerLink]="['/lista-notificaciones']" class="mostrar-noti">
            Mostrar todas las notificaciones
        </a>
    </div>
</mat-menu>