.example-card { 
    max-width: 275px;
    justify-content:center;
  
    
    
    
}

mat-slider {width: 175px;}

.example-match{
    margin: 0 10px;
    color: black
}

.label-theme{
    color: black
}

.label-error{
    color:red
}