.example-card { 
    max-width: 275px;
    justify-content:center;
    color:#3399FF;
    
    
    
}

mat-slider {width: 175px;}

.example-match{
    margin: 0 10px;
    color: black
}

.label-theme{
    color: #140F6E
}

.label-error{
    color:red
}