<div class="container" *ngFor="let d of datosPedido" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTituloD">
            <span>ACCIÓN DE PERSONAL</span>
        </div>
        <mat-card-content>
            <div class="d-flex justify-content-around">
                <div class="container" style="padding-top: 15px;">
                    <br>
                    <label class="col-sm col-form-label"><b>Número Partida:</b>
                        {{d.num_partida}}
                    </label>
                    <br>
                    <label class="col-sm col-form-label"><b>Fecha Registro:</b>
                        {{d.fec_creacion.split('T')[0]}}
                    </label>
                    <br>
                    <label class="col-sm col-form-label"><b>Empleado:</b>
                        {{datoEmpleado.toUpperCase()}}
                    </label>
                    <br>
                    <label class="col-sm col-form-label"><b>Cédula:</b> {{cedula}}</label>
                    <br>
                    <label class="col-sm col-form-label"><b>Departamento:</b> {{departamentoE.toUpperCase()}}</label>
                    <br>
                    <label class="col-sm col-form-label"><b>Cargo:</b> {{cargo.toUpperCase()}}</label>
                    <br>
                    <label class="col-sm col-form-label"><b>Remuneración mensual:</b> $ {{sueldo}}</label>
                    <br>
                    <label class="col-sm col-form-label"><b>Tipo de acción personal:</b>
                        {{d.tipo.toUpperCase()}}
                    </label>
                    <br>
                    <label class="col-sm col-form-label"><b>Identificación:</b>
                        {{d.identi_accion_p.toUpperCase()}}</label>
                    <br *ngIf="d.adicion_legal != null && d.adicion_legal != ''">
                    <label class="col-sm col-form-label"
                        *ngIf="d.adicion_legal != null && d.adicion_legal != ''"><b>Adicón
                            Legal:</b>
                        {{d.adicion_legal}}</label>
                    <br>
                    <label class="col-sm col-form-label"><b>Firman:</b>
                        <br>{{cargoH.toUpperCase()}} {{d.abrev_empl_uno}} {{datoEmpleadoH.toUpperCase()}}
                        <br>{{cargoG.toUpperCase()}} {{d.abrev_empl_dos}} {{datoEmpleadoG.toUpperCase()}}</label>
                    <br>
                    <div style="text-align: right;">
                        <i id="editarF" [routerLink]="['/editarPedido/',d.id]" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right" matTooltip="Modificar datos de este registro"
                            class="fas fa-edit">
                            <p>Editar</p>
                        </i>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-sm" [routerLink]="['/listaPedidos/']"
                value="Ir a la Lista de Acciones de Personal">
        </mat-card-content>
    </mat-card>
</div>