<div class="scrollbar scrollbar-primary">
    <mat-icon id="movilidad">open_with</mat-icon>
    <div class="procesoE">
        <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Modificar Procesos del Empleado</h5>
    </div>
    <!-- Formulario Completo -->
    <form [formGroup]="EmpleProcesoForm">
        <mat-card-content>
            <div class="container" style="padding-top: 15px; text-align: center;">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.</span>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label>Empleado</mat-label>
                            <input id="nomEmple" matInput placeholder="Empleado" [formControl]="nombreEmpleado"
                                readonly="readonly" required>
                            <mat-icon id="cargoE" matSuffix 
                                matTooltipPosition="right" matTooltip="Nombre de identifiacción del empleado">
                                help_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Seleccionar Proceso</mat-label>
                            <mat-icon id="cargoE" matSuffix 
                                matTooltipPosition="right" matTooltip="Lista de Procesos">help_outline</mat-icon>
                            <mat-select [formControl]="idProcesoF" required>
                                <mat-option *ngFor="let pro of procesos" [value]="pro.id">
                                    {{pro.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa"
                                [formControl]="fechaInicio" min="1950-01-31" max="2050-01-31" required>
                            <mat-datepicker-toggle matSuffix [for]="picker" id="cargoE" matTooltipClass="cargoE-tooltip"
                                matTooltipPosition="right"
                                matTooltip="Modificar la fecha de inicio de período del proceso. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa"
                                [formControl]="fechaFinal" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="cargoE"
                                matTooltipClass="cargoE-tooltip" matTooltipPosition="right"
                                matTooltip="Modificar la fecha de finalización de período del proceso. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </form>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-sm" (click)="ValidarDatosProeso(EmpleProcesoForm.value)"
            [disabled]="!EmpleProcesoForm.valid">Guardar</button>
        <button type="submit" class="btn btn-sm" (click)="Salir()">Salir</button>
    </div>
</div>