#dias { font-size: 13px; }

#calculo { font-size: 11px; }

#fecVaca { font-size: 14px; }

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

mat-radio-group { width: 210px; padding: 15px 20px 15px 20x; margin-bottom: 10px;}

mat-form-field {padding: 10px 10px 0px 10px;}

.caja {padding: 10px 10px 0px 10px;}

.vacacionesE { 
    font-size: 25px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white;  
    padding-top: 10px; 
}

#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
    margin-left: 10px;
}

#nomEmple { font-size: 13px; }

.mat-radio-button ~ .mat-radio-button { margin-left: 18px; }

#contratoE { cursor: pointer; }

#activo { cursor: pointer; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 0px 5px 10px 5px; 
    color: rgb(52,65,84);
}

#Feriado { font-size: 14px; }

.scrollbar {
    float: left;
    height: 380px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}