.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;}

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

#ayuda { cursor: pointer; }

/*.regDepa-tooltip { background-color : rgb(122, 3, 106); }*/

.barraTituloRegDepa { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px; 
}

#depSup { font-size: 14px; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}