.btn { margin-left: 15px; border-radius: 25px; } 
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
#ayuda { color:rgb(122, 3, 106); font-size: 18px; }
.regDepa-tooltip { background-color : rgb(122, 3, 106); }
.barraTituloRegDepa { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(122, 3, 106); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
}
#depSup { font-size: 14px; }