<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-7" style="margin-bottom: 15px;">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                        Críterios de Búsqueda
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                        matTooltip="Se puede filtra de acuerdo al campo que escriba">search</mat-icon>
                    </mat-expansion-panel-header>
            
                    <form [formGroup]="">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Filtrar por Código</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCodigo"
                                    [formControl]="codigo" (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el código">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por CI o pasaporte</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroCedula" maxlength="10"
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                                <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por la cédula de identificación o pasaporte">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por Nombres</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroNombre"
                                    [formControl]="nombre" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="nombre.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el nombre">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Filtrar por Apellidos</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroApellido"
                                    [formControl]="apellido" type="text"
                                    (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="apellido.invalid">Indispensable ingresar dos letras
                                </mat-error>
                                <mat-icon id="iemple" matSuffix matTooltipPosition="right"
                                    
                                    matTooltip="Búsqueda de empleado por el apellido">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="d-flex justify-content-around">
                        <button mat-button type="submit" class="btn btn-sm" id="boton" (click)="limpiarCampos()">Cancelar</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-5">
            <mat-accordion multi>
            
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                        Rango Fechas Asistencia
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                        matTooltip="Ingresa el rango de fechas para la consulta de Asistencia Detalle Consolidado. 
                            Se recomienda la fecha de inicio y final de mes">date_range</mat-icon>
                    </mat-expansion-panel-header>
            
                    <div class="d-flex flex-wrap justify-content-center">
                        <form [formGroup]="fechasForm">
                            <mat-form-field>
                                <mat-label>Desde</mat-label>
                                <input matInput [matDatepicker]="pickerInicial" placeholder="dd/mm/aaaa" [disabled]="habilitar"
                                    [formControl]="fec_inicio_mes" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerInicial" matTooltipPosition="right" id="ayuda_fec"
                                    matTooltip="Ingresa la fecha inicial del mes que deseas consultar el reporte. Ejm: 01/08/2020"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickerInicial></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Hasta</mat-label>
                                <input matInput [matDatepicker]="pickerFinal" placeholder="dd/mm/aaaa" [disabled]="habilitar" 
                                    [formControl]="fec_final_mes" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerFinal" matTooltipPosition="right" id="ayuda_fec"
                                    matTooltip="Ingresa la fecha final del mes que deseas consultar el reporte. Ejm: 31/08/2020"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #pickerFinal></mat-datepicker>
                            </mat-form-field>
                        </form>
                        <div class="d-flex flex-wrap justify-content-around" style="margin: 0px 10px 0px 10px;">
                            <button mat-button type="submit" class="btn btn-sm" id="botones" [disabled]="fechasForm.invalid" (click)="ValidarRangofechas(fechasForm.value)">Aceptar</button>
                            <button mat-button type="submit" class="btn btn-sm" id="botones" (click)="limpiarCamposRango()">Cancelar</button>
                            <button mat-icon-button (click)="ConfiguracionReporteAsistencia()">
                                <mat-icon style="color: black;">settings</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resulEmpleados">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <!-- <th>
                            <mat-checkbox *ngIf="btnCheckDeshabilitado" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th> -->
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">ASISTENCIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombre | emplApellido: filtroApellido | paginate:tamanio_pagina:numero_pagina">
                        <!-- <td>
                            <mat-checkbox *ngIf="btnCheckDeshabilitado" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(e) : null" [checked]="selection.isSelected(e)"
                                [aria-label]="checkboxLabel(e)">
                            </mat-checkbox>
                        </td> -->
                        <th scope="row">{{e.codigo}}</th>
                        <td>{{e.nombre}}</td>
                        <td>{{e.apellido}}</td>
                        <td>{{e.cedula}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix  [ngStyle]="estilo" matTooltipPosition="right"
                                matTooltip="Descargar la asistencia consolidada del empleado" class="material-icons" id="upload"
                                (click)="AsistenciaEmpleado(e.id, 'download')"> cloud_download
                            </i>
                            <i matSuffix  [ngStyle]="estilo" matTooltipPosition="right"
                                matTooltip="Ver la asistencia consolidada en formato pdf desde el navegador"  class="material-icons" id="pdf"
                                (click)="AsistenciaEmpleado(e.id, 'open')">picture_as_pdf
                            </i>
                            <i (click)="exportToExcelAsistencia(e.id)" [ngStyle]="estilo" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                                 matTooltip="Descargar lista de empleados de la empresa en formato EXCEL">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="empleados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>