mat-form-field { padding: 10px 15px 0px 15px;}

.tituloEmpleados { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resulEmpleados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

table { width: 100%; font-size: 14px;}

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#descargar:hover { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: rgb(38, 218, 15); 
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}

#descargar { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: #93a3c7; 
    overflow: hidden;
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}
