<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <mat-card class="mat-elevation-z8">
        <div class="barraTitulo">
            <div class="container">
                <div class="row">
                    <div class="col" style="text-align: left;">
                        <h5>Solicitar Hora Extra</h5>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="submit" class="btn btn-outline-light btn-sm"
                            (click)="AbrirVentanaHoraExtra()">Añadir</button>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-content>
            <div *ngFor="let h of hora_extra | paginate:tamanio_pagina:numero_pagina" style="padding-top: 15px;">
                <div class="d-flex flex-wrap justify-content-between" style="margin-bottom: 10px;">
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Código:</label>
                        <label>{{h.id}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Descripción:</label>
                        <label>{{h.descripcion}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Estado:</label>
                        <label>{{h.estado}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Fecha Solicita:</label>
                        <label>{{h.fec_solicita.split("T")[0]}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Tiempo hora extra:</label>
                        <label>{{h.num_hora}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Fecha Inicio:</label>
                        <label>{{h.fec_inicio.split("T")[0]}}</label>
                    </div>
                    <div class="caja1 d-flex justify-content-start">
                        <label id="datosF">Fecha Final:</label>
                        <label>{{h.fec_final.split("T")[0]}}</label>
                    </div>
                    <div class="caja1 align-self-center" *ngIf="h.estado === 'Pendiente'">
                        <button class="btn btn-sm" type="submit" (click)="CancelarHoraExtra(h)">Cancelar</button>
                        <i class="fas fa-edit" id="edit" (click)="EditarHoraExtra(h)" matSuffix
                            matTooltipPosition="right" matTooltipClass="departamento-tooltip"
                            matTooltip="Modificar los datos generales de este registro">
                            <p>Editar</p>
                        </i>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <mat-paginator [length]="hora_extra.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="estilo" (page)="ManejarPagina($event)"
                showFirstLastButtons>
            </mat-paginator>
            <!-- <div class="card-footer pb-0 pt-3">
                <jw-pagination [items]="hora_extra" (changePage)="onChangePage($event)"></jw-pagination>
            </div>-->
        </mat-card-content>
    </mat-card>
</div>