<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTitulo">
            <span>Registrar Nuevo Permiso</span>
        </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="primeroFormGroup">
                <form [formGroup]="primeroFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right" matTooltip="Sección 1: Información General">person_add
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_permisoR">
                        <span>Información General</span>
                    </div>
                    <br>
                    <div class="subtitulo_permisoR">
                        <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                            Siguiente
                            para continuar.</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label>Seleccionar Tipo de Permiso</mat-label>
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right" matTooltip="Seleccionar nombre del nuevo permiso">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="descripcionForm" [(ngModel)]="seleccionarPermiso"
                                        required>
                                        <mat-option *ngFor="let permiso of permisos" [value]="permiso.nombre"
                                            (click)="ActivarDesactivarNombre(primeroFormGroup.value)">
                                            {{permiso.valor}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Descripción</mat-label>
                                    <input matInput placeholder="Ej: Descripcion del tipo de permiso"
                                        (keypress)="IngresarSoloLetras($event)" formControlName="nombreForm"
                                        id="nombreTP" style="visibility:hidden">
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right" matTooltip="Ingresar nombre del nuevo permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label>Solicitar permiso por:</mat-label>
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso será por días o por horas y minutos">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="diasHorasForm" required>
                                        <mat-option *ngFor="let dh of diasHoras" [value]="dh.valor"
                                            (click)="ActivarDiasHoras(primeroFormGroup.value)">
                                            {{dh.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Días máximos de permiso</mat-label>
                                    <input matInput placeholder="Ej: 3" (keypress)="IngresarSoloNumeros($event)"
                                        formControlName="numDiaMaximoForm" style="visibility:hidden" id="dias">
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar número de días máximos de permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Horas y minutos de permiso</mat-label>
                                    <input matInput type="time" placeholder="Ej: 4"
                                        (keypress)="IngresarSoloNumeros($event)" formControlName="numHoraMaximoForm"
                                        style="visibility:hidden" id="horas">
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar número de horas y minutos máximos de permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label id="emple_solicitar">Empleado podrá solicitar</mat-label>
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el empleado puede solicitar permiso">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="acceEmpleadoForm" required>
                                        <mat-option *ngFor="let sol of solicitudes" [value]="sol.valor">
                                            {{sol.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Días para solicitar permiso</mat-label>
                                    <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                                        formControlName="numDiaIngresoForm" required>
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar números de días para solicitar permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="almuIncluirForm"
                                        required>
                                        <label id="almuerzo">El permiso incluye Almuerzo * </label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso incluye almuerzo">
                                            help_outline</mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div>
                    <button mat-button matStepperNext class="btn">Siguiente</button>
                    <button mat-button class="btn" [routerLink]="['/verTipoPermiso']">Lista de Tipo de
                        Permisos
                    </button>
                    <button mat-button (click)="stepper.reset()" class="btn btn-danger">Cancelar</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="segundoFormGroup">
                <form [formGroup]="segundoFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right" matTooltip="Sección 2: Efectos del Permiso">person_add
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_permisoR">
                        <span>Efectos del Permiso</span>
                    </div>
                    <br>
                    <div class="subtitulo_permisoR">
                        <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                            Siguiente
                            para continuar.</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="vacaAfectaForm"
                                        required>
                                        <label>Permiso afecta a vacaciones *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso afecta a vacaciones">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="anioAcumulaForm"
                                        required>
                                        <label>Acumular permisos en el año *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si los días o horas del permiso son acumulables en el año">
                                            help_outline</mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="correoForm"
                                        required>
                                        <label>Activar notificación por Correo *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso se notificará por correo">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <mat-form-field>
                                    <mat-label id="selec">Seleccionar tipo descuento</mat-label>
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permmiso tendrá descuento">help_outline</mat-icon>
                                    <mat-select formControlName="tipoDescuentoForm" required>
                                        <mat-option *ngFor="let d of descuentos" [value]="d.value">
                                            {{d.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="actualizarForm"
                                        required>
                                        <label>Se podrá Actualizar permiso *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso podrá ser actualizado">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="eliminarForm"
                                        required>
                                        <label>Permiso podrá ser Eliminado *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso podrá ser eliminado">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div>
                    <button mat-button matStepperPrevious class="btn">Atrás</button>
                    <button mat-button matStepperNext class="btn">Siguiente</button>
                    <button mat-button (click)="stepper.reset()" class="btn btn-danger">Cancelar</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="terceroFormGroup">
                <form [formGroup]="terceroFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_permiso" matSuffix matTooltipClass="color-tooltip"
                            matTooltipPosition="right" matTooltip="Sección 3: Condiciones del Permiso">person_add
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_permisoR">
                        <span>Condiciones del Permiso</span>
                    </div>
                    <br>
                    <div class="subtitulo_permisoR">
                        <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                            Guardar.</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="preautorizarForm"
                                        required>
                                        <label>Permiso debe ser Preautorizado *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso debe ser preautorizado">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="autorizarForm"
                                        required>
                                        <label>Permiso debe ser Autorizado *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso debe ser autorizado">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="legalizarForm"
                                        required>
                                        <label>Permiso debe ser Legalizado *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso debe ser legalizado">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option" formControlName="fecValidarForm"
                                        required>
                                        <label>Restrición por fecha *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso tendrá alguna restrición por la fecha">
                                            help_outline</mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button value="true">Si</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                            </div>
                            <div class="col-sm">
                                <br>
                                <section class="example-section">
                                    <mat-radio-group aria-label="Select an option"
                                        formControlName="geneJustificacionForm" required>
                                        <label>Permiso requiere Justificación *</label>
                                        <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                            matTooltipPosition="right"
                                            matTooltip="Seleccionar si el permiso debe ser justificacdo">help_outline
                                        </mat-icon>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <mat-radio-button (click)="ActivarJustificacion()" value="true"
                                                        id="si">Si</mat-radio-button>
                                                    <mat-radio-button (click)="DesactivarJustificacion()" value="false"
                                                        id="no">No</mat-radio-button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-radio-group>
                                </section>
                                <br>
                                <mat-form-field>
                                    <mat-label>Días para justificar</mat-label>
                                    <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                                        formControlName="numDiaJustificaForm" style="visibility:hidden"
                                        id="diasJustificar">
                                    <mat-icon id="permiso" matSuffix matTooltipClass="color-tooltip"
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar el número de días que tendrá el empleado para justificar">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button mat-button matStepperPrevious class="btn">Atrás</button>
                        <input mat-button type="submit" class="btn"
                            (click)="insertarTipoPermiso(primeroFormGroup.value, segundoFormGroup.value, terceroFormGroup.value);"
                            [disabled]="!terceroFormGroup.valid" value="Guardar">
                        <button mat-button (click)="stepper.reset()" class="btn">Cancelar</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>