.example-section { display: flex; align-content: center; align-items: center; height: 60px; }
.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }
.mat-stepper-horizontal { margin-top: 8px; }
mat-label { font-size: 14px; } 
#almuerzo { font-size: 14px; } 
.btn { border-radius: 25px; margin-left: 15px; }
.barraTitulo { 
    font-size: 25px; 
    text-align: center; 
    background: rgba(22, 106, 216, 0.828); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 6px; }
.color-tooltip { background: #2c6ec5; }
#permiso { color:rgb(0, 102, 128); font-size: 18px; }
