<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div class="barraTitulo">
            <span>Registrar Nuevo Permiso</span>
        </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="primeroFormGroup">
                <form [formGroup]="primeroFormGroup">
                    <ng-template matStepLabel>
                        <mat-icon id="seccion_permiso" matSuffix 
                            matTooltipPosition="right" matTooltip="Sección 1: Información General">description
                        </mat-icon>
                    </ng-template>
                    <div class="titulo_permisoR">
                        <span>Configuración General</span>
                    </div>
                    <br>
                    <div class="subtitulo_permisoR">
                        <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en
                            Siguiente
                            para continuar.</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label id="selec">Seleccionar Tipo Permiso</mat-label>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right" matTooltip="Seleccionar nombre del nuevo permiso">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="descripcionForm" [(ngModel)]="seleccionarPermiso"
                                        required>
                                        <mat-option *ngFor="let permiso of permisos" [value]="permiso.nombre"
                                            (click)="ActivarDesactivarNombre(primeroFormGroup.value)">
                                            {{permiso.valor}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br *ngIf="!HabilitarOtro">
                                <mat-form-field *ngIf="!HabilitarOtro">
                                    <mat-label>Descripción</mat-label>
                                    <input matInput placeholder="Ej: Descripcion del tipo de permiso"
                                        (keypress)="IngresarSoloLetras($event)" formControlName="nombreForm"
                                        id="nombreTP" [ngStyle]="estiloOtro">
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right" matTooltip="Ingresar nombre del nuevo permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br><br>
                                <mat-radio-group aria-label="Select an option" formControlName="almuIncluirForm"
                                    required>
                                    <label class="d-flex justify-content-start">
                                        <span id="almuerzo">Permiso incluye almuerzo *</span>
                                        <mat-icon id="permiso" matSuffix 
                                            matTooltipPosition="right"
                                            matTooltip="Indicar si dentro del permiso se considera las horas de almuerzo">
                                            help_outline
                                        </mat-icon>
                                    </label>
                                    <div class="d-flex justify-content-start">
                                        <mat-radio-button value="true">Si</mat-radio-button>
                                        <mat-radio-button value="false">No</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label>Solicitar permiso por:</mat-label>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso será por días o por horas y minutos">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="diasHorasForm" required>
                                        <mat-option *ngFor="let dh of diasHoras" [value]="dh.valor"
                                            (click)="ActivarDiasHoras(primeroFormGroup.value)">
                                            {{dh.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br *ngIf="!HabilitarDias">
                                <mat-form-field *ngIf="!HabilitarDias">
                                    <mat-label>Días máximos de permiso</mat-label>
                                    <input matInput placeholder="Ej: 3" (keypress)="IngresarSoloNumeros($event)"
                                        formControlName="numDiaMaximoForm" [ngStyle]="estiloDias" id="dias">
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar número de días máximos de permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                                <br *ngIf="!HabilitarHoras">
                                <mat-form-field *ngIf="!HabilitarHoras">
                                    <mat-label>Horas y minutos de permiso</mat-label>
                                    <input matInput type="time" placeholder="Ej: 4"
                                        (keypress)="IngresarSoloNumeros($event)" formControlName="numHoraMaximoForm"
                                        [ngStyle]="estiloHoras" id="horas">
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar número de horas y minutos máximos de permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <br>
                                <mat-form-field>
                                    <mat-label id="emple_solicitar">Empleado podrá solicitar</mat-label>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el empleado puede solicitar permiso">
                                        help_outline</mat-icon>
                                    <mat-select formControlName="acceEmpleadoForm" required>
                                        <mat-option *ngFor="let sol of solicitudes" [value]="sol.valor">
                                            {{sol.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Días para solicitar permiso</mat-label>
                                    <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                                        formControlName="numDiaIngresoForm" required>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Ingresar números de días para solicitar permiso">
                                        help_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div>
                    <button class="btn btn-sm" [routerLink]="['/verTipoPermiso']">Lista de Tipo de
                        Permisos
                    </button>
                    <button (click)="stepper.reset()" class="btn btn-sm btn btn-sm-danger">Cancelar</button>
                    <button matStepperNext class="btn btn-sm float-right">Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="segundoFormGroup">
                <ng-template matStepLabel>
                    <mat-icon id="seccion_permiso" matSuffix  matTooltipPosition="right"
                        matTooltip="Sección 2: Efectos del Permiso">description
                    </mat-icon>
                </ng-template>
                <div class="titulo_permisoR">
                    <span>Configuración General</span>
                </div>
                <br>
                <div class="subtitulo_permisoR">
                    <span>Por favor llenar todos los campos obligatorios (*) del formulario y dar click en Guardar
                        para continuar.</span>
                </div>
                <form [formGroup]="segundoFormGroup">
                    <div class="row">
                        <div class="col">
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="vacaAfectaForm" required>
                                <label class="d-flex justify-content-start">
                                    <span>Permiso afecta a vacaciones *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso afecta a vacaciones">help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button value="true">Si</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="anioAcumulaForm" required>
                                <label class="d-flex justify-content-start">
                                    <span>Acumular permisos en el año *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si los días o horas del permiso son acumulables en el año">
                                        help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button value="true">Si</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="documentoForm" required>
                                <label class="d-flex justify-content-start">
                                    <span>Requiere certificado *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si los días o horas del permiso son acumulables en el año">
                                        help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button value="true">Si</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div class="col">
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="legalizarForm" required>
                                <label class="d-flex justify-content-start">
                                    <span>Permiso debe ser Legalizado *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso debe ser legalizado">help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button value="true">Si</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="fecValidarForm" required>
                                <label class="d-flex justify-content-start">
                                    <span>Restrición por fecha *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso tendrá alguna restrición por la fecha">
                                        help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button (click)="verCalendario()" value="true">Si</mat-radio-button>
                                    <mat-radio-button (click)="ocultarCalendario()" value="false">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                            <br>
                            <mat-form-field *ngIf="calendario">
                                <mat-label>Seleccionar Fecha</mat-label>
                                <input matInput [matDatepicker]="picker2" readonly placeholder="dd/mm/aaaa"
                                    formControlName="fechaForm" min="1950-01-31" max="2050-01-31"
                                    (dateInput)="VerificarFecha($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker2" id="permiso"
                                    matTooltipClass="permiso-tooltip" matTooltipPosition="right"
                                    matTooltip="Indicar la fecha en la que no se concedera permisos. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                                </mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="geneJustificacionForm"
                                required>
                                <label class="d-flex justify-content-start">
                                    <span>Permiso requiere Justificación *</span>
                                    <mat-icon id="permiso" matSuffix 
                                        matTooltipPosition="right"
                                        matTooltip="Seleccionar si el permiso debe ser justificacdo">help_outline
                                    </mat-icon>
                                </label>
                                <div class="d-flex justify-content-start">
                                    <mat-radio-button (click)="ActivarJustificacion()" value="true" id="si">Si
                                    </mat-radio-button>
                                    <mat-radio-button (click)="DesactivarJustificacion()" value="false" id="no">No
                                    </mat-radio-button>
                                </div>
                            </mat-radio-group>
                            <br *ngIf="!HabilitarJustifica">
                            <mat-form-field *ngIf="!HabilitarJustifica">
                                <mat-label>Días para justificar</mat-label>
                                <input matInput placeholder="Ej: 2" (keypress)="IngresarSoloNumeros($event)"
                                    formControlName="numDiaJustificaForm" [ngStyle]="estiloJustifica"
                                    id="diasJustificar">
                                <mat-icon id="permiso" matSuffix 
                                    matTooltipPosition="right"
                                    matTooltip="Ingresar el número de días que tendrá el empleado para justificar">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="selec">Selección tipo descuento</mat-label>
                                <mat-icon id="permiso" matSuffix 
                                    matTooltipPosition="right" matTooltip="Seleccionar si el permmiso tendrá descuento">
                                    help_outline</mat-icon>
                                <mat-select formControlName="tipoDescuentoForm" required>
                                    <mat-option *ngFor="let d of descuentos" [value]="d.value">
                                        {{d.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <br>
                <div class="d-flex justify-content-between">
                    <button matStepperPrevious class="btn btn-sm">Atrás</button>
                    <input type="submit" class="btn btn-sm"
                        (click)="insertarTipoPermiso(primeroFormGroup.value, segundoFormGroup.value);"
                        [disabled]="!segundoFormGroup.valid" value="Guardar">
                    <button (click)="stepper.reset()" class="btn btn-sm float-right">Cancelar</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>