<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloprocesoR">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Acciones de Personal Registrar Proceso</span>
</div>
<div style="text-align: center">
    <form [formGroup]="nuevoProcesoForm">
        <mat-card-content>
            <div class="container">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el
                        botón
                        Guardar.</span>
                </div>
                <mat-form-field>
                    <mat-label>Nombre de proceso</mat-label>
                    <input matInput placeholder="Ej: Emergencia" [formControl]="nombre"
                        (keypress)="IngresarSoloLetras($event)" required>
                    <mat-icon id="iprocesoR" matSuffix matTooltipClass="procesoR-tooltip" matTooltipPosition="right"
                        matTooltip="Ingresar nombre con el que se va a identificar el nuevo proceso">
                        help_outline</mat-icon>
                    <mat-error *ngIf="nombre.invalid">{{obtenerMensajeErrorNombre()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Proceso Padre</mat-label>
                    <mat-icon id="iprocesoR" matSuffix matTooltipClass="procesoR-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar uno de los procesos listados, el mismo que figurar como proceso superior al nuevo proceso creado">
                        help_outline</mat-icon>
                    <mat-select [formControl]="procesoPadre" required>
                        <mat-option [value]="0">Ninguno proceso</mat-option>
                        <mat-option *ngFor="let p of procesos" [value]="p.nombre">
                            {{p.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Nivel</mat-label>
                    <mat-icon id="iprocesoR" matSuffix matTooltipClass="procesoR-tooltip" matTooltipPosition="right"
                        matTooltip="Seleccionar el nivel del nuevo proceso">
                        help_outline</mat-icon>
                    <mat-select [formControl]="nivel" required>
                        <mat-option *ngFor="let n of niveles" [value]="n.nombre">
                            {{n.valor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
    <div style="text-align: center;">
        <input type="submit" class="btn btn-sm" (click)="insertarProceso(nuevoProcesoForm.value)"
            [disabled]="!nuevoProcesoForm.valid" value="Guardar">
        <input type="submit" class="btn btn-sm" (click)="CerrarVentanaRegistroProceso()" value="Salir">
    </div>
</div>