<<<<<<< HEAD
mat-form-field.input-tables {
    margin-bottom: -5px;
    font-size: 10px;
    text-align: center;
}

.codigo { width: 60px; }
.nombre { width: 70px; }
.apellido { width: 80px; }
.cedula { width: 100px; }

mat-expansion-panel-header { text-align: center; background: rgb(52,65,84); }

mat-panel-title { color: white; }

mat-panel-description { color: white; }

#resulEmpleados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}
=======
table { width: 100%; font-size: 13px;}

#limpiar { cursor: pointer; padding-top: 10px; margin-right: 20px;}
>>>>>>> 02d14eadb2de328920347110074d739493c5f935
