<br>
<div class="container">
    <div class="row">
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="d-flex bd-highlight">
                        <mat-panel-title class="w-100 bd-highlight">
                        Críterios de Búsqueda
                        </mat-panel-title>
                        <mat-icon class="flex-shrink-1 bd-highlight" matTooltipPosition="right"
                        matTooltip="Se puede filtra de acuerdo al campo que escriba">search</mat-icon>
                    </mat-expansion-panel-header>
            
                    <form [formGroup]="">
                        <div class="d-flex flex-wrap justify-content-center">
                            <mat-form-field>
                                <mat-label>Buscar por empleado</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroTimbreEmpl"
                                    [formControl]="nom_empleado" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="nom_empleado.invalid">Indispensable ingresar más de dos letras
                                </mat-error>
                                <mat-icon matSuffix matTooltipPosition="right" id="help"
                                    matTooltip="Búsqueda por el nombre del empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Buscar por descripción</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroTimbreDesc" 
                                    [formControl]="descripcion" type="text" (keypress)="IngresarSoloLetras($event)">
                                <mat-error *ngIf="descripcion.invalid">Indispensable ingresar más de dos letras
                                </mat-error>
                                <mat-icon matSuffix matTooltipPosition="right" id="help"
                                    matTooltip="Búsqueda por descripción del timbre">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Buscar por fecha</mat-label>
                                <input matInput placeholder="Ej: " [(ngModel)]="filtroTimbreFech"
                                    [formControl]="fecha" type="text">
                                <mat-error *ngIf="fecha.invalid">Indispensable ingresar más de dos letras
                                </mat-error>
                                <mat-icon matSuffix matTooltipPosition="right" id="help"
                                    matTooltip="Búsqueda por fecha del aviso">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="d-flex justify-content-around">
                        <button mat-button type="submit" class="btn btn-sm" id="boton" (click)="limpiarCampos()">Cancelar</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<br>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div class="mat-elevation-z8" style="background-color: white;">
        <div class="d-flex bd-highlight" id="TituloNotifi">
            <mat-icon class="flex-shrink-1 bd-highlight" (click)="HabilitarSeleccion()" matSuffix matTooltipPosition="right" 
                matTooltip="Activa o desactiva selección múltiple para desactivar empleados masivamente" id="SelectCheck">library_add_check</mat-icon>
            <button  *ngIf="btnCheckHabilitar" class="btn btn-outline-light" style="float: left; margin-left: 10px;" 
                (click)="Deshabilitar(1)">Confirmar</button>
            <span class="w-100 bd-highlight"> Lista de todos los avisos</span>
        </div>
        <table class="table table-hover table-sm ">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th>
                        <mat-checkbox *ngIf="btnCheckHabilitar" (change)="$event ? masterToggle() : null"
                                        [checked]="selectionUno.hasValue() && isAllSelected()"
                                        [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of timbres_noti | avisoEmpl: filtroTimbreEmpl | avisoDesc: filtroTimbreDesc | avisoFech: filtroTimbreFech | paginate:tamanio_pagina:numero_pagina">
                    <td>
                        <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                      (change)="$event ? selectionUno.toggle(t) : null"
                                      [checked]="selectionUno.isSelected(t)"
                                      [aria-label]="checkboxLabel(t)">
                        </mat-checkbox>
                    </td>
                    <td>{{t.empleado}}</td>
                    <td>{{t.descripcion}}</td>
                    <td>{{t.create_at.split('T')[0]}}</td>
                    <td>{{t.create_at.slice(11,16)}}</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="timbres_noti.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>