<br>
<div class="container" style="margin-bottom: 25px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-md" style="margin-bottom: 25px; padding-bottom: 10px;">
            <div class="barraTituloF">
                <span>FERIADOS</span>
            </div>
            <mat-card class="example-card mat-elevation-z9">
                <h5>Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarFeriadosForm">
                    <div class="d-flex flex-wrap justify-content-center">
                        <mat-form-field>
                            <mat-label>Descripción</mat-label>
                            <input matInput placeholder="Nombre feriado" name="filtroDescripcion"
                                [formControl]="descripcionF" [(ngModel)]="filtroDescripcion"
                                (keypress)="IngresarSoloLetras($event)">
                            <mat-icon id="feriado" matSuffix matTooltipClass="listaF-tooltip"
                                matTooltipPosition="right" matTooltip="Búsqueda del feriado por el nombre">
                                help_outline</mat-icon>
                            <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeDescripcionLetras()}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha</mat-label>
                            <input matInput name="filtradoFecha" type="date" placeholder="Seleccionar fecha"
                                [formControl]="fechaF" [(ngModel)]="filtradoFecha" id="feriado"
                                matTooltip="Búsqueda del feriado por la fecha">
                        </mat-form-field>
                    </div>
                </form>
                <div class="d-flex flex-wrap justify-content-center">
                    <input type="submit" class="btn btn-sm button" (click)="AbrirVentanaRegistrarFeriado()"
                        value="Crear nuevo Feriado">
                    <input type="submit" class="btn btn-sm button" (click)="LimpiarCampos()" value="Cancelar">
                </div>
            </mat-card>
        </div>
        <div class="col-md">
            <div class="barraTituloF">
                <span>REGISTRO MULTIPLE DE FERIADOS</span>
            </div>
            <mat-card class="mat-elevation-z9 d-flex flex-wrap justify-content-center" id="carta1">
                <form method="post" enctype="multipart/form-data">
                    <input (change)="FileChange($event)" type="file" [formControl]="archivoForm" id="file"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <label for="file" class="btn-2" matSuffix matTooltipClass="listaF-tooltip"
                        matTooltipPosition="right"
                        matTooltip="Presionar para seleccionar Plantilla con nombre Feriados">Subir Feriados</label>
                </form>
                <a mat-button type="submit" id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                    matTooltip="Dar click para ver o descargar el documento"
                    href="{{hipervinculo}}/plantillaD/documento/Feriados.xlsx">
                    <span class="material-icons">cloud_download</span> Descargar Plantilla Feriados
                </a>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 10px; margin-bottom: 35px;">
    <div class="mat-elevation-z8" style="background: white;">
        <div id="resultados">Resultado de búsqueda</div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Fecha Recuperación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let f of feriados | filtroNombre: filtroDescripcion | filtroFecha: filtradoFecha | paginate:tamanio_pagina:numero_pagina ">
                        <td id="desc" style="font-size: 14px;">{{f.descripcion}}</td>
                        <td style="font-size: 12px;">{{f.fecha}}</td>
                        <td style="font-size: 12px;">{{f.fec_recuperacion}}</td>
                        <td class="d-flex justify-content-center">
                            <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                                matTooltip="Asignar ciudad en la que rige este feriado" class="fas fa-city" id="ciudad"
                                (click)="AbrirVentanaAsignarCiudad(f)">
                                <p>Ciudad</p>
                            </i>
                            <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                                matTooltip="Ver datos generales de este feriado" class="fas fa-eye" id="ver"
                                [routerLink]="['/verFeriados/', f.id]">
                                <p>Ver</p>
                            </i>
                            <i matSuffix matTooltipPosition="right"
                                matTooltip="Modificar datos generales de este feriado" class="fas fa-edit"
                                (click)="AbrirVentanaEditarFeriado(f)">
                                <p>Editar</p>
                            </i>
                            <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro"
                                class="far fa-trash-alt" (click)="ConfirmarDelete(f)"
                                style="color:red; margin-left: 15px;">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="feriados.length" [pageSize]="tamanio_pagina" [pageSizeOptions]="pageSizeOptions"
            id="estilo" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
        <div class="d-flex justify-content-end" style="margin-right: 5%;">
            <i (click)="GenerarPdf('download')" id="pdf" class="fas fa-file-pdf" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Feriados en formato PDF">
                <p>PDF</p>
            </i>
            <i (click)="ExportToExcel()" id="excel" class="fas fa-file-excel" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Feriados en formato EXCEL">
                <p>XLSL</p>
            </i>
            <i (click)="ExportToCVS()" id="csv" class="fas fa-file-csv" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Feriados en formato CSV">
                <p>CSV</p>
            </i>
            <i (click)="ExportToXML()" id="xml" class="fas fa-file-code" matSuffix matTooltipPosition="right"
                matTooltipClass="departamento-tooltip" matTooltip="Descargar Lista de Feriados en formato XML">
                <p>XML</p>
            </i>
        </div>
    </div>
</div>