<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <mat-card class="example-card mat-elevation-z9">
                <div class="barraTituloF">
                    <span>FERIADOS</span>
                </div>
                <br>
                <h5>Críterios de Búsqueda</h5>
                <form [formGroup]="BuscarFeriadosForm">
                    <mat-card-content>
                        <div class="container" style="text-align: center">
                            <mat-form-field>
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Nombre feriado" name="filtroDescripcion"
                                    [formControl]="descripcionF" [(ngModel)]="filtroDescripcion"
                                    (keypress)="IngresarSoloLetras($event)">
                                <mat-icon id="feriado" matSuffix matTooltipClass="listaF-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda del feriado por el nombre">
                                    help_outline</mat-icon>
                                <mat-error *ngIf="descripcionF.invalid">{{ObtenerMensajeDescripcionLetras()}}
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Fecha</mat-label>
                                <input matInput name="filtradoFecha" type="date" placeholder="Seleccionar fecha"
                                    [formControl]="fechaF" [(ngModel)]="filtradoFecha">
                                <mat-icon id="feriado" matSuffix matTooltipClass="listaF-tooltip"
                                    matTooltipPosition="right" matTooltip="Búsqueda del feriado por la fecha">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </form>
                <mat-card-actions style="text-align: center">
                    <input type="submit" class="btn btn-danger btn-sm" (click)="LimpiarCampos()" value="Cancelar">
                    <input type="submit" class="btn btn-primary btn-sm" (click)="AbrirVentanaRegistrarFeriado()"
                        value="Crear nuevo Feriado">
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<br>
<div class="container  table-responsive" style="padding-bottom: 50px;">
    <div id="resultados">Resultado de búsqueda</div>
    <table mat-table class="mat-elevation-z8 table table-hover table-sm">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Fecha Recuperación</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of feriados | filtroNombre: filtroDescripcion | filtroFecha: filtradoFecha">
                <td>{{f.descripcion}}</td>
                <td>{{f.fecha}}</td>
                <td>{{f.fec_recuperacion}}</td>
                <td>
                    <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                        matTooltip="Asignar ciudad en la que rige este feriado" class="fas fa-city" id="ciudad"
                        (click)="AbrirVentanaAsignarCiudad(f)">
                        <p>Ciudad</p>
                    </i>
                    <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                        matTooltip="Modificar datos generales de este feriado" class="fas fa-edit"
                        (click)="AbrirVentanaEditarFeriado(f)">
                        <p>Editar</p>
                    </i>
                    <i matSuffix matTooltipClass="listaF-tooltip" matTooltipPosition="right"
                        matTooltip="Ver datos generales de este feriado" class="fas fa-eye" id="ver"
                        [routerLink]="['/verFeriados/', f.id]">
                        <p>Ver</p>
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</div>