<div class="d-flex bd-highlight tituloNotifica">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">Cambiar estado de la autorización</h5>
</div>
<div class="container" style="text-align: center;">
    <div class="nota">
        <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
            Guardar.</span>
    </div>
    <form [formGroup]="estadoAutorizacionesForm">
        <mat-form-field>
            <mat-label id="selecDepa">Estados *</mat-label>
            <mat-icon id="notifica" matSuffix matTooltipClass="notifica-tooltip"
                matTooltipPosition="right"
                matTooltip="Lista de estados">
                help_outline</mat-icon>
            <mat-select [formControl]="estado">
                <mat-option *ngFor="let e of estados" [value]="e.id">
                    {{e.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div style="text-align: center;">
    <input type="submit" class="btn btn-sm"
        (click)="ActualizarEstadoAutorizacion(estadoAutorizacionesForm.value)"
        [disabled]="!estadoAutorizacionesForm.valid" value="Guardar">
    <input type="submit" (click)="dialogRef.close()" class="btn btn-sm" value="Salir"
        style="margin-left: 15px;">
</div>