.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;} 

mat-form-field {width: 250px; padding: 10px 10px 0px 10px;}

p { font-size: x-small; }

.barraTitulo { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#resultados { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

mat-form-field { padding: 10px 15px 0px 15px;}

table { width: 100%; font-size: 14px;}

#estilo { color: rgb(0, 0, 0); font-size: 13px; }

#centrar { padding-top: 10px; text-align: center }