/*.empre-tooltip { background-color : rgb(0, 102, 128); }*/

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

#empre { cursor: pointer; }

.button {margin: 5px 10px 5px 10px;}

.tituloEmpresaR { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px;
}

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}
