td { padding-top: 10px; text-align: center; }

h5 { text-align: center; } 

p { font-size: x-small; }

.btn { margin: 5px 10px 5px 10px; background-color: rgb(80,87,97); color: white; } 

.fas { color:green; margin-left: 20px; cursor: pointer; }

.far { color:red; margin-left: 20px; cursor: pointer; }

mat-form-field { padding: 10px 15px 0px 15px;}

.TituloEnrolado { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 6px; 
}

#i_enrolado { cursor: pointer; }

#enr_reloj { color: rgb(38, 0, 255); }

#verEnrolado { color: indianred; }

#resulEnrolado { 
    font-size: 17px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white;  
    padding-top: 10px; 
    padding-bottom: 6px; 
}



#pdf { color:red; font-size: 20px; text-align: center; margin-left: 20px; }

#excel { color:green; font-size: 20px; text-align: center; margin-left: 20px; }

#csv { color:blue; font-size: 20px; text-align: center; margin-left: 20px; }

#xml { color:orangered; font-size: 20px; text-align: center; margin-left: 20px; cursor: pointer; }

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label.btn-2 {
    background-color: rgb(150, 243, 141);
    overflow: hidden;
}

[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    margin-left: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

[type="file"] + label.btn-2:hover {
    background-color: rgb(21, 130, 1);
}

[type="file"] + label.btn-2:hover::before {
    right: 80%
}

#descargar:hover { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 58px; 
    background-color: rgb(0, 76, 255);
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}

#descargar { 
    font-weight: bold; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
    border-radius: 5px; 
    height: 55px; 
    background-color: #93a3c7; 
    overflow: hidden;
    padding-top: 10px; 
    padding-bottom: 6px;
    margin-left: 5px;
}