<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloEnrolar">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Enrolar a un Empleado</span>
</div>
<br>
<form [formGroup]="nuevoEnroladoForm">
    <mat-card-content>
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Seleccione usuario *</mat-label>
                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                            matTooltip="Búsqueda de Régimen Laboral por la descripción">
                            help_outline</mat-icon>
                        <mat-select formControlName="enroladoId_UsuarioForm">
                            <mat-option *ngFor="let u of usuarios" [value]="u.usuario">
                                {{u.usuario}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Ingresar Nombre</mat-label>
                        <input matInput placeholder="Ej: Usuario" formControlName="enroladoNombreForm"
                            (keypress)="IngresarSoloLetras($event)" required>
                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar nombre del usuario enrolado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Ingresa Contraseña</mat-label>
                        <input matInput placeholder="máximo 10 caracteres" [type]="hide ? 'password' : 'text'"
                            maxlength="10"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            formControlName="enroladoContraseniaForm" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                                matTooltip="Ocultar o mostrar la contraseña ingresada">
                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input matInput placeholder="máximo 10 caracteres" [type]="hide ? 'password' : 'text'"
                            maxlength="10"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                                matTooltip="Ocultar o mostrar la contraseña ingresada">
                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Número de huella </mat-label>
                        <input matInput placeholder="Ejm: 1" formControlName="enroladoFingerForm"
                            (keypress)="IngresarSoloNumeros($event)" required>
                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar el número del dedo del cual se va a obtener la huella del empleado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Data finger </mat-label>
                        <input matInput placeholder="Ejm: 1" formControlName="enroladoData_FingerForm"
                            (keypress)="IngresarSoloNumeros($event)" required>
                        <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                            matTooltip="Registro de la huella del empleado que será enrolado">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <section class="example-section">
                        <mat-radio-group aria-label="Select an option" formControlName="enroladoActivoForm" required>
                            <mat-label>Activo *</mat-label>
                            <mat-icon id="iEnrol" matSuffix matTooltipClass="enrol-tooltip" matTooltipPosition="right"
                                matTooltip="Indicar cual es el estado del enpleado enrolado">
                                help_outline</mat-icon>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <br>
                                        <mat-radio-button value="true">Si</mat-radio-button>
                                        <mat-radio-button value="false">No</mat-radio-button>
                                    </div>
                                </div>
                            </div>
                        </mat-radio-group>
                    </section>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center;">
    <input type="submit" class="btn btn-sm" (click)="insertarEnrolado(nuevoEnroladoForm.value)"
        [disabled]="!nuevoEnroladoForm.valid" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="cerrarVentanaRegistroEnrolado()" value="Salir">
</div>