.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }

mat-radio-group { width: 210px; padding: 15px 20px 15px 20x; margin-bottom: 10px;}

.btn { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;} 

#movilidad { 
    cursor: grab;
    color: blue;
    margin-left: 10px;
}

.tituloEnrolar { 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    height: 50px; 
}

#iEnrol { cursor: pointer; }

/*.enrol-tooltip { background-color : rgb(3, 167, 167); }*/

#nombreEmpl { font-size: 14px; }

.nota {
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
    padding: 13px 5px 10px 5px; 
    color: rgb(52,65,84);
}

.progress {
    margin: 250px auto auto auto;
    opacity: 1
}

.pantalla-progress {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffff;
    opacity: 0.8;
}

mat-progress-spinner {
    background: transparent;
    z-index: 100;
}