.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }
.btn { border-radius: 25px; margin-left: 15px; margin-top: 15px;}
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
.tituloEnrolar { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(3, 167, 167); 
    color: white; 
    border-radius: 10px; 
    padding-top: 10px; 
}
#iEnrol { color:rgb(3, 167, 167); font-size: 18px; }
.enrol-tooltip { background-color : rgb(3, 167, 167); }