<div class="d-flex bd-highlight config">
    <mat-icon class="flex-shrink-1 bd-highlight" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Configurar Firmas</h5>
</div>
<br>
<form class="example-form" [formGroup]="FirmasformGroup" ngNativeValidate>
    <div class="d-flex flex-wrap">
        <div class="caja">
            <mat-slide-toggle formControlName="firma_jefe">Firma Jefe </mat-slide-toggle>
        </div>
        <div class="caja">
            <mat-slide-toggle formControlName="firma_resp">Firma Responsable </mat-slide-toggle>
            <!-- <div class="d-flex flex-wrap justify-content-start">
            </div> -->
        </div>
        <div class="caja">
            <mat-slide-toggle formControlName="firma_empl">Firma ... </mat-slide-toggle>
        </div>
    </div>
</form>
<div class="d-flex justify-content-around" style="padding-top: 10px;">
    <button class="btn" type="submit"
        (click)="CrearConfiguracion(FirmasformGroup.value)">Guardar</button>
    <button class="btn" type="submit" (click)="this.dialogRef.close()">Cancelar</button>
</div>