<div class="container pantalla">
    <!-- Formulario Completo -->
    <br>
    <div class="container">
        <img width="80" height="250" src="../../../assets/imagenes/logo/logoAdmin.png">
    </div>
    <br>
    <h5>Acceso al Sistema</h5>
    <div class="container">
        <div class="row" style="padding-top: 15px; padding-bottom: 25px;">
            <div class="col"></div>
            <div class="col">
                <mat-card class="mat-elevation-z8">
                    <form [formGroup]="validarCredencialesF">
                        <mat-form-field>
                            <mat-label>Ingresa tu Usuario</mat-label>
                            <input matInput placeholder="pat@example.com" [formControl]="userMail" required>
                            <mat-error *ngIf="userMail.invalid">{{getCampoUsuarioError()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Ingresa tu contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="pass" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="pass.invalid">{{getCampoContraseniaError()}}</mat-error>
                        </mat-form-field>
                    </form>
                    <div style="margin: auto;">
                        <input type="submit" class="btn btn-primary btn-sm" style="margin-left: 15px; margin-top: 15px;"
                            (click)="validarUsuario(validarCredencialesF.value)"
                            [disabled]="!validarCredencialesF.valid" value="Ingresar">
                    </div>
                </mat-card>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>