<mat-icon id="movilidad">open_with</mat-icon>
<div class="tituloNotifica">
    <span mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Autorización Asignada</span>
</div>
<h5 style="text-align: center;">NOTIFICACIÓN {{data.tipo}}</h5>
<div class="container" style="padding-top: 15px;" *ngFor="let n of noti_autorizacion">
    <div class="row">
        <div class="col">
            <label class="col-sm col-form-label">Orden:</label>
        </div>
        <div class="col">
            <label class="col col-form-label">{{n.orden}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="col-sm col-form-label">Empleado:</label>
        </div>
        <div class="col">
            <label class="col col-form-label">{{n.nombre}} {{n.apellido}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="col-sm col-form-label">Código Cargo:</label>
        </div>
        <div class="col">
            <label class="col col-form-label">{{n.id_empl_cargo}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="col-sm col-form-label">Cargo:</label>
        </div>
        <div class="col">
            <label class="col col-form-label">{{n.cargo}}</label>
        </div>
    </div>
</div>
<br>
<div style="text-align: center;">
    <input *ngIf="habilitarA" type="submit" class="btn btn-sm" (click)="AbrirNotificacionAutorizacion(data)" 
        matTooltipPosition="right" matTooltip="Agrega más tipos de permisos de este departamento." value="Agregar">
    <input type="submit" (click)="dialogRef.close()" class="btn btn-sm" value="Salir" style="margin-left: 15px;">
</div>