#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}

.btn { margin-left: 20px; background-color: rgb(80,87,97); color: white; }

.tituloNotifica { 
    font-size: 20px; 
    text-align: center; 
    background: rgb(52,65,84); 
    color: white; 
    padding-top: 10px; 
}

.col-sm { font-weight: bold;}

#iprocesoL { cursor: pointer; }