<div class="d-flex bd-highlight tituloHorarioL">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center">ACTUALIZAR DOCUMENTO</h5>
</div>
<br>
<div class="d-flex flex-wrap justify-content-center" style="text-align: center;">
    <form method="post" enctype="multipart/form-data">
        <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file">
        <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" id="iHor" matSuffix
             matTooltipPosition="right"
            matTooltip="Subir documentos. Tamaño máximo permitido 2MB">Subir
            Archivo</label>
    </form>
    <form [formGroup]="GuardarDocumentoForm">
        <input readonly id="nomDoc" type="text" placeholder="Ningún archivo seleccionado"
            class="form-control" style="width: 230px;" [formControl]="nombreDocumentoF">
    </form>
</div>
<br>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm" [disabled]="!GuardarDocumentoForm.valid"
        (click)="InsertarDocumento(GuardarDocumentoForm.value)" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentanaEditar()" value="Salir">
</div>