<div class="scrollbar scrollbar-primary">
    <mat-icon id="movilidad">open_with</mat-icon>
    <div class="config">
        <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Configuración de Avisos</h5>
    </div>
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
        <p>Vacaciones habilitar </p>
        <mat-slide-toggle formControlName="vacaMail">Correo </mat-slide-toggle>
        <mat-slide-toggle formControlName="vacaNoti">Notificaciones</mat-slide-toggle>
        <p>Permisos habilitar </p>
        <mat-slide-toggle formControlName="permisoMail">Correo </mat-slide-toggle>
        <mat-slide-toggle formControlName="permisoNoti">Notificaciones</mat-slide-toggle>
        <p>Horas Extras habilitar </p>
        <mat-slide-toggle formControlName="horaExtraMail">Correo </mat-slide-toggle>
        <mat-slide-toggle formControlName="horaExtraNoti">Notificaciones</mat-slide-toggle>
    </form>
    <div class="d-flex justify-content-around" style="padding-top: 10px;">
        <button class="btn btn-primary" type="submit" *ngIf="btnActualizar"
            (click)="ActualizarConfiguracion(formGroup.value)">Guardar</button>
        <button class="btn btn-primary" type="submit" *ngIf="btnCrear"
            (click)="CrearConfiguracion(formGroup.value)">Guardar</button>
        <button class="btn btn-danger" type="submit" (click)="this.dialogRef.close()">Cancelar</button>
    </div>
</div>