.example-form mat-slide-toggle { margin: 8px 0; display: block; }

p { font-weight: bold; }

#movilidad { cursor: grab; color: blue; font-size: 20px; }

.config { text-align: center; background: rgb(52,65,84); color: white; padding-top: 14px; }