<div class="d-flex bd-highlight config">
    <mat-icon class="flex-shrink-1 bd-highlight" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Configuración de
        Avisos</h5>
</div>
<br>
<form class="example-form" [formGroup]="formGroup" ngNativeValidate>
    <div class="d-flex flex-wrap">
        <div class="caja">
            <p>Vacaciones habilitar</p>
            <div class="d-flex flex-wrap justify-content-start">
                <mat-slide-toggle formControlName="vacaMail">Correo </mat-slide-toggle>
                <mat-slide-toggle formControlName="vacaNoti">Notificaciones</mat-slide-toggle>
            </div>
        </div>
        <div class="caja">
            <p>Permisos habilitar</p>
            <div class="d-flex flex-wrap justify-content-start">
                <mat-slide-toggle formControlName="permisoMail">Correo </mat-slide-toggle>
                <mat-slide-toggle formControlName="permisoNoti">Notificaciones</mat-slide-toggle>
            </div>
        </div>
        <div class="caja">
            <p>Horas Extras habilitar</p>
            <div class="d-flex flex-wrap justify-content-start">
                <mat-slide-toggle formControlName="horaExtraMail">Correo </mat-slide-toggle>
                <mat-slide-toggle formControlName="horaExtraNoti">Notificaciones</mat-slide-toggle>
            </div>
        </div>
        <div class="caja">
            <p>Alimentación habilitar</p>
            <div class="d-flex flex-wrap justify-content-start">
                <mat-slide-toggle formControlName="comidaMail">Correo </mat-slide-toggle>
                <mat-slide-toggle formControlName="comidaNoti">Notificaciones</mat-slide-toggle>
            </div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-around" style="padding-top: 10px;">
    <button class="btn btn-primary" type="submit" *ngIf="btnActualizar"
        (click)="ActualizarConfiguracion(formGroup.value)">Guardar</button>
    <button class="btn" type="submit" *ngIf="btnCrear" (click)="CrearConfiguracion(formGroup.value)">Guardar</button>
    <button class="btn" type="submit" (click)="this.dialogRef.close()">Cancelar</button>
</div>