.btn { background-color: rgb(80,87,97); margin-left: 15px; color: white; }

mat-form-field { padding: 10px 15px 0px 15px; width: 250px;}

#selecAlmuerzo { font-size: 14px; }

#planComida { cursor: pointer; }

.tituloPlanificacionAlmuerzos { 
    background: rgb(52,65,84); 
    text-align: center; 
    padding-top: 14px;
    font-size: 25px; 
    color: white; 
}

#mover { 
    margin-left: 10px;
    font-size: 20px;
    color: blue;
    cursor: grab;
}

.nota {
    padding: 0px 5px 10px 5px;
    color: rgb(52,65,84);
    text-align: justify;
    font-weight: bold; 
    font-size: 12px; 
}

.scrollbar {
    margin-bottom: 25px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
    float: left;
    width: 100%;
}

.scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5; 
    width: 12px;
}