.mat-radio-button ~ .mat-radio-button { margin-left: 16px; }
.btn { margin-left: 15px; border-radius: 25px; } 
#movilidad { 
    cursor: grab;
    color: blue;
    font-size: 20px;
}
.barraTituloContratoE { 
    text-align: center; 
    background: rgb(17, 182, 44); 
    color: white; 
    border-radius: 25px; 
    padding-top: 14px; 
    padding-bottom: 0.5px;
}
.contratoE-tooltip { background-color : rgb(17, 182, 44); }
#contratoE { color:rgb(17, 182, 44); font-size: 18px; }
