<mat-icon id="movilidad">open_with</mat-icon>
<div class="planHorarioE">
    <h5 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Planificación Horario</h5>
</div>
<!-- Formulario Completo -->
<form [formGroup]="PlanHorarioForm">
    <mat-card-content>
        <div class="container" style="text-align: center">
            <div class="nota">
                <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                    Guardar.</span>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label id="fec">Fecha inicio de actividades</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControl]="fechaIngresoF"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker" matSuffix id="icono" matSuffix
                            matTooltipClass="contratoE-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de inicio de actividades. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label id="fec">Fecha fin de actividades</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="dd/mm/aaaa" [formControl]="fechaSalidaF"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker2" matSuffix id="icono" matSuffix
                            matTooltipClass="contratoE-tooltip" matTooltipPosition="right"
                            matTooltip="Ingresar la fecha de finalización de actividades. Seleccione la fecha dando click en el icono de calendario o puede escribir la fecha con el formato  día/mes/año. Ejemplo: 12/04/1993">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
<div style="text-align: center">
    <mat-card-actions style="text-align: center">
        <input type="submit" class="btn btn-sm" [disabled]="!PlanHorarioForm.valid"
            (click)="ValidarDatosPlanHorario(PlanHorarioForm.value)" value="Guardar">
        <input type="submit" (click)="CerrarVentanaPlanHorario()" class="btn btn-sm" value=" Salir">
    </mat-card-actions>
</div>